<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/fragments :: head"></head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div th:replace="fragments/fragments :: menu_izquierdo"></div>	
			<div th:replace="fragments/fragments :: header"></div>
		
	<div th:if="${error != null}" class="alert alert-danger alert-dismissable alert-tpv">
		<div class="tit-alert" >
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			 <i class="fa fa-check-circle"></i> Error
		</div>
		<small th:text="${error}"></small>
	</div>	

    <div th:if="${warning != null}" class="alert alert-warning alert-dismissable alert-tpv">
		<div class="tit-alert" >
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			 <i class="fa fa-check-circle"></i> Aviso
		</div>
		<small th:text="${warning}"></small>
	</div>

	<div th:if="${success != null}" class="alert alert-success alert-dismissable alert-tpv">
		<div class="tit-alert" >
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			 <i class="fa fa-check-circle"></i> Éxito
		</div>
		<small th:text="${success}"></small>
	</div>


<!-- Page content -->
<div class="right_col" role="main">
	<div class="page-title">
		<div class="title_left">
			<h3>Editar Forma de Pago</h3>
		</div>
	</div>

	<div class="clearfix"></div>
		<div class="row">

			<!-- AQUI EMPIEZA EL CONTENIDO -->
			<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
				<div th:fragment="content">
					<div class="x_panel">
						<div class="x_title">
							<h3 th:text="${formapago.nombre}" class="tit-view-gene"></h3>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<div class="row">
							<form th:action="@{/admin/empresas/formasPago/} + ${formapago.id} + @{/editar}" th:object="${formapago}" method="post" enctype="multipart/form-data" class="form-horizontal form-label-left">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<input type="hidden" th:field="*{id}" />
										
										<div class="item form-group">
											<label class="control-label text-left col-md-2 col-sm-2 col-xs-12"
												for="nombre" style="text-align:left;">Nombre <span class="required">*</span>
											</label>
											<div class="col-sm-7 col-xs-12">
												<input type="text" th:field="*{nombre}" class="form-control"
													th:errorclass="'form-control alert-danger'" required="required"/> <small
													class="form-text text-danger"
													th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
											</div>
										</div>
										<div class="form-group row">
										<!-- AQUI EMPIEZA EL CONTENIDO -->
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
											<div th:fragment="content">
												<div class="x_panel">
													<div class="x_content">
														<div style="overflow-x:auto;">
														
															<div class="title_left">
																<h3>Se listan las empresas y sus respectivas sucursales:</h3>
															</div>
														
															<table class="table table-responsive table-hover" th:each="registro: ${marEmpSucUsuRol}">
																<thead>
																	<tr>
																		
																		<th  th:text="${registro.empresa.nombre}" style="width:85%;"></th>
																		<th> <input th:field="*{empresa}" type="checkbox" th:value="${registro.empresa.id}"  class="check-empresa" th:id="${'empresa'+registro.empresa.id}" onclick="chequearEmpresa(this.id);"/><small
																					class="form-text text-danger" 
																					th:if="${#fields.hasErrors('empresa')}" th:errors="*{empresa}" ></small></th>
																	</tr>
																</thead>
																<!-- Solo permite consultar las formas de pago según el permiso en el rol -->
																<tbody th:if="${#lists.contains(funcionalidadesPermisos, '64')}">
																	<th:block th:each="empre_sucur: ${empre_sucur}">
																		<th:block th:if="${empre_sucur!=null}" th:each="sucursales: ${empre_sucur}">
																			<tr th:if="${empre_sucur.empresa.id == registro.empresa.id}" id="listaSucursales">
																				<td th:text="${sucursales.sucursal.nombre}" style="width:85%;"></td>
																				<td>
																				<input th:field="*{sucursales}" type="checkbox" th:value="${sucursales.sucursal.id}"  th:id="${sucursales.sucursal.id+'_'+sucursales.empresa.id}" th:class="${'check-sucursal '+'check-sucursal-empresa'+sucursales.empresa.id}" onclick="chequearSucursal(this.id);"/><small
																					class="form-text text-danger" 
																					th:if="${#fields.hasErrors('sucursales')}" th:errors="*{sucursales}"  ></small>
																					
																				</td>
																			</tr>
																		</th:block>
																	</th:block>	
																	
																</tbody>
															</table>
															
														</div>
													</div>
												</div>
											</div>
										</div>
										</div>
											<div class="form-group row">
														<div class="col-xs-9">
															<div class="error-sucursal col-12 alert alert-danger" style="display:none;">
																Debe asignar al menos una sucursal a la forma de pago
															</div>
														</div>
													</div>
										<div class="item form-group">
											<label class="control-label col-xs-6"
												for="habilitar">Mostrar (Mostrar forma de pago en TPV)<span class="required"></span>
											</label>
											<div class=" col-xs-4 p-t-1">
												<input th:field="*{habilitar}" type="checkbox" th:value="${habilitar}" th:class="articulo-fav" /><small
													class="form-text text-danger" 
													th:if="${#fields.hasErrors('habilitar')}" th:errors="*{habilitar}"></small>
											</div>
										</div>
									</div>
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="text-align: center;">
										<div class="ln_solid"></div>
										<div class="form-group">
											<a th:href="@{/admin/empresas/FormasPago}" class="btn btn-primary">Cancelar</a>
											<button id="send" type="submit" class="btn btn-success">Enviar</button>
										</div>

									</div>
								</div>

							</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

			<footer th:replace="fragments/fragments :: footer"></footer>
			
		</div>
	<div th:replace="fragments/fragments :: scripts"></div>
	<script type="text/javascript">
		//Para ocultar el div que muestra el error en caso de seleccionarse una opción
	    function chequearSucursal(id_empresa){
			
	    	if ($("#"+id_empresa).prop('checked') == true){
	    		$(".error-sucursal").css('display','none');
	    	
			}
	    	
    		leng=id_empresa.substring(id_empresa.indexOf("_")+1, id_empresa.length);
    		console.log($('#empresa'+leng).prop('checked'));
    		if($('#empresa'+leng).prop('checked') == true){
    			if ($('.check-sucursal-empresa'+leng+':checkbox:checked').length === 0) {
    				$("#empresa"+leng).prop("checked",false);
    		    }
    			
    		}else{
    		$("#empresa"+leng).prop("checked",true);
    	}
		};
		
		  function chequearEmpresa(id_empresa){
				
		    	if ($("#"+id_empresa).prop('checked') == true){
		    		$(".error-sucursal").css('display','none');
		    		$('.check-sucursal-'+id_empresa).prop("checked",true);
				}else{
					$('.check-sucursal-'+id_empresa).prop("checked",false);
				}
		    	
	    	
			};
	
		//Para validar si se cumple con todos los criterios necesarios para enviar el formulario 
		$('form').submit(function(e){
			
			
		    // si la cantidad de checkboxes "chequeados" es cero, entonces se evita que se envíe el formulario y se
		    // muestra un mensaje de error
		    if ($('.check-sucursal:checkbox:checked').length === 0) {
		        $(".error-sucursal").css('display','');
		        return false;
		    }
		});
	</script>
</body>
</html>