<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/fragments :: head"></head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div th:replace="fragments/fragments :: menu_izquierdo"></div>	
			<div th:replace="fragments/fragments :: header"></div>


<!-- Page content -->
<div class="right_col" role="main">
	<div class="page-title">
		<div class="title_left">
			<h3>Formas de Pago</h3>
		</div>

		<div class="title_right">
			<div class="col-md-6 col-sm-6 col-xs-12 input-group pull-right">
					<input type="text" class="form-control popOverinfo" placeholder="Buscar formas de pago" name="buscador" id="buscador"
					data-toggle="popover" data-placement="left" data-title="Buscar formas de pago"  data-delay="500"
					data-content="Al hacer clic en una de las opciones, te lleva a ver su detalle."
					> 
					<input type="hidden" id="urlBuscador" value="/admin/empresas/formasPago/">	
			</div>
		</div>
	</div>

	<div class="clearfix"></div>
		<div class="row">

			<!-- AQUI EMPIEZA EL CONTENIDO -->
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
				<div th:fragment="content">
					<div class="x_panel">
						<div class="x_content">
							<div style="overflow-x:auto;">
								<table class="table table-responsive table-hover">
									<thead>
										<tr>
											<th></th>
											<th>Mostrar</th>
											<th>Forma de Pago</th>
										</tr>
									</thead>
									<!-- Solo permite consultar las formas de pago según el permiso en el rol -->
									<tbody th:if="${#lists.contains(funcionalidadesPermisos, '64')}">
										<tr th:each="formasPago: ${formasPago}">
											<td>
												<input type="radio" class="selectme" th:value = "${formasPago.id}" name="radioTable">
											</td>
											<td>
												
												<th:block th:if="${formasPago.habilitar == true}">
													<i class="fa fa-check" Style="font-size:20px;"></i>
												</th:block>
												<th:block th:if="${formasPago.habilitar == false}">
													<i class="fa fa-minus" Style="font-size:20px;"></i>
												</th:block>
											</td>
											<td th:text="${formasPago.nombre}"></td>
										
										</tr>
									</tbody>
								</table>
								<nav th:replace="fragments/paginatorNav :: paginator"></nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Botones del lateral derecho -->
			<div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-6 col-xs-offset-3 div-listar-botones">
				<!-- Solo permite crear forma de pago a los usuarios que tenga esa funcionalidad asignada a su rol -->
				<div th:if="${#lists.contains(funcionalidadesPermisos, '65')}">
					<a class="btn btn-primary btn-block text-left" th:href="@{/admin/empresas/formasPago/crear}">Crear<img class="right-0 pos-absolute m-r-15" width="20px" alt="nuevo" th:src="@{../../images/iconos/oscuros/nuevo.png}"></a>
				</div>
				<div th:if="${#lists.contains(funcionalidadesPermisos, '64')}" style="margin-top:15px;">
					<button class="btn btn-success btn-block text-left" onclick="verSeleccionado('/admin/empresas/formasPago/');">Ver<img class="right-0 pos-absolute m-r-15" width="20px" alt="ver" th:src="@{../../images/iconos/oscuros/ver.png}"></button>
				</div>			
				<!-- Solo permite editar forma de pago a los usuarios que tengan esa funcionalidad asignada a su rol -->
				<div th:if="${#lists.contains(funcionalidadesPermisos, '66')}" style="margin-top:15px;">
					<button class="btn btn-success btn-block text-left" onclick="editarSeleccionado('/admin/empresas/formasPago/');">Editar<img class="right-0 pos-absolute m-r-15" width="20px" alt="editar" th:src="@{../../images/iconos/oscuros/editar.png}"></button>
				</div>
			
				<!-- Solo permite eliminar una forma de pago a los usuarios que tengan esa funcionalidad asignada a su rol -->
				<div style="margin-top:15px;">
					<button class="btn btn-danger btn-block text-left" onclick="verificarSiFormaPagoTienePagos();" >Eliminar<img class="right-0 pos-absolute m-r-15" width="20px" alt="eliminar" th:src="@{../../images/iconos/oscuros/eliminar.png}"></button>
				</div>
			</div>
			
		</div>
	</div>
</div>		
			<!-- Modal eliminar-->
			<div class="modal fade" id="ModalEliminar" role="dialog">
			    <div class="modal-dialog">
			        <!-- Modal content-->
			        <div class="modal-content">
			            <div class="modal-body">
			                <div class="row">
			                    <div class="col-xs-12" style="text-align:center">
			                    <h3>Eliminar Forma de Pago</h3>
			                    </div>
			                </div>
			                <div class="row">
			                    <div class="cont-recup-text" >
			                        <p style="text-align:center;">¿Usted está seguro de eliminar la forma de pago seleccionada?</p>
			                    </div>
			                </div>
			                
							<div class="form-group">
		                    	<div class="row">
		                        	<div class="col-sm-5  col-sm-offset-1 col-xs-8" style="text-align:right">
		                                <button id="btn-eliminar" class="btn btn-success" onclick="eliminarSeleccionado('/admin/empresas/formasPago/');">
		                                    <i class="fa fa-btn fa-check"></i> Confirmar
		                                </button>
		                            </div>
		                            
		                            <div class="col-sm-5 col-xs-8">
		                                <button class="btn btn-danger" data-dismiss="modal">
		                                    <i class="fa fa-btn fa-times"></i> Cancelar
		                                </button>
		                            </div>
		                        </div>
			               </div>
			                
			            </div>
			        </div>  
			    </div>
			</div>
			<!-- Modal eliminar-->
			
			<!-- Modal Aviso Forma de Pago no se puede eliminar-->
			<div class="modal fade" id="ModalAvisoEliminarFormaPago" role="dialog">
			    <div class="modal-dialog">
			        <!-- Modal content-->
			        <div class="modal-content">
			            <div class="modal-body">
			                <div class="row">
			                    <div class="col-xs-12" style="text-align:center">
			                    <h3>Eliminar Forma de Pago</h3>
			                    </div>
			                </div>
			                <div class="row">
			                    <div class="cont-recup-text" >
			                        <p style="text-align:justify; padding:30px;">
			                        <b>Nota:</b><br>
			                        La forma de pago seleccionada no puede ser eliminada porque ya ha sigo utilizada en alguna de sus sucursales como método de pago.
			                        <br>Sólo puede eliminar formas de pago que no hayan sido utilizadas.
			                        </p>
			                    </div>
			                </div>
			                
							<div class="form-group">
		                    	<div class="row">
		                        	<div class="col-xs-12" style="text-align:center;">
		                                <button class="btn btn-success" data-dismiss="modal">
		                                    <i class="fa fa-btn fa-check"></i> Aceptar
		                                </button>
		                            </div>
		                        </div>
			               </div>
			                
			            </div>
			        </div>  
			    </div>
			</div>
			<!-- Modal Aviso Forma de Pago no se puede eliminar-->
			
			<!-- Modal de opcion no seleccionada-->
			<div class="modal fade" id="modalSinSeleccion" role="dialog">
			    <div class="modal-dialog">
			        <!-- Modal content-->
			        <div class="modal-content">
			            <div class="modal-body">
			                <div class="row">
			                    <div class="col-xs-12" style="text-align:center">
			                    <h3>Seleccionar una Forma de Pago</h3>
			                    </div>
			                </div>
			                <div class="row">
			                    <div class="cont-recup-text" >
			                        <p style="text-align:center;">Para continuar, debe seleccionar una forma de pago primero</p>
			                    </div>
			                </div>
			                
							<div class="form-group">
		                    	<div class="row">
		                        	<div class="col-sm-8 col-sm-offset-1 col-xs-10" style="text-align:right">
		                                <button class="btn btn-danger m-l-10" data-dismiss="modal">
		                                    <i class="fa fa-btn fa-times"></i> Cancelar
		                                </button>
		                            </div>
		                        </div>
			               </div>
			                
			            </div>
			        </div>  
			    </div>
			</div>
			<!-- Modal de opcion no seleccionada-->
		

			<footer th:replace="fragments/fragments :: footer"></footer>
			
		</div>
	<div th:replace="fragments/fragments :: scripts"></div>
	<script th:replace="fragments/autocompletarBuscador :: javascript"></script>
	<script type="text/javascript">
		function verificarSiFormaPagoTienePagos(){

			var value = radioValue();
			
			var valor= value_sel; 
			
			if(valor!=undefined && value==-1){
				value=valor;
			}
			
			if(value != -1){
				
				$.ajax({
		           type: "GET",
		           url: "/admin/empresas/formasPago/"+value+"/eliminar/verificar",
		           success: function(data){
		        	   
		        	   //Si la respuesta es un string vacío quiere decir que la forma de pago que se quiere eliminar no tiene pagos asociados
		        	   if( data == "" ){
		        		   abrirModalEliminar();
		        	   }else{
		        		   //En caso de que la respuesta sea distinto a string vacío quiere decir que la forma de pago que se desea eliminar
		        		   //tiene pagos asociados y se debe mostrar un aviso al usuario de que no se puede eliminar
		        		   $('#ModalAvisoEliminarFormaPago').modal('toggle');
		        	   }
		           }
		         });
				
			}else{
				$('#modalSinSeleccion').modal('show');
			}
			
		}
	</script>
</body>
</html>