<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div th:replace="fragments/fragments :: menu_izquierdo"></div>
			<div th:replace="fragments/fragments :: header"></div>

			<div th:if="${error != null}"
				class="alert alert-danger alert-dismissable alert-tpv">
				<div class="tit-alert">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<i class="fa fa-check-circle"></i> Error
				</div>
				<small th:text="${error}"></small>
			</div>

			<div th:if="${warning != null}"
				class="alert alert-warning alert-dismissable alert-tpv">
				<div class="tit-alert">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<i class="fa fa-check-circle"></i> Aviso
				</div>
				<small th:text="${warning}"></small>
			</div>

			<div th:if="${success != null}"
				class="alert alert-success alert-dismissable alert-tpv">
				<div class="tit-alert">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<i class="fa fa-check-circle"></i> Éxito
				</div>
				<small th:text="${success}"></small>
			</div>


			<!-- Page content -->
			<div class="right_col" role="main">
				<div class="page-title">
					<div class="title_left">
						<h3>Detalle de la Forma de Pago</h3>
					</div>
				</div>

				<div class="clearfix"></div>
				<div class="row">

					<!-- AQUI EMPIEZA EL CONTENIDO -->
					<div class="col-lg-9 col-md-8 col-sm-10 col-xs-12">
						<div th:fragment="content">
							<div class="x_panel">
								<div class="x_title">
									<h3 th:text="${formapago.nombre}" class="tit-view-gene"></h3>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
										<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
											<div class="row" style="display:none">
											<div class="col-sm-4 col-xs-12">
												<span class="">ID:</span>
											</div>
											<div class="col-sm-8 col-xs-12">
												<span id="idFormaPago" th:text="${formapago.id}"></span>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-3 col-xs-12">
												<span class="">Nombre:</span>
											</div>
											<div class="col-sm-8 col-xs-12">
												<span th:text="${formapago.nombre}"></span>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-3 col-xs-12">
												<span class="">Mostrar:</span>
											</div>
											<div class="col-sm-8 col-xs-12">
												<th:block th:if="${formapago.habilitar == true}">
													<i class="fa fa-check" Style="font-size:20px;"></i>
												</th:block>
												<th:block th:if="${formapago.habilitar == false}">
													<i class="fa fa-minus" Style="font-size:20px;"></i>
												</th:block>
											</div>
										</div>
										<th:block th:each="empresa,iter: ${empresas}">
											<div class="row" style="margin-top:10px;">
												<div class="col-xs-12">
													<span style="font-size: 14px;" th:text="${'Empresa: '+empresa.nombre}"></span>
												</div>
											</div>
											<div class="row">
												<th:block th:if="${listaSucursalesPorEmpresa} != null" th:each="sucursal: ${listaSucursalesPorEmpresa[__${iter.index}__]}">
													<span style="margin-left:4%;" th:text="${'Sucursal: ' + sucursal.nombre}"></span><br>
												</th:block>												
											</div>
									</th:block>
									</div>
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12"
											style="text-align: center;">
											<div class="ln_solid"></div>
											<div class="form-group">
											
												<!-- Solo permite ver formas de pago a los usuarios que tenga esa funcionalidad asignada a su rol -->
													<a  th:if="${#lists.contains(modulosPermisos, 'Admin - Formas de pago')}" th:href="@{/admin/empresas/FormasPago}" class="btn btn-primary text-left p-r-5" >Volver
														<img  class="m-l-40" width="20px" alt="volver" th:src="@{/images/iconos/oscuros/volver.png}">
													</a>
																						
												<!-- Solo permite editar forma de pago a los usuarios que tenga esa funcionalidad asignada a su rol -->
													<button  th:if="${#lists.contains(funcionalidadesPermisos, '66')}" class="btn btn-success text-left p-r-5" onclick="editarActual('/admin/empresas/formasPago/', '#idFormaPago');">Editar
														<img  th:if="${#lists.contains(funcionalidadesPermisos, '66')}" class="m-l-40" width="20px" alt="editar" th:src="@{/images/iconos/oscuros/editar.png}">
													</button>
													
												<!-- Solo permite eliminar forma de pago a los usuarios que tengan esa funcionalidad asignada a su rol -->
													<button class="btn btn-danger text-left p-r-3" onclick="verificarSiFormaPagoTienePagos();">Eliminar
														<img class="m-l-15" width="20px" alt="eliminar" th:src="@{/images/iconos/oscuros/eliminar.png}">
													</button>

											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal eliminar-->
		<div class="modal fade" id="ModalEliminar" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12" style="text-align:center">
		                    <h3>Eliminar Forma de Pago</h3>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="cont-recup-text" >
		                        <p style="text-align:center;">¿Usted está seguro de eliminar la forma de pago seleccionada?</p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row">
	                        	<div class="col-sm-5  col-sm-offset-1 col-xs-8" style="text-align:right">
	                                <button id="btn-eliminar" class="btn btn-success" onclick="eliminarActual('/admin/empresas/formasPago/','#idFormaPago');" >
	                                    <i class="fa fa-btn fa-check"></i> Confirmar
	                                </button>
	                            </div>
	                            
	                            <div class="col-sm-5 col-xs-8">
	                                <button class="btn btn-danger" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal eliminar-->
		
		<!-- Modal Aviso Forma de Pago no se puede eliminar-->
		<div class="modal fade" id="ModalAvisoEliminarFormaPago" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12" style="text-align:center">
		                    <h3>Eliminar Forma de Pago</h3>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="cont-recup-text" >
		                        <p style="text-align:justify; padding:30px;">
		                        <b>Nota:</b><br>
		                        La forma de pago seleccionada no puede ser eliminada porque ya ha sigo utilizada en alguna de sus sucursales como método de pago.
		                        <br>Sólo puede eliminar formas de pago que no hayan sido utilizadas.
		                        </p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row">
	                        	<div class="col-xs-12" style="text-align:center;">
	                                <button class="btn btn-success" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-check"></i> Aceptar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal Aviso Forma de Pago no se puede eliminar-->

		<footer th:replace="fragments/fragments :: footer"></footer>

	</div>
	<div th:replace="fragments/fragments :: scripts"></div>
	<script type="text/javascript">
		function verificarSiFormaPagoTienePagos(){

			var value = $("#idFormaPago").text();

			$.ajax({
	           type: "GET",
	           url: "/admin/empresas/formasPago/"+value+"/eliminar/verificar",
	           success: function(data){

	        	   //Si la respuesta es un string vacío quiere decir que la forma de pago que se quiere eliminar no tiene pagos asociados
	        	   if( data == "" ){
	        		   $('#ModalEliminar').modal('toggle');
	        	   }else{
	        		   //En caso de que la respuesta sea distinto a string vacío quiere decir que la forma de pago que se desea eliminar
	        		   //tiene pagos asociados y se debe mostrar un aviso al usuario de que no se puede eliminar
	        		   $('#ModalAvisoEliminarFormaPago').modal('toggle');
	        	   }
	           }
	         });
			
		}
	</script>
</body>
</html>