<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/fragments :: head"></head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div th:replace="fragments/fragments :: menu_izquierdo"></div>
			<div th:replace="fragments/fragments :: header"></div>
	<div th:if="${error != null}" class="alert alert-danger alert-dismissable alert-tpv">
		<div class="tit-alert" >
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			 <i class="fa fa-check-circle"></i> Error
		</div>
		<small th:text="${error}"></small>
	</div>	

    <div th:if="${warning != null}" class="alert alert-warning alert-dismissable alert-tpv">
		<div class="tit-alert" >
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			 <i class="fa fa-check-circle"></i> Aviso
		</div>
		<small th:text="${warning}"></small>
	</div>

	<div th:if="${success != null}" class="alert alert-success alert-dismissable alert-tpv">
		<div class="tit-alert" >
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			 <i class="fa fa-check-circle"></i> Éxito
		</div>
		<small th:text="${success}"></small>
	</div>

			<!-- Page content -->
			<div class="right_col" role="main"  >
				<div class="row">

					<!-- AQUI EMPIEZA EL CONTENIDO -->

					<div th:fragment="content">

						<div class="clearfix"></div>

						<div class="row">
							<div class="col-lg-8 col-md-9 col-sm-10 col-xs-12">
								<div class="x_panel">
									<div class="x_title">
										<h3>Crear Bitácora</h3>

										
										<h5>Para crear la bitácora de alguna operación, seleccione una </h5>
										<div class="clearfix"></div>
									</div>
									<div class="x_content">
							<form class="validate-form" th:action="@{/admin/bitacora/crear}" th:object="${bitausertipoaccion}" method="post" >
									<input  th:field="*{id}" type="hidden" />
									<input  th:field="*{usuario}" type="hidden"/>
							<th:block th:each="bitauser: ${bitausertipoaccion}" >
								<th:block th:if="${bitauser.usuario.id} == ${user.id}"> 
								
								
								
									<th:block th:each="tipoacc: ${tipoaccion}" >	
										<th:block th:if="${bitauser.idInicio == null && tipoacc.id==1}">
											<div class="col-md-3 col-sm-3 col-xs-12" style="text-align:right" >
											
												 <input  th:field="*{idInicio}" type="checkbox" th:value="${tipoacc.id}"/>
											</div>
											<div class="col-sm-7 col-xs-12">
												<label  th:text="${tipoacc.tipo}"></label>
											</div>
										</th:block>	
										<th:block th:if="${bitauser.idInicio == 1 && tipoacc.id==1}">
											<div class="col-md-3 col-sm-3 col-xs-12" style="text-align:right" >
											
												 <input  th:field="*{idInicio}" type="hidden" th:value="${tipoacc.id}"/>
											</div>
											<div class="col-sm-7 col-xs-12">
												<label  th:text="${tipoacc.tipo}"></label>
											</div>
										</th:block>
										<th:block th:if="${bitauser.idCierre== null && tipoacc.id==2}">
											<div class="col-md-3 col-sm-3 col-xs-12" style="text-align:right" >
												 <input  th:field="*{idCierre}" type="checkbox" th:value="${tipoacc.id}"/>
											</div>
											<div class="col-sm-7 col-xs-12">
												<label  th:text="${tipoacc.tipo}"></label>
											</div>
										</th:block>	
											<th:block th:if="${bitauser.idCierre == 2 && tipoacc.id==2}">
											<div class="col-md-3 col-sm-3 col-xs-12" style="text-align:right" >
											
												 <input  th:field="*{idCierre}" type="hidden" th:value="${tipoacc.id}"/>
											</div>
											<div class="col-sm-7 col-xs-12">
												<label  th:text="${tipoacc.tipo}"></label>
											</div>
										</th:block>
										<th:block th:if="${bitauser.idRecup == null && tipoacc.id==3}">
											<div class="col-md-3 col-sm-3 col-xs-12" style="text-align:right" >
												 <input  th:field="*{idRecup}" type="checkbox" th:value="${tipoacc.id}"/>
											</div>
											<div class="col-sm-7 col-xs-12">
												<label th:text="${tipoacc.tipo}" ></label>
											</div>
										</th:block>	
										<th:block th:if="${bitauser.idRecup == 3 && tipoacc.id==3}">
											<div class="col-md-3 col-sm-3 col-xs-12" style="text-align:right" >
											
												 <input  th:field="*{idRecup}" type="hidden" th:value="${tipoacc.id}"/>
											</div>
											<div class="col-sm-7 col-xs-12">
												<label  th:text="${tipoacc.tipo}"></label>
											</div>
										</th:block>
									</th:block>
								</th:block>	
								</th:block>		 	
									
											
										
						
									
									<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="text-align: center;">
										<div class="ln_solid"></div>
										<div class="form-group">
											<a th:href="@{/admin/bitacora}" class="btn btn-primary">Cancelar</a>
											<button id="send" type="submit" class="btn btn-success">Enviar</button>
										</div>

									</div>
								</div>
									</form>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<footer th:replace="fragments/fragments :: footer"></footer>
			
		</div>
	</div>
	<div th:replace="fragments/fragments :: scripts"></div>
	
	
</body>
</html>