<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div class="clearfix"></div>

<div class="clearfix"></div>
<div class="x_content" >
							<div style="overflow-x:auto;" >
							<div class="title_left">
								<h4>Inicio de Sesión</h4>
							</div>
								<table class="table table-responsive table-hover">
									<thead>
										<tr >
											<th></th>
											<th>ID</th>
											<th>Usuario</th>
											<th>Fecha/Hora</th>
											<th>Acción</th>
											<th>Importancia</th>
										</tr>
									</thead>
									<!-- Solo permite consultar los empleados a los usuarios que tengan esa funcionalidad asignada a su rol -->
									<tbody >
										<tr  th:each="bitacora: ${bitacoraInicio}">
										<th:block th:if="${bitacora.tipo_accion.id==1 and bitacora.borradolog==null}">
											<td>
												<input type="radio" class="selectme" th:value = "${bitacora.id}" name="radioTable"> 
											</td>
										 	<td th:text="${bitacora.usuario.id}" >  </td>
											<td th:text="${bitacora.usuario.nombre}"></td>
											<td th:text="${bitacora.fecha_hora}"> </td>
											<td th:text="${bitacora.tipo_accion.tipo}"></td>
											<td th:text="${bitacora.tipo_importancia_bitacora.tipo}"></td>
										</th:block>	
										</tr>
									
									</tbody>
								</table>
								<nav th:replace="fragments/paginatorNav :: paginator"></nav>
							</div>
						</div>