<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/fragments :: head"></head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div th:replace="fragments/fragments :: menu_izquierdo"></div>	
			<div th:replace="fragments/fragments :: header"></div>


<!-- Page content -->
<div class="right_col" role="main">
	<div class="page-title">
		<div class="title_left">
			<h3>Bitácora</h3>
		</div>

		<div class="title_right">
			<div
				class="col-md-5 col-sm-5 col-xs-12 form-group pull-right ">
				<div class="input-group">
					<input type="text" class="form-control popOverinfo"
						placeholder="Buscar por..." name="buscador" id="buscador"
					data-toggle="popover" data-placement="left" data-title="Buscar bitácora"  data-delay="500"
					data-content="Al hacer clic en una de las opciones, te lleva a ver su detalle.">
						<input type="hidden" id="urlBuscador" value="/admin/bitacora/">	
					
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>
		<div class="row">
				<!-- AQUI EMPIEZA EL CONTENIDO leyenda-->
							
			<div class="col-md-8 col-sm-8 col-xs-8">
				<div th:fragment="content">
					<div class="x_panel">
					
						<div class="x_content">
							<p>Para consultar los usuarios que han realizado operaciones registrados en la bitácora, dar clic en la opción "Agregar" y los mismos se listarán de no estar visibles
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- AQUI EMPIEZA EL CONTENIDO -->
			
			<div   class="col-xs-10" th:if="${bitacoraini != true}">
				<div th:fragment="content" th:each="bitauser: ${bitausertipoaccion}" >
					<div class="x_panel vista-inicio" th:if = "${bitauser.idInicio==1}">
						
					</div>
				</div>
			</div>
				<!-- Botones del lateral derecho -->
			<div class="col-xs-2">
				<!-- Solo permite crear empleados a los usuarios que tenga esa funcionalidad asignada a su rol -->
				<div >
					<a class="btn btn-primary btn-block text-left" th:href="@{/admin/bitacora/crear}">Agregar<img class="right-0 pos-absolute m-r-15" width="20px" alt="nuevo" th:src="@{../../images/iconos/oscuros/nuevo.png}"></a>
				</div>
				<div style="margin-top:15px;">
					<button class="btn btn-success btn-block text-left" onclick="verSeleccionado('/admin/bitacora/');">Ver<img class="right-0 pos-absolute m-r-15" width="20px" alt="ver" th:src="@{../../images/iconos/oscuros/ver.png}"></button>
				</div>		
				
				
			
										
				<!-- Solo permite eliminar empleados a los usuarios que tengan esa funcionalidad asignada a su rol -->
				<div th:if="${#lists.contains(funcionalidadesPermisos, '15')}" style="margin-top:15px;">
					<button class="btn btn-danger btn-block text-left" onclick="abrirModalEliminar();">Eliminar<img class="right-0 pos-absolute m-r-15" width="20px" alt="eliminar" th:src="@{../../images/iconos/oscuros/eliminar.png}"></button>
					
				</div>
			</div>
			<!-- AQUI EMPIEZA EL CONTENIDO -->
			<div class="col-xs-10" th:if="${bitacierr != true}">
				<div th:fragment="content" th:each="bitauser: ${bitausertipoaccion}">
					<div class="x_panel vista-cierre" th:if = "${bitauser.idCierre==2}" id="cierrebita">
						
					</div>
				</div>
			</div>
			<!-- AQUI EMPIEZA EL CONTENIDO -->
			<div class="col-xs-10" th:if="${bitarecup != true}">
				<div th:fragment="content" th:each="bitauser: ${bitausertipoaccion}">
					<div class="x_panel" th:if = "${bitauser.idRecup==3}">
						<div class="x_content">
							<div style="overflow-x:auto;">
							<div class="title_left">
								<h4>Recuperación de Contraseña</h4>
							</div>
								<table class="table table-responsive table-hover">
									<thead>
										<tr>
											<th></th>
											<th>ID</th>
											<th>Usuario</th>
											<th>Fecha/Hora</th>
											<th>Acción</th>
											<th>Importancia</th>
										</tr>
									</thead>
									<!-- Solo permite consultar los empleados a los usuarios que tengan esa funcionalidad asignada a su rol -->
									<tbody >
										<tr  th:each="bitacora: ${bitacoraInicio}">
										
										<th:block th:if="${bitacora.tipo_accion.id==3 and bitacora.borradolog==null}">			
											<td>
												<input type="radio" class="selectme" th:value = "${bitacora.id}" name="radioTable"> 
											</td>
										 	<td th:text="${bitacora.usuario.id}" >  </td>
											<td th:text="${bitacora.usuario.nombre}"></td>
											<td th:text="${bitacora.fecha_hora}"> </td>
											<td th:text="${bitacora.tipo_accion.tipo}"></td>
											<td th:text="${bitacora.tipo_importancia_bitacora.tipo}"></td>
										</th:block>	
										</tr>
									</tbody>
								</table>
									<nav th:replace="fragments/paginatorNav :: paginator"></nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			
		</div>
	</div>
</div>			
			<!-- Modal eliminar-->
			<div class="modal fade" id="ModalEliminar" role="dialog">
			    <div class="modal-dialog">
			        <!-- Modal content-->
			        <div class="modal-content">
			            <div class="modal-body">
			                <div class="row">
			                    <div class="col-xs-12" style="text-align:center">
			                    <h3>Eliminar registro</h3>
			                    </div>
			                </div>
			                <div class="row">
			                    <div class="cont-recup-text" >
			                        <p style="text-align:center;">¿Usted está seguro de eliminar el registro seleccionado?</p>
			                    </div>
			                </div>
			                
							<div class="form-group">
		                    	<div class="row">
		                        	<div class="col-sm-5  col-sm-offset-1 col-xs-8" style="text-align:right">
		                                <button id="btn-eliminar" class="btn btn-success" onclick="eliminarSeleccionado('/admin/bitacora/');">
		                                    <i class="fa fa-btn fa-check"></i> Confirmar
		                                </button>
		                            </div>
		                            
		                            <div class="col-sm-5 col-xs-8">
		                                <button class="btn btn-danger" data-dismiss="modal">
		                                    <i class="fa fa-btn fa-times"></i> Cancelar
		                                </button>
		                            </div>
		                        </div>
			               </div>
			                
			            </div>
			        </div>  
			    </div>
			</div>
			<!-- Modal eliminar-->
			
			<!-- Modal de opcion no seleccionada-->
			<div class="modal fade" id="modalSinSeleccion" role="dialog">
			    <div class="modal-dialog">
			        <!-- Modal content-->
			        <div class="modal-content">
			            <div class="modal-body">
			                <div class="row">
			                    <div class="col-xs-12" style="text-align:center">
			                    <h3>Seleccionar un registro</h3>
			                    </div>
			                </div>
			                <div class="row">
			                    <div class="cont-recup-text" >
			                        <p style="text-align:center;">Para continuar, debe seleccionar un registro primero</p>
			                    </div>
			                </div>
			                
							<div class="form-group">
		                    	<div class="row">
		                        	<div class="col-sm-8 col-sm-offset-1 col-xs-10" style="text-align:right">
		                                <button class="btn btn-danger m-l-10" data-dismiss="modal">
		                                    <i class="fa fa-btn fa-times"></i> Cancelar
		                                </button>
		                            </div>
		                        </div>
			               </div>
			                
			            </div>
			        </div>  
			    </div>
			</div>
			<!-- Modal de opcion no seleccionada-->
		

			<footer th:replace="fragments/fragments :: footer"></footer>
			
		</div>
	<div th:replace="fragments/fragments :: scripts"></div>
	<script type="text/javascript">

	
	$(document).ready(function () {
		$.ajax({
	        type: "GET",
	        url: "/admin/bitacora/cierre",
	        success: function (data) {
	        	$(".vista-cierre").html( data );
	        }
	    });
		$.ajax({
	        type: "GET",
	        url: "/admin/bitacora/inicio",
	        success: function (data) {
	        	$(".vista-inicio").html( data );
	        }
	    });
	  });

	
	/*==================== PAGINATION =========================*/
    $(window).on('hashchange',function(){
        page = window.location.hash.replace('#','');
        getInicio(page);
    });
    $(document).on('click','.pagination a', function(e){
        e.preventDefault();
        var page = $(this).attr('href').split('page=')[1];
        location.hash = page;
    });
    function getInicio(page){
    
        $.ajax({
            type : 'GET',
            url : '/admin/bitacora/inicio?page='+page,
            success:function(data){
            	$(".vista-inicio").html( data ); 
            }
        });
    }
	/*==================== PAGINATION =========================*/
    $(window).on('hashchange',function(){
    	pagecierr = window.location.hash.replace('#','');
        getCierre(pagecierr);
    });
    $(document).on('click','.cierrepag a', function(e){
        e.preventDefault();
        var pagecierr = $(this).attr('href').split('pagecierr=')[1];
        location.hash = pagecierr;
    });
    function getCierre(page){
    
        $.ajax({
            type : 'GET',
            url : '/admin/bitacora/cierre?page='+page,
            success:function(data){
            	$(".vista-cierre").html( data ); 
            }
        });
    }
	</script>
</body>
</html>