<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div th:replace="fragments/fragments :: menu_izquierdo"></div>
			<div th:replace="fragments/fragments :: header"></div>

			<div th:if="${error != null}"
				class="alert alert-danger alert-dismissable alert-tpv">
				<div class="tit-alert">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<i class="fa fa-check-circle"></i> Error
				</div>
				<small th:text="${error}"></small>
			</div>

			<div th:if="${warning != null}"
				class="alert alert-warning alert-dismissable alert-tpv">
				<div class="tit-alert">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<i class="fa fa-check-circle"></i> Aviso
				</div>
				<small th:text="${warning}"></small>
			</div>

			<div th:if="${success != null}"
				class="alert alert-success alert-dismissable alert-tpv">
				<div class="tit-alert">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<i class="fa fa-check-circle"></i> Éxito
				</div>
				<small th:text="${success}"></small>
			</div>


			<!-- Page content -->
			<div class="right_col" role="main">
				<div class="page-title">
					<div class="title_left">
						<h3>Detalle del registro de la bitácora</h3>
					</div>
				</div>

				<div class="clearfix"></div>
				<div class="row">

					<!-- AQUI EMPIEZA EL CONTENIDO -->
					<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
						<div th:fragment="content">
							<div class="x_panel">
								<div class="x_title">
									<h3 class="tit-view-gene"></h3>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
								<div class="row">
										<div class="col-sm-4 col-xs-12">
											<span class="">ID Bitácora:</span>
										</div>
										<div class="col-sm-8 col-xs-12 ">
											<span  id="idBitacora" th:text="${bitacora.id}"></span>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4 col-xs-12 m-t-1">
											<span class="">ID Usuario:</span>
										</div>
										<div class="col-sm-8 col-xs-12 m-t-1">
											<span  th:text="${bitacora.usuario.id}"></span>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4 col-xs-12 m-t-1">
											<span class="">Nombre:</span>
										</div>
										<div class="col-sm-8 col-xs-12 m-t-1">
											<span  th:text="${bitacora.usuario.nombre}"></span>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4 col-xs-12 m-t-1">
											<span class="">Apellido:</span>
										</div>
										<div class="col-sm-8 col-xs-12 m-t-1">
											<span th:text="${bitacora.usuario.apellido}"></span>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4 col-xs-12 m-t-1">
											<span class="">Fecha/Hora:</span>
										</div>
										<div class="col-sm-8 col-xs-12 m-t-1">
											<span th:text="${#dates.format(bitacora.fecha_hora,'dd/MM/YYYY HH:mm')} + ' h'" > </span>
										</div>
									</div>
									
									<div class="row ">
										<div class="col-sm-4 col-xs-12 m-t-1">
											<span class="">Tipo de acción:</span>
										</div>
										<div class="col-sm-8 col-xs-12 m-t-1">
											<span th:text="${bitacora.tipo_accion.tipo}"></span>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4 col-xs-12 m-t-1">
											<span class="">Ip de origen:</span>
										</div>
										<div class="col-sm-8 col-xs-12 m-t-1">
											<span th:text="${bitacora.ip_origen}"></span>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4 col-xs-12 m-t-1">
											<span class="">Descripción de importancia:</span>
										</div>
										<div class="col-sm-8 col-xs-12 m-t-1">
											<span th:text="${bitacora.tipo_importancia_bitacora.tipo}"></span>
										</div>
									</div>
									
									<th:block th:each="marca,iterr: ${marcas}">
											<div class="row" style="margin-top:10px;" >
														<div class="col-xs-12">
															<span  th:text="${'Marca: '+marca.nombre}"></span>
														</div>
													</div>	
												
											<th:block th:if="${empresasbymarca} != null" th:each="empresa,iter: ${empresasbymarca[__${iterr.index}__]}">
													<div class="row" style="margin-top:10px;" >
														<div class="col-xs-12">
															<span style="margin-left:2%;" th:text="${'Empresa: '+empresa.nombre}"></span>
														</div>
													</div>	
													<div class="row">
													<th:block th:if="${sucursales} != null" th:each="sucursal,itersu: ${sucursales}">
														<th:block th:if="${empresas} != null" th:each="sucursall: ${empresas[__${itersu.index}__].sucursal}">
															<th:block th:if="${empresa.id==empresas[__${itersu.index}__].empresa.id} ">
															<span style="margin-left:6%;"   th:text="${'Sucursal: ' + sucursall.nombre}"></span><br>
															</th:block>
														</th:block>	
													</th:block>										
												</div>
											</th:block>
									</th:block>
									
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12"
											style="text-align: center;">
											<div class="ln_solid"></div>
											<div class="form-group">
											
																						
												<!-- Solo permite ver registros de la bitacora a los usuarios que tengan esa funcionalidad asignada a su rol -->
													<a  th:if="${#lists.contains(modulosPermisos, 'Admin - Bitacora')}" th:href="@{/admin/bitacora}" class="btn btn-primary text-left p-r-5" >Volver
														<img  class="m-l-40" width="20px" alt="volver" th:src="@{/images/iconos/oscuros/volver.png}">
													</a>

												
												<!-- Solo permite eliminar registro de bitacora a los usuarios que tengan esa funcionalidad asignada a su rol -->
													<button  class="btn btn-danger text-left p-r-3" onclick="$('#ModalEliminar').modal('show');">Eliminar
														<img  class="m-l-15" width="20px" alt="eliminar" th:src="@{/images/iconos/oscuros/eliminar.png}">
													</button>
												
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal eliminar-->
		<div class="modal fade" id="ModalEliminar" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12" style="text-align:center">
		                    <h3>Eliminar registro de la bitácora</h3>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="cont-recup-text" >
		                        <p style="text-align:center;">¿Usted está seguro de eliminar el registro seleccionado?</p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row">
	                        	<div class="col-sm-5  col-sm-offset-1 col-xs-8" style="text-align:right">
	                                <button id="btn-eliminar" class="btn btn-success" onclick="eliminarActual('/admin/bitacora/','#idBitacora');">
	                                    <i class="fa fa-btn fa-check"></i> Confirmar
	                                </button>
	                            </div>
	                            
	                            <div class="col-sm-5 col-xs-8">
	                                <button class="btn btn-danger" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal eliminar-->

		<footer th:replace="fragments/fragments :: footer"></footer>

	</div>
	<div th:replace="fragments/fragments :: scripts"></div>

</body>
</html>