<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragmentsTPV :: head"></head>
<body class="nav-md">
	<div class="body" style="overflow: hidden;">
		<div class="">
			<th:block th:replace="fragments/fragmentsTPV :: mensajesNotificaciones"></th:block>
			<div th:replace="fragments/fragmentsTPV :: barraSuperior"></div>

			<!-- Sub Menu de "Cajas" -->
			<div class="menu-modulo">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">									
						 <div class="text-center text-bold">
				            <ul class="nav fondoGris">
				           		 <li class="nav-item ">
							    	<a class="nav-link" th:href="@{/tpv/factura/resumen}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Resumen</a>
							  	</li>
								<li>
							    	<a class="nav-link" th:href="@{/tpv/factura}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Ventas</a>
							  	</li>
								<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/factura/lotes}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Lotes</a>
							  	</li>
							  	
							  	<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/factura/gastos}" style="border-bottom-color: #2fccae; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Gastos</a>
							  	</li>
							  	
							  	
							</ul>				
				        </div>
					</div>
				</div>
			</div>
			
			<div class="fondoGrisClaro">
				<div class="row">
					<div class="contenido-modulo col-lg-12 col-md-12 col-sm-12 col-xs-12 p-t-1 p-r-3">
						<div class="row m-l-3 p-l-1 menuFiltros" style="margin-right:0px; margin-left:0px;">
						<div class="col-lg-3 col-md-4 col-sm-6 col-8 p-l-2">
								<div class="form-group row" style="margin:0px;">
								    <label class="col-lg-6 col-form-label col-form-label-sm" style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;padding-right: 3px;color:#11437e;">
								    	Fecha Desde
								    </label>
								    <div class="col-lg-6">								      
								      <input id="filtroFechaDesde" type="text" class="form-control form-control-sm datepicker"  placeholder="..." style="text-align:center;" >
								    </div>
								    
								 </div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-8 p-l-2">
								<div class="form-group row" style="margin:0px;">
								    <label class="col-lg-6 col-form-label col-form-label-sm" style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;padding-right: 3px;color:#11437e;">
								    	Fecha Hasta
								    </label>
								    <div class="col-lg-6">
								      <input id="filtroFechaHasta" type="text" class="form-control form-control-sm datepicker" placeholder="..." style="text-align:center;">								     
								    </div>
								    
								 </div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-6 col-8 p-l-2">
								<div class="form-group row" style="margin:0px;">
								    <label class="col-lg-5 col-form-label col-form-label-sm" style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;padding-right: 3px;color:#11437e;">
								    	Proveedor
								    </label>
								    <div class="col-lg-7">
								      <input type="text" id="filtroProveedor" class="form-control form-control-sm opcion "  placeholder="..." style="text-align:center;" onclick="obtenerId(this.id);">
								    </div>
								    
								 </div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-6 col-8 p-l-2">
								<div class="form-group row" style="margin:0px;">
								    <label class="col-lg-5 col-form-label col-form-label-sm" style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;padding-right: 3px;color:#11437e;">
								    	Tipo Gasto
								    </label>
								    <div class="col-lg-7">
								      <input type="text" id="filtroTipoGasto" class="form-control form-control-sm opcion" placeholder="..." style="text-align:center;" onclick="obtenerId(this.id);">
								    </div>
								    
								 </div>
							</div>
							
							
						</div>					
					
						<div id="movimientosAjax">
							<div class="cajas-container panelBlanco m-l-3 custom-overflow" style="margin-top:10px;">
								<div class="x_panel">								
									<div class="x_content sustituible-ajax" >
										
										<table id="tablaGastos" class="table table-responsive table-hover separadorInfTabla tablesorter table-bordered table-resizable" th:if="${gastoslist!=null}">
	
											<thead>
												<tr>
													<td class=" td-tabla check_col " style="text-align: center;border-bottom: 1px solid #7E92A7; width:4%;" >
														 <input  type="checkbox" class="seleccionar_todo p-t-2" id="check-input" onclick="seleccionarTodos();" checked="checked"/>
													</td>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar">Nro. Factura</th>													
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> Fecha </th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar">Fecha de Pago </th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> CIF </th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> Proveedor</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> Tipo de Gasto</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> Concepto </th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> Base Imponible </th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> IVA</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> % Deducción</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> Comentarios </th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> Anulado </th>
												</tr>
											</thead>
											<tbody class="bloque-sustituible-ajax">
												<th:block  th:if="${gastoslist!=null}" th:each="gastoslista: ${gastoslist}">
													<tr  th:if="${gastoslista.anular!=false}" th:id="${gastoslista.id}" class="venta-sel gasto gastonulo" style="background-color:#DEDBDB;" onclick="ObtenerIdGasto(this.id);">
														<td class="td-tabla"></td>
														<td th:text="${gastoslista.nro_factura}" th:title="${gastoslista.nro_factura}" class="td-tabla"></td> 
														<td th:text="${#dates.format(gastoslista.fecha, 'dd/MM/yyyy')}" th:title="${#dates.format(gastoslista.fecha, 'dd/MM/yyyy')}" class="td-tabla"></td>
														<td th:text="${#dates.format(gastoslista.fecha_pago, 'dd/MM/yyyy')}" th:title="${#dates.format(gastoslista.fecha_pago, 'dd/MM/yyyy')}" class="td-tabla"></td>
														<td th:text="${gastoslista.cif}" th:title="${gastoslista.cif}" class="td-tabla"></td> 
														<td th:text="${gastoslista.proveedor}" th:title="${gastoslista.proveedor}" class="td-tabla"></td> 
														<td th:text="${gastoslista.tipo_gasto}" th:title="${gastoslista.tipo_gasto}" class="td-tabla"></td> 
														<td th:text="${gastoslista.concepto}" th:title="${gastoslista.concepto}" class="td-tabla"></td> 
														<td th:text="${#numbers.formatDecimal(gastoslista.base_imponible, 1, 2)}" th:title="${#numbers.formatDecimal(gastoslista.base_imponible, 1, 2)}" class="td-tabla"></td> 
														<td th:text="${#numbers.formatDecimal(gastoslista.iva, 1, 2)}" th:title="${#numbers.formatDecimal(gastoslista.iva, 1, 2)}" class="td-tabla"></td> 
														<td th:text="${#numbers.formatDecimal(gastoslista.porc_deduccion, 1, 2)}" th:title="${#numbers.formatDecimal(gastoslista.porc_deduccion, 1, 2)}" class="td-tabla"></td> 
														<td th:text="${gastoslista.comentario}" th:title="${gastoslista.comentario}" class="td-tabla"></td> 
														<td   class="td-tabla">
															<i class=" fa fa-check" id="anular_gasto" Style="font-size:20px;"></i>
														</td> 
														
													</tr>
													<tr  th:if="${gastoslista.anular==false}" th:id="${gastoslista.id}" class="venta-sel gasto"  onclick="ObtenerIdGasto(this.id);">
														<td class="td-tabla" ><input style="margin-left:25%"  class="input_fact" type="checkbox"  onclick="SeleccionarGasto(this.value);" checked="checked"/> </td>
														<td th:text="${gastoslista.nro_factura}" th:title="${gastoslista.nro_factura}" class="td-tabla"></td> 
														<td th:text="${#dates.format(gastoslista.fecha, 'dd/MM/yyyy')}" th:title="${#dates.format(gastoslista.fecha, 'dd/MM/yyyy')}" class="td-tabla"></td>
														<td th:text="${#dates.format(gastoslista.fecha_pago, 'dd/MM/yyyy')}" th:title="${#dates.format(gastoslista.fecha_pago, 'dd/MM/yyyy')}" class="td-tabla"></td>
														<td th:text="${gastoslista.cif}" th:title="${gastoslista.cif}" class="td-tabla"></td> 
														<td th:text="${gastoslista.proveedor}" th:title="${gastoslista.proveedor}" class="td-tabla"></td> 
														<td th:text="${gastoslista.tipo_gasto}" th:title="${gastoslista.tipo_gasto}" class="td-tabla"></td> 
														<td th:text="${gastoslista.concepto}" th:title="${gastoslista.concepto}" class="td-tabla"></td> 
														<td th:text="${#numbers.formatDecimal(gastoslista.base_imponible, 1, 2)}" th:title="${#numbers.formatDecimal(gastoslista.base_imponible, 1, 2)}" class="td-tabla"></td> 
														<td th:text="${#numbers.formatDecimal(gastoslista.iva, 1, 2)}" th:title="${#numbers.formatDecimal(gastoslista.iva, 1, 2)}" class="td-tabla"></td> 
														<td th:text="${#numbers.formatDecimal(gastoslista.porc_deduccion, 1, 2)}" th:title="${#numbers.formatDecimal(gastoslista.porc_deduccion, 1, 2)}" class="td-tabla"></td> 
														<td th:text="${gastoslista.comentario}" th:title="${gastoslista.comentario}" class="td-tabla"></td> 
														<td   class="td-tabla"></td> 
														
													</tr>
													
												</th:block>	
														<tr>
															<td class="td-tabla"></td>
															<td class="td-tabla"></td>
															<td class="td-tabla"><span style="font-weight: bold;">Total</span></td> 
															<td class="td-tabla"></td> 
															<td class="td-tabla"></td> 
															<td class="td-tabla"></td> 
															<td class="td-tabla"></td>
															<td class="td-tabla"></td>
															<td class="td-tabla"><span style="font-weight: bold;" th:text="${base}"></span></td>
															<td class="td-tabla"><span style="font-weight: bold;" th:text="${iva+'%'}"></span></td>
															<td class="td-tabla"></td> 
															<td class="td-tabla"></td>
															<td class="td-tabla"></td>
														
														</tr>	
												
											</tbody>
										</table>
										
									</div>
								</div>
							
							</div>
							
								<div class="panelBlanco m-l-3 tablaBorrados custom-overflow" style="margin-top:10px;margin-bottom:10px;">
								<div class="x_panel" style="" th:if="${movimientos!=null}">
								<div class="row  m-l-3 p-l-1">
								<div class="x_title m-t-1 col-lg-6">
										<h4 class="m-l-1">Gastos</h4>
											<div class="clearfix"></div>
									</div>	
									<div class="x_title m-t-1 col-lg-5 pull-right">
										<h4 th:if="${totalGastos!=null}" class="pull-right" th:text="${'Total :'+#numbers.formatDecimal(totalGastos, 1, 2)+'€'}"></h4>
											<div class="clearfix"></div>
									</div>	
								</div>
															
									<div class="x_content">									
	
										<table id="tablaDetallesBorrados" class="table table-responsive table-hover separadorInfTabla tablesorter  table-bordered table-resizable" >
	
											<thead>
												<tr>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="fec-up"></i><i class="fa fa-long-arrow-down arrow-false" aria-hidden="true" style="font-size: 10px;" id="fec-down"></i> Fecha</th>													
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="age-up"></i><i class="fa fa-long-arrow-down arrow-false" aria-hidden="true" style="font-size: 10px;" id="age-down"></i> Agente</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="imp-up"></i><i class="fa fa-long-arrow-down arrow-false" aria-hidden="true" style="font-size: 10px;" id="imp-down"></i> Importe</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="uni-up"></i><i class="fa fa-long-arrow-down arrow-false" aria-hidden="true" style="font-size: 10px;" id="uni-down"></i> Uni</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="tip-up"></i><i class="fa fa-long-arrow-down arrow-false" aria-hidden="true" style="font-size: 10px;" id="tip-down"></i> Tipo movimiento</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="cat-up"></i><i class="fa fa-long-arrow-down arrow-false" aria-hidden="true" style="font-size: 10px;" id="cat-down"></i> Categoría</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="desc-up"></i><i class="fa fa-long-arrow-down arrow-false" aria-hidden="true" style="font-size: 10px;" id="desc-down"></i> Descripción</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="obs-up"></i><i class="fa fa-long-arrow-down arrow-false" aria-hidden="true" style="font-size: 10px;" id="obs-down"></i> Observaciones</th>
												</tr>
											</thead>
											<tbody>												
													<tr th:if="${movimientos!=null}" th:each="movimiento:${movimientos}" th:onclick="'seleccionarMovimiento(' + ${movimiento.id} + ')'" th:id="${movimiento.id}" class="item-sel">
														<td class="td-tabla" th:text="${#dates.format(movimiento.fecha,'dd/MM/YYYY')}" th:title="${#dates.format(movimiento.fecha,'dd/MM/YYYY')}" style="text-align: center;"></td>
														
														<td class="td-tabla td-tabla-text-oculto" th:text="${movimiento.agente.nombre + ' ' + movimiento.agente.apellido}" th:title="${movimiento.agente.nombre + ' ' + movimiento.agente.apellido}"></td>
	
														<td th:if="${empresaSeleccionada.moneda != NULL AND empresaSeleccionada.moneda != undefined}" class="td-tabla" th:text="${#numbers.formatDecimal(movimiento.importe, 1, 2) + ' ' + empresaSeleccionada.moneda.simbolo}" th:title="${#numbers.formatDecimal(movimiento.importe, 1, 2) + ' ' + empresaSeleccionada.moneda.simbolo}" ></td>
														<td th:if="${empresaSeleccionada.moneda == NULL OR empresaSeleccionada.moneda == undefined}" class="td-tabla" th:text="${#numbers.formatDecimal(movimiento.importe, 1, 2)}" th:title="${#numbers.formatDecimal(movimiento.importe, 1, 2)}" ></td>
														
														<td class="td-tabla" th:text="${movimiento.unidad}" th:title="${movimiento.unidad}" style="text-align: center;"></td>
	
														<td th:if="${movimiento.tipo_movimiento != NULL AND movimiento.tipo_movimiento != undefined }" class="td-tabla td-tabla-text-oculto" th:text="${movimiento.tipo_movimiento.nombre}" th:title="${movimiento.tipo_movimiento.nombre}"></td>
														<td th:if="${movimiento.tipo_movimiento == NULL OR movimiento.tipo_movimiento == undefined }" class="td-tabla"> - </td>
														
														<td class="td-tabla td-tabla-text-oculto" th:text="${movimiento.categoria}" th:title="${movimiento.categoria}"></td>
														<td class="td-tabla td-tabla-text-oculto" th:text="${movimiento.descripcion}" th:title="${movimiento.descripcion}"></td>
														<td class="td-tabla td-tabla-text-oculto" th:text="${movimiento.observaciones}" th:title="${movimiento.observaciones}"></td>
	
													</tr>							
											</tbody>
										</table>									
									</div>
								</div>
							</div>
						</div>
						
						
						
						<div class="row botones-clientes m-l-3" style="margin-top:10px;">
							<div class="col-12 estilo-tarjeta pull-right p-t-1 p-l-1 p-b-1 p-r-2" style="display:flex;">
								<div class="col-lg-4 col-md-3 col-sm-3 "  th:if="${movimientos!=null}">
								</div>
								<div class="col-lg-6 col-md-3 col-sm-3 "  th:if="${movimientos==null}">
								</div>
								<div class="col-lg-2 col-md-3 col-sm-3"  style="margin-right: 10px;">
									<button class="green-button btn btn-primary btn-block text-left gray-button" style="font-size:14px;font-weight: bold;"  data-toggle="modal" data-target="#modalCrearGasto" onclick="mostrarNombre();" >Nuevo<img class="right-0 pos-absolute m-r-10" width="20px" alt="editar" th:src="@{/images/iconos/oscuros/nuevo.png}"></button>
								</div>
								<div class="col-lg-2 col-md-3 col-sm-3"  style="margin-right: 10px;">
									<button class="green-button btn btn-primary btn-block text-left gray-button" style="font-size:14px;font-weight: bold;"  onclick="editarGastoSeleccionado();" >Editar<img class="right-0 pos-absolute m-r-10" width="20px" alt="editar" th:src="@{/images/iconos/oscuros/editar.png}"></button>
								</div>
								<div class="col-lg-2 col-md-3 col-sm-3"  style="margin-right: 10px;">
									<button  class="green-button btn btn-primary btn-block text-left gray-button" style="font-size:14px;font-weight: bold;"  onclick="MostrarModalGastos();">Anular<img class="right-0 pos-absolute m-r-10" width="20px" alt="borrar" th:src="@{/images/iconos/oscuros/eliminar.png}"></button>
								</div>
								<div class="col-lg-2 col-md-3 col-sm-3 p-r-1"  style="margin-right: 10px;"  th:if="${movimientos!=null}">
									<button class="green-button btn btn-primary btn-block text-left gray-button" style="font-size:14px;font-weight: bold;"  onclick="IrAMovimientos();">Ir A Movimientos<img class="right-0 pos-absolute m-r-10" width="20px" alt="editar"  th:src="@{/images/iconos/oscuros/editar.png}"></button>
								</div>
							</div>
						</div>
						
						
						<div class="m-l-3">
							<div class="estilo-tarjeta-sin-relleno col-lg-12 col-md-12 col-sm-12 col-xs-9 menu-principal-inferior">
								 <div class="text-center text-bold">
						            <ul class="nav" id="opc-menu-inferior">
										<li class="nav-item separadorBlancoDer clicPointer" style="background-color:#2fccae; min-width:120px; padding-top:0.5%;padding-bottom:0.5%;">
											<a onclick="filtrargastos();">
												<div class="row" style="height:32px;">
													<div class="col-lg-12">
														<img style="width: 28px; height: 22px; margin-top: 5px;" alt="calcular caja" th:src="@{/images/iconos/blancos/ticket.png}">
													</div>
													
												</div>
												<div class="row">
													<div class="col-lg-12">
														<span style="color:white; font-weight:1;">Consultar</span> 
													</div>
												</div>
									    	</a>
									  	</li>
									  
									  	<li class="nav-item separadorBlancoDer" style="background-color:#11437E; min-width:120px;padding-top:0.5%;padding-bottom:0.5%;">
											<a onclick="cierreCaja()">
												<div class="row" style="height:32px;">
													<div class="col-lg-12">
														<img style="width: 27px; height: 23px; margin-top: 5px;" alt="teclado" th:src="@{/images/iconos/blancos/imprimir.png}">
													</div>
													
												</div>
												<div class="row">
													<div class="col-lg-12">
														<span style="color:white; font-weight:1;">Imprimir</span> 
													</div>
												</div>
									    	</a>
									  	</li>
									  
									  	<li class="nav-item separadorBlancoDer clicPointer" style="background-color:#11437E; min-width:120px;padding-top:0.5%;padding-bottom:0.5%;">
											<div data-toggle="modal" data-target="#modalEnviarTicketCajaPorEmail">
												<div class="row" style="height:32px;">
													<div class="col-lg-12">
														<img style="width: 23px; height: 21px; margin-top: 5px;" alt="compartir" th:src="@{/images/iconos/blancos/compartir.png}">
													</div>
													
												</div>
												<div class="row">
													<div class="col-lg-12">
														<span style="color:white; font-weight:1;">Compartir</span> 
													</div>
												</div>
									    	</div>
									  	</li>
									</ul>				
						        </div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
				<!-- Modal no hay que consultar-->
		<div class="modal" tabindex="-1" role="dialog" id="ModalNoCriterios">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-12 m-l-1 m-r-1" style="text-align:center;" >
								
		                    	<h3>No hay criterios para consultar</h3>
		                    	<br>
		                    </div>
						</div>
						
						<div class="container">
							<div class="row  m-l-25 m-r-3">
							     <p style="text-align:center;">Debe ingresar criterios de consulta</p>
							 </div>
							 
							<div class="row justify-content-center m-t-3">
	                        	
                            <div class="m-l-3 m-r-3">
                                <button type="button" class="btn btn-danger"
									data-dismiss="modal">
									<i class="fa fa-btn fa-times"></i> Quitar
								</button>
                            </div>
	                            
	                        </div>	
		                </div>
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal no hay que consultar-->
		<!-- Modal anular no hay-->
		<div class="modal" tabindex="-1" role="dialog" id="ModalAnularGastoNo">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-12 m-l-1 m-r-1" style="text-align:center;" >
								
		                    	<h3>No hay Gasto seleccionado!</h3>
		                    	<br>
		                    </div>
						</div>
						
						<div class="container">
							<div class="row  m-l-20 m-r-3">
							     <p style="text-align:center;">Debe seleccionar un gasto para anular</p>
							 </div>
							 
							<div class="row justify-content-center m-t-3">
	                        	
                            <div class="m-l-3 m-r-3">
                                <button type="button" class="btn btn-danger"
									data-dismiss="modal">
									<i class="fa fa-btn fa-times"></i> Quitar
								</button>
                            </div>
	                            
	                        </div>	
		                </div>
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal anular no hay-->
		<!-- Modal anular-->
		<div class="modal" tabindex="-1" role="dialog" id="ModalAnularGasto">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-12 m-l-1 m-r-1" style="text-align:center;" >
								<button type="button" class="close m-r-5" aria-label="Close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span>
								</button>
		                    	<h3>Anular Gasto</h3>
		                    	<br>
		                    </div>
						</div>
						
						<div class="container">
							<div class="row  m-l-3 m-r-3">
							     <p style="text-align:center;">¿Usted está seguro de anular el gasto seleccionado?</p>
							 </div>
							 
							<div class="row justify-content-center m-t-3">
	                        	<div class="m-l-3 m-r-3" >
                                <button id="btn-eliminar" class="green-button btn btn-success m-b-3" onclick="anularGastoSeleccionado();" data-dismiss="modal">
                                    <i class="fa fa-btn fa-check"></i> Confirmar
                                </button>
                            </div>
                            <div class="m-l-3 m-r-3">
                                <button type="button" class="btn btn-danger"
									data-dismiss="modal">
									<i class="fa fa-btn fa-times"></i> Cancelar
								</button>
                            </div>
	                            
	                        </div>	
		                </div>
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal anular-->
		
		<!-- Modal de opcion no seleccionada-->
		<div class="modal" tabindex="-1" role="dialog" id="modalSinSeleccion">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-12 m-l-1 m-r-1" style="text-align:center;" >
								<button type="button" class="close m-r-5" aria-label="Close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span>
								</button>
		                    	<h3>Seleccionar un gasto</h3>
		                    	<br>
		                    </div>
						</div>
						
						<div class="container">
							<div class="row  m-l-3 m-r-3">
							    <p style="text-align: center;">Para continuar, debe seleccionar un movimiento primero</p>
							 </div>
							 
							<div class="row justify-content-center m-t-3">
	                        	<div class="m-l-3 m-r-3" >
	                                <button type="button" class="green-button btn btn-success" data-dismiss="modal">
										<i class="fa fa-btn fa-check"></i> Aceptar
									</button>
	                            </div>
	                            
	                        </div>	
		                </div>
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal de opcion no seleccionada-->
		<!-- Modal de crear cita -->
		<div class="modal" tabindex="-1" role="dialog" id="modalCrearGasto" th:fragment="fragmentModalCrearGasto">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-12 m-l-1 m-r-1" style="text-align:center;" >
								<button type="button" class="close m-r-5" aria-label="Close" data-dismiss="modal" onclick="$('#calendar').fullCalendar('unselect');">
									<span aria-hidden="true">&times;</span>
								</button>
		                    	<h3 id="titulo_gasto">Crear Gasto</h3>
		                    	<br>
		                    </div>
						</div>
						
						<div class="container">
						
							<div class="row m-l-3 m-r-5 m-b-2">
							<div class="col-4">
									<p><b>Empleado:</b></p>
									<div class="col-lg-10">
								       <select id="empleado" class="form-control form-control-sm" style="text-align:center;" >
										  <option value="0"></option>
										  <option 
									  		th:if="${empleados!=null}"
									      th:each="listado: ${empleados}"
									      th:value="${listado.id}"
									      th:text="${listado.nombre}" ></option>
										</select>
								    </div>
								</div>
								<div class="col-4">
									<p><b>Nro Factura:</b></p>
									<div class="row m-l-3 m-r-3" style="margin:  0 auto;">
										
										<div class="col-10 p-l-1">
											<div class="input-group" style="width:100%;">
												<input id="nro_factura"  name="nro_factura" type="text" class="form-control borde-input-visible" placeholder="Número de Factura" required="required"/> 
												
											</div>
										</div>
										
									</div>
								</div>
								<div class="col-4 p-r-2">
									<p><b>Fecha de Pago: </b></p>
									<input id="fechaPagoGasto"   type="text" class="form-control borde-input-visible datepicker heightDatepicker" required="required" 
									placeholder="Formato: dd/mm/yyyy" pattern="^(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}$"/>
									<small id="fechaPagoGastoError"></small>
														
								</div>
								
							 </div>
							 
							 <div class="row m-l-3 m-r-3 m-b-2">
							 	<div class="col-4">
									<p><b>CIF:</b></p>
									<div class="row m-l-3 m-r-3" style="margin:  0 auto;">
										
										<div class="col-10 p-l-1">
											<div class="input-group" style="width:100%;">
												<input id="cif" name="cif"    type="text" class="form-control borde-input-visible" placeholder="CIF" required="required"> 
												
											</div>
										</div>
									
									</div>
								</div>
							 	<div class="col-4">
									<p><b>Proveedor:</b></p>
									<div class="row m-l-3 m-r-3" style="margin:  0 auto;">
										
										<div class="col-10 p-l-1">
											<div class="input-group" style="width:100%;">
												<input id="proveedor"   name="proveedor" type="text" class="form-control borde-input-visible" placeholder="Proveedor" required="required"> 
												
											</div>
										</div>
									</div>
								</div>
								<div class="col-4">
									<p><b>Tipo de Gasto:</b></p>
									<div class="row m-l-3 m-r-3" style="margin:  0 auto;">
										
										<div class="col-10 p-l-1">
											<div class="input-group" style="width:100%;">
												<input id="tipo_gasto"   name="tipogasto" type="text" class="form-control borde-input-visible" placeholder="Tipo de Gasto" required="required"> 
												
											</div>
										</div>
									</div>
								</div>
								
								
							 </div>
							 
							 
							 <div class="row m-l-3 m-r-3 m-b-2">
							 <div class="col-4">
									<p><b>Concepto:</b></p>
									<div class="row m-l-3 m-r-3" style="margin:  0 auto;">
										
										<div class="col-10 p-l-1">
											<div class="input-group" style="width:100%;">
												<input id="concepto"    name="concepto" type="text" class="form-control borde-input-visible" placeholder="Concepto" required="required"> 
												
											</div>
										</div>
									</div>
								</div>
							 	<div class="col-4">
									<p><b>Base Imponible:</b></p>
									<div class="row m-l-3 m-r-3" style="margin:  0 auto;">
										
										<div class="col-10 p-l-1">
											<div class="input-group" style="width:100%;">
												<input id="base_imponible"   name="baseimponible" type="number" step="1" min="0" max="100"  class="form-control borde-input-visible" placeholder="Base Imponible" required="required"> 
												
											</div>
										</div>
									</div>
								</div>
								<div class="col-4">
									<p><b>IVA:</b></p>
									<div class="row m-l-3 m-r-3" style="margin:  0 auto;">
										
										<div class="col-10 p-l-1">
											<div class="input-group" style="width:100%;">
												<input type="number"  id="iva"  step="1" min="0" max="100" placeholder="IVA" class="form-control borde-input-visible"
													/>
												
											</div>
										</div>
									</div>
								</div>
								
								
							 </div>
							 	 <div class="row m-l-3 m-r-3 m-b-2">
							 	 <div class="col-4">
									<p><b>% Deducción:</b></p>
									<div class="row m-l-3 m-r-3" style="margin:  0 auto;">
										
										<div class="col-10 p-l-1">
											<div class="input-group" style="width:100%;">
											<input type="number"  id="porc_deduccion"   step="1" min="0" max="100" placeholder="% Deducción" class="form-control borde-input-visible" required="required"/>
												
											</div>
										</div>
									</div>
								</div>
							 	 <div class="col-6 p-l-1">
									<p><b>Comentarios</b></p>
										<textarea id="comentarios"    name="comentarios" class="form-control borde-input-visible" rows="5" maxlength="400"></textarea> 
										<small id="comentarios"></small>
								</div>
							 	 </div>
							 
							<div class="row justify-content-center m-t-3">
	                        	<div class="m-l-3 m-r-3" id="confirmarGasto">
	                                <button id="crearGastos" class="green-button btn btn-success m-b-3 clickConfirmar"  onclick="CrearGastos();" >
	                                    <i class="fa fa-btn fa-check"></i> Confirmar
	                                </button>
	                            </div>
	                            <div class="m-l-3 m-r-3">
	                                <button type="button" class="btn btn-danger"
										data-dismiss="modal">
										<i class="fa fa-btn fa-times"></i> Cancelar
									</button>
	                            </div>
	                            
	                        </div>
	                      
		                </div>
						
					</div>
					
				</div>
			</div>
		</div>
		
		
		<!-- Modal de crear cita -->

		
	</div>
		
	</div>
	<div th:replace="fragments/fragmentsTPV :: modalRelogin"></div>
	<div th:replace="fragments/fragmentsTPV :: modalEnviarTicketCajaPorEmail"></div>
	<div th:replace="fragments/fragmentsTPV :: modalParaResultado"></div>
	<div th:replace="fragments/fragmentsTPV :: modalCargando"></div>
	<div th:replace="fragments/fragmentsTPV :: scripts"></div>
	
	
	
	<script type="text/javascript">
	//Consulta de Factura-Ventas
	
$.datepicker.regional['es'] = {
			closeText: 'Cerrar',
			prevText: '< Ant',
			nextText: 'Sig >',
			currentText: 'Hoy',
			monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
			monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
			dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
			dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
			dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
			weekHeader: 'Sm',
			dateFormat: 'dd/mm/yy',
			firstDay: 1,
			isRTL: false,
			showMonthAfterYear: false,
			yearSuffix: ''
		};
		$.datepicker.setDefaults($.datepicker.regional['es']);
		
		$('.datepicker').datepicker({
		    format: 'dd/mm/yy',
		    changeYear: true,
		    changeMonth: true,
		    autoclose: true
		});
		
	
$(document).ready(function() {
		
		var variable=sessionStorage.getItem("idGastosOp");
		$("#"+variable).autocomplete({
			source : function(request, response) {
				var busqueda="";
				var urlInf="";
				if (variable=="filtroProveedor") {
					urlInf="/tpv/factura/gastos/buscar/proveedor/ajax";
					busqueda=$("#"+variable ).val();
		          	}
				if (variable=="filtroTipoGasto") {
					urlInf="/tpv/factura/gastos/buscar/tipogasto/ajax";
					 busqueda=$("#"+variable ).val();
		          	}
				
				console.log(busqueda);
				$.ajax({
			   		type : 'GET',
			   		url : urlInf,
			   		contentType: "application/json",
			   		data:{busqueda:busqueda},
			   		success:function(data){
			   			
			   			var jsonConDuplicados = JSON.parse(data);
						var nameArray = [];
						
						//Para eliminar los registros duplicados que vienen del servidor
						var idsArticulos = [],
					    json = [];

						$.each(jsonConDuplicados, function (index, value) {
						    if ($.inArray(value[0], idsArticulos) == -1) {
						        idsArticulos.push(value[0]);
						       
						        json.push(value);
						    }
						});
						//------------------------------------------------------------
						
						
						if(Object.keys(json).length == 0){
							nameArray.push({value:"0", label:"No se encontraron resultados"});
						}else{
							for(var i in json) {
								
				
									nameArray.push({value:json[i][0], label: json[i][0]});
							
													        	  
					        }
						}
												
				        response(nameArray);	

					},
				});
			},
			select : function(event, ui) {
				
				var id = ui.item.value;
			
				$("#"+variable).val(ui.item.label);
				$("#"+variable).attr("value",ui.item.label);
				return false;				
				
			}
		});

	});
	function MostrarModalGastos(){
		var value = sessionStorage.getItem("idGastos");
		console.log(value+" gasto");
		if(value==undefined || value==""){
			$('#ModalAnularGastoNo').modal('show');
		}else{
			$('#ModalAnularGasto').modal('show');
		}
	}
	function anularGastoSeleccionado(){
		var value = sessionStorage.getItem("idGastos");
		
		if(value != -1 ){
			$.ajax({
		        type: "POST",
		        url: "/tpv/factura/gastos/anular/"+value,
		        success: function(data)
		        {
		        	location.href="/tpv/factura/gastos";
		        	sessionStorage.setItem("idGastos", "");
		       
		        }
		      });
		}else{
			$('#modalSinSeleccion').modal('show');
			console.log('Debe seleccionar una opción');
		}
		
	};
		
	
	
		$(document).ready(function() 
		    {
			
				$("#tablaGastos").tablesorter({
	    			cssAsc: 'headerSortUp',
	    			cssDesc: 'headerSortDown'
	    		});
				
	    	
		    } 
		);
		
	
	</script>


	<script type="text/javascript">
	
	var altoMenuPrincipal = $(".menu-principal").height();
	var altoMenuModulo = $(".menu-modulo").height();
	var altoMenuInferior = $(".menu-principal-inferior").height();
	var altoBotones = $(".botones-clientes").height();
	var altoFormularioCaja =  (window.innerHeight - altoMenuPrincipal - altoBotones - altoMenuModulo - altoMenuInferior - 95) / 2;
	$(".cajas-container").css("height", altoFormularioCaja+ "px");
	$(".tablaBorrados").css("height",  altoFormularioCaja+"px");
	
	var anchoFormularioCaja = $(".cajas-container").width() - parseInt($(".cajas-container").css('padding-left'));
	$(".menu-principal-inferior").width(anchoFormularioCaja - 5);
	$(".botones-clientes").width(anchoFormularioCaja + 8);
	$(".menu-principal-inferior").css("margin-left", $(".cajas-container").css('padding-left'));
	
	var altoTablasResumen = $(".panel-derecho-resumen-cajas").height();
	var altoTablaGeneral = $(".tablaGeneral").height();
	var altoTablasIntermedias = (altoTablasResumen - altoTablaGeneral) / 2 - 50;
	var altoBotones = $(".botones-clientes").height();
	$(".tablaAgentes").css("max-height", altoTablasIntermedias+"px");
	$(".tablaMediosDePago").css("max-height", altoTablasIntermedias+"px");
	
	$(window).resize(function(){
		var altoMenuPrincipal = $(".menu-principal").height();
		var altoMenuModulo = $(".menu-modulo").height();
		var altoMenuInferior = $(".menu-principal-inferior").height();
		var altoFormularioCaja =  (window.innerHeight - altoMenuPrincipal - altoBotones - altoMenuModulo - altoMenuInferior - 95) / 2;
		$(".cajas-container").css("height", altoFormularioCaja+"px");
		$(".tablaBorrados").css("height", altoFormularioCaja+"px");
		
		var anchoFormularioCaja = $(".cajas-container").width() - parseInt($(".cajas-container").css('padding-left'));
		$(".menu-principal-inferior").width(anchoFormularioCaja - 5);
		$(".botones-clientes").width(anchoFormularioCaja + 8);
		$(".menu-principal-inferior").css("margin-left", $(".cajas-container").css('padding-left'));
		
		var altoTablasResumen = $(".panel-derecho-resumen-cajas").height();
		var altoTablaGeneral = $(".tablaGeneral").height();
		var altoTablasIntermedias = (altoTablasResumen - altoTablaGeneral) / 2 - 50;
		$(".tablaAgentes").css("max-height", altoTablasIntermedias+"px");
		
		$(".tablaMediosDePago").css("max-height", altoTablasIntermedias+"px");
	});

		
	</script>
</body>
</html>