<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

	<table id="tablaLotes" class="table table-responsive table-hover separadorInfTabla tablesorter table-bordered table-resizable">
	
	<thead>
		<tr>
			<td class=" td-tabla check_col" style="text-align: center;border-bottom: 1px solid #7E92A7; width:4%;" >
				 <input  type="checkbox" class="seleccionar_todo" id="check-input" onclick="seleccionarTodos();" checked="checked"/>
			</td>
			<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarTablas();"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="id-ticket-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="id-ticket-down"></i> Id</th>
			<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarTablas();"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="fecha-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="fecha-down"></i> Fecha</th>
			<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarTablas();"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="hora-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="hora-down"></i> Nro Facturas</th>
			<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarTablas();"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="empleado-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="empleado-down"></i> Total Facturado</th>
			<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarTablas();"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="nro-cliente-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="nro-cliente-down"></i> Iva</th>
			<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarTablas();"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="nombre-cliente-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="nombre-cliente-down"></i> Total Cobrado</th>
			<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarTablas();"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-down"></i> Fecha Envio</th>
			<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarTablas();"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-down"></i> Email Receptor</th>
			<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarTablas();"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-down"></i> Agente</th>
			<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-down"></i> Presentado</th>
			<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-down"></i> Anulado</th>
		</tr>
	</thead>
	<tbody >
	<th:block th:if="${ventas!=null}" th:each="pendienteshoy: ${ventas}" >
				<tr th:if="${pendienteshoy.presentado!=true}" th:id="${pendienteshoy.id}" class="venta-sel" >
				
					<td class="td-tabla" ><input style="margin-left:25%"  class="input_fact" type="checkbox"  onclick="SeleccionarLote(this.value);" checked="checked"/> </td>
					<td th:text="${pendienteshoy.id}" class="td-tabla"></td>
					<td th:text="${#dates.format(pendienteshoy.fecha_creacion, 'dd/MM/yyyy')}" th:title="${#dates.format(pendienteshoy.fecha_creacion, 'dd/MM/yyyy')}" class="td-tabla"></td>
					
					<td th:text="${#lists.size(pendienteshoy.factura)}" class="td-tabla"></td>
					<td th:if="${pendienteshoy.total_facturado!=null}" th:text="${#numbers.formatDecimal(pendienteshoy.total_facturado, 1, 2)}" class="td-tabla"></td>
					<td class="td-tabla" th:if="${pendienteshoy.iva_deducible!=null}" th:text="${#numbers.formatDecimal(pendienteshoy.iva_deducible, 1, 2)+'%'}" ></td>
					<td class="td-tabla" th:if="${pendienteshoy.total_gastos!=null}" th:text="${#numbers.formatDecimal(pendienteshoy.total_gastos, 1, 2)}" ></td>
					<td th:if="${pendienteshoy.fecha_envio!=null}" th:text="${#dates.format(pendienteshoy.fecha_envio, 'dd/MM/yyyy')}" th:title="${#dates.format(pendienteshoy.fecha_envio, 'dd/MM/yyyy')}" class="td-tabla"></td>
					<td th:if="${pendienteshoy.fecha_envio==null}" class="td-tabla"></td>
					<td th:if="${pendienteshoy.email_receptor!=null}" th:text="${pendienteshoy.email_receptor}" class="td-tabla"></td>
					<td th:if="${pendienteshoy.email_receptor==null}" class="td-tabla"></td>
					<td th:text="${pendienteshoy.empleado.nombre+' '+pendienteshoy.empleado.apellido}" class="td-tabla"></td>
					<td  th:if="${pendienteshoy.presentado==false}" th:id="${pendienteshoy.id}" class="td-tabla">
						<input style="margin-left:25%"  th:id="${'presentado'+pendienteshoy.id}"  class="input_lotepre" type="checkbox"  onclick="SeleccionarPresentadoLote(this.id);"/>
					</td>
					<td   class="td-tabla" th:if="${pendienteshoy.anular==true}">
						<i class=" fa fa-check" id="anular_gasto" Style="font-size:20px;"></i>
					</td> 
					<td   class="td-tabla" th:if="${pendienteshoy.anular==false}"></td>
				</tr>
				<tr th:if="${pendienteshoy.presentado==true}" style="background-color: rgb(222, 219, 219);">
					<td class="td-tabla" > </td>
					<td th:text="${pendienteshoy.id}" class="td-tabla"></td>
					<td th:text="${#dates.format(pendienteshoy.fecha_creacion, 'dd/MM/yyyy')}" th:title="${#dates.format(pendienteshoy.fecha_creacion, 'dd/MM/yyyy')}" class="td-tabla"></td>
					
					<td th:text="${#lists.size(pendienteshoy.factura)}" class="td-tabla"></td>
					<td th:if="${pendienteshoy.total_facturado!=null}" th:text="${#numbers.formatDecimal(pendienteshoy.total_facturado, 1, 2)}" class="td-tabla"></td>
					<td class="td-tabla" th:if="${pendienteshoy.iva_deducible!=null}" th:text="${#numbers.formatDecimal(pendienteshoy.iva_deducible, 1, 2)+'%'}" ></td>
					<td class="td-tabla" th:if="${pendienteshoy.total_gastos!=null}" th:text="${#numbers.formatDecimal(pendienteshoy.total_gastos, 1, 2)}" ></td>
					<td th:if="${pendienteshoy.fecha_envio!=null}" th:text="${#dates.format(pendienteshoy.fecha_envio, 'dd/MM/yyyy')}" th:title="${#dates.format(pendienteshoy.fecha_envio, 'dd/MM/yyyy')}" class="td-tabla"></td>
					<td th:if="${pendienteshoy.fecha_envio==null}" class="td-tabla"></td>
					<td th:if="${pendienteshoy.email_receptor!=null}" th:text="${pendienteshoy.email_receptor}" class="td-tabla"></td>
					<td th:if="${pendienteshoy.email_receptor==null}" class="td-tabla"></td>
					<td th:text="${pendienteshoy.empleado.nombre+' '+pendienteshoy.empleado.apellido}" class="td-tabla"></td>
					<td  th:text="${#dates.format(pendienteshoy.fecha_presentado, 'dd/MM/yyyy')}"  class="td-tabla"></td>
					<td   class="td-tabla"></td>
				</tr>
			</th:block>
			
			
		
	</tbody>
</table>


<th:block th:if="${#lists.isEmpty(ventas)}">
	<div class="container m-t-2">
		<div class="row justify-content-center">
			<h5>No se encontró lotes.</h5>
		</div>
	</div>
</th:block>
