<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

<table id="tablaGastos" class="table table-responsive table-hover separadorInfTabla tablesorter table-bordered table-resizable">
	
<thead>
	<tr>
		<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar">Nro. Factura</th>													
		<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> Fecha </th>
		<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar">Fecha de Pago </th>
		<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> CIF </th>
		<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> Proveedor</th>
		<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> Tipo de Gasto</th>
		<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> Concepto </th>
		<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> Base Imponible </th>
		<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> IVA</th>
		<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> % Deducción</th>
		<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> Comentarios </th>
		<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"> Anulado </th>
	</tr>
</thead>
<th:block th:if="${not #lists.isEmpty(gastoslist)}">
<tbody class="bloque-sustituible-ajax">
	<th:block  th:if="${gastoslist!=null}" th:each="gastoslista: ${gastoslist}">
			<tr  th:if="${gastoslista.anular!=false}" th:id="${gastoslista.id}" class="venta-sel gasto gastonulo" style="background-color:#DEDBDB;" onclick="ObtenerIdGasto(this.id);">
			
				<td th:text="${gastoslista.nro_factura}" th:title="${gastoslista.nro_factura}" class="td-tabla"></td> 
				<td th:text="${#dates.format(gastoslista.fecha, 'dd/MM/yyyy')}" th:title="${#dates.format(gastoslista.fecha, 'dd/MM/yyyy')}" class="td-tabla"></td>
				<td th:text="${#dates.format(gastoslista.fecha_pago, 'dd/MM/yyyy')}" th:title="${#dates.format(gastoslista.fecha_pago, 'dd/MM/yyyy')}" class="td-tabla"></td>
				<td th:text="${gastoslista.cif}" th:title="${gastoslista.cif}" class="td-tabla"></td> 
				<td th:text="${gastoslista.proveedor}" th:title="${gastoslista.proveedor}" class="td-tabla"></td> 
				<td th:text="${gastoslista.tipo_gasto}" th:title="${gastoslista.tipo_gasto}" class="td-tabla"></td> 
				<td th:text="${gastoslista.concepto}" th:title="${gastoslista.concepto}" class="td-tabla"></td> 
				<td th:text="${#numbers.formatDecimal(gastoslista.base_imponible, 1, 2)}" th:title="${#numbers.formatDecimal(gastoslista.base_imponible, 1, 2)}" class="td-tabla"></td> 
				<td th:text="${#numbers.formatDecimal(gastoslista.iva, 1, 2)}" th:title="${#numbers.formatDecimal(gastoslista.iva, 1, 2)}" class="td-tabla"></td> 
				<td th:text="${#numbers.formatDecimal(gastoslista.porc_deduccion, 1, 2)}" th:title="${#numbers.formatDecimal(gastoslista.porc_deduccion, 1, 2)}" class="td-tabla"></td> 
				<td th:text="${gastoslista.comentario}" th:title="${gastoslista.comentario}" class="td-tabla"></td> 
				<td   class="td-tabla">
					<i class=" fa fa-check" id="anular_gasto" Style="font-size:20px;"></i>
				</td> 
				
			</tr>
			<tr  th:if="${gastoslista.anular==false}" th:id="${gastoslista.id}" class="venta-sel gasto"  onclick="ObtenerIdGasto(this.id);">
			
				<td th:text="${gastoslista.nro_factura}" th:title="${gastoslista.nro_factura}" class="td-tabla"></td> 
				<td th:text="${#dates.format(gastoslista.fecha, 'dd/MM/yyyy')}" th:title="${#dates.format(gastoslista.fecha, 'dd/MM/yyyy')}" class="td-tabla"></td>
				<td th:text="${#dates.format(gastoslista.fecha_pago, 'dd/MM/yyyy')}" th:title="${#dates.format(gastoslista.fecha_pago, 'dd/MM/yyyy')}" class="td-tabla"></td>
				<td th:text="${gastoslista.cif}" th:title="${gastoslista.cif}" class="td-tabla"></td> 
				<td th:text="${gastoslista.proveedor}" th:title="${gastoslista.proveedor}" class="td-tabla"></td> 
				<td th:text="${gastoslista.tipo_gasto}" th:title="${gastoslista.tipo_gasto}" class="td-tabla"></td> 
				<td th:text="${gastoslista.concepto}" th:title="${gastoslista.concepto}" class="td-tabla"></td> 
				<td th:text="${#numbers.formatDecimal(gastoslista.base_imponible, 1, 2)}" th:title="${#numbers.formatDecimal(gastoslista.base_imponible, 1, 2)}" class="td-tabla"></td> 
				<td th:text="${#numbers.formatDecimal(gastoslista.iva, 1, 2)}" th:title="${#numbers.formatDecimal(gastoslista.iva, 1, 2)}" class="td-tabla"></td> 
				<td th:text="${#numbers.formatDecimal(gastoslista.porc_deduccion, 1, 2)}" th:title="${#numbers.formatDecimal(gastoslista.porc_deduccion, 1, 2)}" class="td-tabla"></td> 
				<td th:text="${gastoslista.comentario}" th:title="${gastoslista.comentario}" class="td-tabla"></td> 
				<td   class="td-tabla"></td> 
				
			</tr>
		</th:block>
						<tr>
							<td class="td-tabla"></td>
							<td class="td-tabla"><span style="font-weight: bold;">Total</span></td> 
							<td class="td-tabla"></td> 
							<td class="td-tabla"></td> 
							<td class="td-tabla"></td> 
							<td class="td-tabla"></td>
							<td class="td-tabla"></td>
							<td class="td-tabla"><span style="font-weight: bold;" th:text="${base}"></span></td>
							<td class="td-tabla"><span style="font-weight: bold;" th:text="${iva+'%'}"></span></td>
							<td class="td-tabla"></td> 
							<td class="td-tabla"></td>
							<td class="td-tabla"></td>
						
						</tr>
		
	</tbody>
	</th:block>
</table>
										

<th:block th:if="${#lists.isEmpty(gastoslist)}">
	<div class="container m-t-2">
		<div class="row justify-content-center">
			<h5>No se encontró gastos.</h5>
		</div>
	</div>
</th:block>
