<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragmentsTPV :: head"></head>
<body class="nav-md">
	<div class="body" style="overflow: hidden;">
		<div class="">
			<th:block th:replace="fragments/fragmentsTPV :: mensajesNotificaciones"></th:block>
			<div th:replace="fragments/fragmentsTPV :: barraSuperior"></div>

			<!-- Sub Menu de "Facturas" -->
			<div class="menu-modulo">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">									
						 <div class="text-center text-bold">
				            <ul class="nav fondoGris">
								
							  	<li class="nav-item ">
							    	<a class="nav-link" th:href="@{/tpv/factura/resumen}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Resumen</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link" th:href="@{/tpv/factura}" style="border-bottom-color: #2fccae; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Ventas</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/factura/lotes}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Lotes</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/factura/gastos}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Gastos</a>
							  	</li>
							  	
							</ul>				
				        </div>
					</div>
				</div>
			</div>
			
			<div class="fondoGrisClaro">
				<div class="row">
					<div class="contenido-modulo col-lg-12 col-md-12 col-sm-12 col-xs-12 p-t-1 p-r-3">
						<div class="row m-l-3 p-l-1 menuFiltros" style="margin-right:0px; margin-left:0px;">
						<div class="col-lg-3 col-md-4 col-sm-6 col-8">
								<div class="form-group row" style="margin:0px;">
								    <label class="col-lg-5 col-form-label col-form-label-sm" style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;padding-right: 3px;color:#11437e;">
								    	Fecha Desde
								    </label>
								    <div class="col-lg-7">								      
								      <input id="filtroFechaDesde" type="text" class="form-control form-control-sm datepicker"   placeholder="..." style="text-align:center;">
								    </div>
								    	
								 </div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-8">
								<div class="form-group row" style="margin:0px;">
								    <label class="col-lg-5 col-form-label col-form-label-sm" style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;padding-right: 3px;color:#11437e;">
								    	Fecha Hasta
								    </label>
								    <div class="col-lg-7">
								      <input id="filtroFechaHasta" type="text" class="form-control form-control-sm datepicker" placeholder="..." style="text-align:center;">								     
								    </div>
								 	
								 </div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-8">
								<div class="form-group row" style="margin:0px;">
								    <label class="col-lg-5 col-form-label col-form-label-sm" style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;padding-right: 3px;color:#11437e;">
								    	Tipo Pago
								    </label>
								   
										<div class="col-lg-7 col-md-8 col-sm-9 col-xs-12">
											<div class="input-group" style="width:93%;">
												<input type="text" class="form-control form-control-sm camptext"   placeholder="..."  name="buscadorPago" id="filtroPago" style="text-align:center;"> 
												<input type="hidden" id="urlBuscadorTipoPago" value="/tpv/factura/tipopago/ajax/">
												
											</div>
											
										</div>
								 </div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-8">
								<div class="form-group row" style="margin:0px;">
								    <label class="col-lg-5 col-form-label col-form-label-sm" style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;padding-right: 3px;color:#11437e;">
								    	Saldo
								    </label>
								    <div class="col-lg-7">
								       <select id="filtroSaldo" class="form-control form-control-sm selectfact" style="text-align:center;" >
										  <option value="0"></option>
										  <option value="1">Positivo</option>
										  <option value="2">Negativo</option>
										</select>
								    </div>
								 </div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-8 p-t-1">
								<div class="form-group row" style="margin:0px;">
								    <label class="col-lg-5 col-form-label col-form-label-sm" style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;padding-right: 3px;color:#11437e;">
								    	Factura
								    </label>
								    <div class="col-lg-7">
								      <input type="text" id="filtroFactura" class="form-control form-control-sm camptext" placeholder="..." style="text-align:center;">
								    </div>
								 </div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-8 p-t-1">
								<div class="form-group row" style="margin:0px;">
								    <label class="col-lg-5 col-form-label col-form-label-sm" style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;padding-right: 3px;color:#11437e;">
								    	Estado
								    </label>
								    
									<div class="col-lg-7 ">
											
										<input type="text" class="form-control form-control-sm camptext" placeholder="..." name="buscadorEstado" id="filtroEstado" style="text-align:center;"> 
										<input type="hidden" id="urlBuscadorEstado" value="/tpv/factura/buscar/estado/">
										
									</div>
								 </div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-8 p-t-1" >
								<div class="form-group row" style="margin:0px;">
								    <label class="col-lg-5 col-form-label col-form-label-sm" style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;padding-right: 3px;color:#11437e;">
								    	Lote
								    </label>
								    <div class="col-lg-7">
								      <input type="text" id="filtroLote" class="form-control form-control-sm camptext" placeholder="..." style="text-align:center;">
								    </div>
								    
								 </div>
							</div>
							
						</div>					
					
						<div id="FacturasAjax">
							<div class="cajas-container panelBlanco m-l-3 custom-overflow" style="margin-top:10px;">
								<div class="x_panel">								
									<div class="x_content facturas-ajax " >
										<table id="tablaFacturas" class="table table-responsive table-hover separadorInfTabla tablesorter table-bordered table-resizable"  th:if="${ventas!=null}" >
	
											<thead>
												<tr >
													
													<td class="td-tabla check_col" style="text-align: center;border-bottom: 1px solid #7E92A7; width:4%;" ><input  type="checkbox" class="seleccionar_todo" id="check-input" onclick="seleccionarTodos();" checked="checked"/></td>													
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarFacturas();"><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="age-up" ></i><i class="fa fa-long-arrow-down arrow-false" aria-hidden="true" style="font-size: 10px;" id="age-down"></i> Id Ticket</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarFacturas();"><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="age-up" ></i><i class="fa fa-long-arrow-down arrow-false" aria-hidden="true" style="font-size: 10px;" id="age-down"></i> Fecha</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarFacturas();"><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="imp-up"></i><i class="fa fa-long-arrow-down arrow-false" aria-hidden="true" style="font-size: 10px;" id="imp-down"></i> Hora</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarFacturas();"><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="tip-up"></i><i class="fa fa-long-arrow-down arrow-false" aria-hidden="true" style="font-size: 10px;" id="tip-down"></i> Importe</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarFacturas();"><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="cat-up"></i><i class="fa fa-long-arrow-down arrow-false" aria-hidden="true" style="font-size: 10px;" id="cat-down"></i> Cobrado</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarFacturas();"><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="desc-up"></i><i class="fa fa-long-arrow-down arrow-false" aria-hidden="true" style="font-size: 10px;" id="desc-down"></i> Saldo</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarFacturas();"><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="obs-up"></i><i class="fa fa-long-arrow-down arrow-false" aria-hidden="true" style="font-size: 10px;" id="obs-down"></i> Tipo Pago</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarFacturas();"><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="obs-up"></i><i class="fa fa-long-arrow-down arrow-false" aria-hidden="true" style="font-size: 10px;" id="obs-down"></i> Estado</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarFacturas();"><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="obs-up"></i><i class="fa fa-long-arrow-down arrow-false" aria-hidden="true" style="font-size: 10px;" id="obs-down"></i> Factura</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarFacturas();"><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="obs-up"></i><i class="fa fa-long-arrow-down arrow-false" aria-hidden="true" style="font-size: 10px;" id="obs-down"></i> Lote</th>
													<th class="td-tabla ord-cli tam-th-serv" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarFacturas();"><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="obs-up"></i><i class="fa fa-long-arrow-down arrow-false" aria-hidden="true" style="font-size: 10px;" id="obs-down"></i> Presentado  </th>
													
												</tr>
											</thead>
										
											<tbody class="bloque-facturas-ajax">
											
										<th:block  th:each="pendienteshoy: ${ventas}">
											<tr th:if="${pendienteshoy.venta.factura!=null}" th:id="${pendienteshoy.venta.id}" class="venta-sel seleccionado esfactura"  onclick="SeleccionarFactura(this.id);" >
											<td class="td-tabla" > </td>
											<td class="td-tabla" th:text="${pendienteshoy.venta.id_largo_ticket}"> </td>
											<td th:text="${#dates.format(pendienteshoy.venta.fecha, 'dd/MM/yyyy')}" th:title="${#dates.format(pendienteshoy.venta.fecha, 'dd/MM/yyyy')}" class="td-tabla"></td>
											<td th:text="${#dates.format(pendienteshoy.venta.hora, 'hh:mm')}" th:title="${#dates.format(pendienteshoy.hora, 'hh:mm')}" class="td-tabla"></td>
											<td th:text="${#numbers.formatDecimal(pendienteshoy.importe, 1, 2)}" th:title="${#numbers.formatDecimal(pendienteshoy.importe, 1, 2)}" class="td-tabla"></td> 
											<td th:text="${#numbers.formatDecimal(pendienteshoy.venta.pagado, 1, 2)}" th:title="${#numbers.formatDecimal(pendienteshoy.venta.pagado, 1, 2)}" class="td-tabla"></td> 
											<td th:text="${#numbers.formatDecimal(pendienteshoy.venta.saldo, 1, 2)}" th:title="${#numbers.formatDecimal(pendienteshoy.venta.saldo, 1, 2)}" class="td-tabla"></td> 
											<td th:text="${pendienteshoy.forma_pago.nombre}" th:title="${pendienteshoy.forma_pago.nombre}" class="td-tabla"></td> 
											<th:block th:if="${pendienteshoy.venta.factura!=null}"   >
												<td th:text="${pendienteshoy.venta.factura.estado}" th:title="${pendienteshoy.venta.factura.estado}" class="td-tabla"></td> 
												<td th:text="${pendienteshoy.venta.factura.id}" th:title="${pendienteshoy.venta.factura.id}" class="td-tabla"></td> 
												<td th:text="${pendienteshoy.venta.lote.id}" th:title="${pendienteshoy.venta.lote.id}" class="td-tabla"></td> 
												<th:block th:if="${pendienteshoy.venta.factura.presentado==true}">
													<td  class="td-tabla">
														<i class=" fa fa-check" id="presentado" Style="font-size:20px;"></i>
													</td>
												</th:block>
												 
												<th:block th:if="${pendienteshoy.venta.factura.presentado==false}">
													<td  class="td-tabla"></td>
												</th:block>
												 
											</th:block>
											<th:block th:if="${pendienteshoy.venta.factura==null}">
												<td class="td-tabla"></td> 
												<td class="td-tabla"></td>
												<td class="td-tabla"></td>
												<td class="td-tabla"></td>
											</th:block>
										</tr>
										
										<tr th:if="${pendienteshoy.venta.anular==true}" th:id="${pendienteshoy.venta.id}" class="venta-sel seleccionado" onclick="SeleccionarDesAnular(this.id);" style="background-color:#DEDBDB;">
											<td class="td-tabla" ><input style="margin-left:25%"  th:class="${'input_fact fact'+pendienteshoy.venta.id}" type="checkbox" th:id="${'check_'+pendienteshoy.venta.id}" th:value="${pendienteshoy.venta.id}" onclick="SeleccionarDesAnular(this.value);"/> </td>
											<td class="td-tabla" th:text="${pendienteshoy.venta.id_largo_ticket}"> </td>
											<td th:text="${#dates.format(pendienteshoy.venta.fecha, 'dd/MM/yyyy')}" th:title="${#dates.format(pendienteshoy.fecha, 'dd/MM/yyyy')}" class="td-tabla"></td>
											<td th:text="${#dates.format(pendienteshoy.venta.hora, 'hh:mm')}" th:title="${#dates.format(pendienteshoy.hora, 'hh:mm')}" class="td-tabla"></td>
											<td th:text="${#numbers.formatDecimal(pendienteshoy.importe, 1, 2)}" th:title="${#numbers.formatDecimal(pendienteshoy.importe, 1, 2)}" class="td-tabla"></td> 
											<td th:text="${#numbers.formatDecimal(pendienteshoy.venta.pagado, 1, 2)}" th:title="${#numbers.formatDecimal(pendienteshoy.venta.pagado, 1, 2)}" class="td-tabla"></td> 
											<td th:text="${#numbers.formatDecimal(pendienteshoy.venta.saldo, 1, 2)}" th:title="${#numbers.formatDecimal(pendienteshoy.venta.saldo, 1, 2)}" class="td-tabla"></td> 
											<td th:text="${pendienteshoy.forma_pago.nombre}" th:title="${pendienteshoy.forma_pago.nombre}" class="td-tabla"></td> 
											<td class="td-tabla">Anulado</td> 
											<td class="td-tabla"></td>
											<td class="td-tabla"></td>
											<td class="td-tabla"></td>
										
										</tr>
										<tr th:if="${pendienteshoy.venta.anular!=true and pendienteshoy.venta.factura==null}" th:id="${pendienteshoy.venta.id}" class="venta-sel seleccionado" onclick="selventa(this.id);">
											<td class="td-tabla" ><input style="margin-left:25%"  th:class="${'input_fact fact'+pendienteshoy.venta.id}"  type="checkbox" th:id="${'check_'+pendienteshoy.venta.id}" th:value="${pendienteshoy.venta.id}" onclick="SeleccionarFactura(this.value);" checked/> </td>
											<td class="td-tabla" th:text="${pendienteshoy.venta.id_largo_ticket}"> </td>
											<td th:text="${#dates.format(pendienteshoy.venta.fecha, 'dd/MM/yyyy')}" th:title="${#dates.format(pendienteshoy.fecha, 'dd/MM/yyyy')}" class="td-tabla"></td>
											<td th:text="${#dates.format(pendienteshoy.venta.hora, 'hh:mm')}" th:title="${#dates.format(pendienteshoy.hora, 'hh:mm')}" class="td-tabla"></td>
											<td th:text="${#numbers.formatDecimal(pendienteshoy.importe, 1, 2)}" th:title="${#numbers.formatDecimal(pendienteshoy.importe, 1, 2)}" class="td-tabla"></td> 
											<td th:text="${#numbers.formatDecimal(pendienteshoy.venta.pagado, 1, 2)}" th:title="${#numbers.formatDecimal(pendienteshoy.venta.pagado, 1, 2)}" class="td-tabla"></td> 
											<td th:text="${#numbers.formatDecimal(pendienteshoy.venta.saldo, 1, 2)}" th:title="${#numbers.formatDecimal(pendienteshoy.venta.saldo, 1, 2)}" class="td-tabla"></td> 
											<td th:text="${pendienteshoy.forma_pago.nombre}" th:title="${pendienteshoy.forma_pago.nombre}" class="td-tabla"></td> 
											<td class="td-tabla"></td> 
											<td class="td-tabla"></td>
											<td class="td-tabla"></td>
											<td class="td-tabla"></td>
										
										</tr>
										</th:block>
										<tr>
											<td class="td-tabla"></td>
											<td class="td-tabla"><span style="font-weight: bold;">Total</span></td> 
											<td class="td-tabla"></td> 
											<td class="td-tabla"><span style="font-weight: bold;">0.00</span></td>
											<td class="td-tabla"><span style="font-weight: bold;">0.00</span></td>
											<td class="td-tabla"><span style="font-weight: bold;">0.00</span></td>
											<td class="td-tabla"></td> 
											<td class="td-tabla"></td> 
											<td class="td-tabla"></td> 
											<td class="td-tabla"></td>
											<td class="td-tabla"></td>
											<td class="td-tabla"></td>
										
										</tr>
											</tbody>
										
										</table>
										
									</div>
								</div>
							
							</div>
						</div>
						
						
						
						<div class="row botones-clientes m-l-3" style="margin-top:10px;">
							<div class="col-12 estilo-tarjeta pull-right p-t-1 p-l-1 p-b-1 p-r-1" style="display:flex;">
								<div class="col-lg-6 col-md-3 col-sm-3 ">
								</div>
								<div class="col-lg-2 col-md-3 col-sm-3"  style="margin-right: 10px;">
									<button class="green-button btn btn-primary btn-block text-left gray-button" style="font-size:14px;font-weight: bold;"  onclick="GenerarFactura();">Generar<img class="right-0 pos-absolute m-r-10" width="20px" alt="borrar" th:src="@{/images/iconos/oscuros/nuevo.png}"></button>
								</div>
								<div class="col-lg-2 col-md-3 col-sm-3"  style="margin-right: 10px;">
									<button class="green-button btn btn-primary btn-block text-left gray-button" style="font-size:14px;font-weight: bold;"  onclick="NoFacturaSeleccionada();">Anular<img class="right-0 pos-absolute m-r-10" width="20px" alt="borrar" th:src="@{/images/iconos/oscuros/eliminar.png}"></button>
								</div>
								<div class="col-lg-2 col-md-3 col-sm-3 p-r-1"  style="margin-right: 10px;">
									<button class="green-button btn btn-primary btn-block text-left gray-button" style="font-size:14px;font-weight: bold;"  onclick="IrAVentaDesdeFactura();">Ir A la Venta<img class="right-0 pos-absolute m-r-10" width="20px" alt="editar"  th:src="@{/images/iconos/oscuros/editar.png}"></button>
								</div>
							</div>
						</div>
						
						
						<div class="m-l-3">
							<div class="estilo-tarjeta-sin-relleno col-lg-12 col-md-12 col-sm-12 col-xs-9 menu-principal-inferior">
								 <div class="text-center text-bold">
						            <ul class="nav" id="opc-menu-inferior">
						            <li class="nav-item separadorBlancoDer clicPointer" style="background-color:#2fccae; min-width:120px; padding-top:0.5%;padding-bottom:0.5%;">
											<a onclick="FiltrarFacturas();">
												<div class="row" style="height:32px;">
													<div class="col-lg-12">
														<img style="width: 28px; height: 22px; margin-top: 5px;" alt="filtrar lista" th:src="@{/images/iconos/blancos/ticket.png}">
													</div>
													
												</div>
												<div class="row">
													<div class="col-lg-12">
														<span style="color:white; font-weight:1;">Consultar</span> 
													</div>
												</div>
									    	</a>
									  	</li>
									  
									  	<li class="nav-item separadorBlancoDer" style="background-color:#11437E; min-width:120px;padding-top:0.5%;padding-bottom:0.5%;">
											<a onclick="cierreCaja()">
												<div class="row" style="height:32px;">
													<div class="col-lg-12">
														<img style="width: 27px; height: 23px; margin-top: 5px;" alt="teclado" th:src="@{/images/iconos/blancos/imprimir.png}">
													</div>
													
												</div>
												<div class="row">
													<div class="col-lg-12">
														<span style="color:white; font-weight:1;">Imprimir</span> 
													</div>
												</div>
									    	</a>
									  	</li>
									  
									  	<li class="nav-item separadorBlancoDer clicPointer" style="background-color:#11437E; min-width:120px;padding-top:0.5%;padding-bottom:0.5%; ">
											<div data-toggle="modal" data-target="#ModalCompartirInforme">
												<div class="row" style="height:32px;">
													<div class="col-lg-12">
														<img style="width: 23px; height: 21px; margin-top: 5px;" alt="compartir" th:src="@{/images/iconos/blancos/compartir.png}">
													</div>
													
												</div>
												<div class="row">
													<div class="col-lg-12">
														<span style="color:white; font-weight:1;">Compartir</span> 
													</div>
												</div>
									    	</div>
									  	</li>
									</ul>				
						        </div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
		
		<!-- Modal eliminar-->
		<div class="modal" tabindex="-1" role="dialog" id="ModalEliminar">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-12 m-l-1 m-r-1" style="text-align:center;" >
								<button type="button" class="close m-r-5" aria-label="Close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span>
								</button>
		                    	<h3>Eliminar un movimiento</h3>
		                    	<br>
		                    </div>
						</div>
						
						<div class="container">
							<div class="row  m-l-3 m-r-3">
							     <p style="text-align:center;">¿Usted está seguro de eliminar el movimiento seleccionado?</p>
							 </div>
							 
							<div class="row justify-content-center m-t-3">
	                        	<div class="m-l-3 m-r-3" >
                                <button id="btn-eliminar" class="green-button btn btn-success m-b-3" onclick="eliminarMovimientoSeleccionado();" data-dismiss="modal">
                                    <i class="fa fa-btn fa-check"></i> Confirmar
                                </button>
                            </div>
                            <div class="m-l-3 m-r-3">
                                <button type="button" class="btn btn-danger"
									data-dismiss="modal">
									<i class="fa fa-btn fa-times"></i> Cancelar
								</button>
                            </div>
	                            
	                        </div>	
		                </div>
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal eliminar-->
			<!-- Modal Compartir-->
		<div class="modal fade" id="ModalCompartirInforme" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12 col-lg-12" style="text-align:center">
		                    <h3>Seleccionar formato</h3>
		                    </div>
		                </div>
		                <div class="row p-t-2">
		                    <div class="cont-recup-text col-lg-12" >
		                        <p style="text-align:center;">Por favor, elija el formato</p>
		                    </div>
		                </div>
		                
						<div class="form-group p-t-1">
	                    	<div class="row p-t-1">
	                        	<div class="col-sm-5 col-lg-6 col-sm-offset-1 col-xs-8 p-l-1 p-r-1" style="text-align:right">
	                                <button class="btn btn-success" id="compartir-csv" onclick="Compartir(this.id);">
	                                    <i class="fa fa-btn "></i> CSV
	                                </button>
	                            </div>
	                            
	                            <div class="col-sm-5 col-lg-6 col-xs-8 p-l-1 p-r-1" >
	                                <button class="btn btn-danger" id="compartir-pdf" onclick="Compartir(this.id);">
	                                    <i class="fa fa-btn "></i> PDF
	                                </button>
	                            </div>
	                            <div class="col-sm-5 col-lg-12 col-sm-offset-1 col-xs-8 p-l-1 p-r-1 p-t-2" style="text-align:center">
	                                <button class="btn btn-danger" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal Compartir-->		
		<!-- Modal factura no hay-->
		<div class="modal" tabindex="-1" role="dialog" id="ModalAnularFacturaNo">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-12 m-l-1 m-r-1" style="text-align:center;" >
								
		                    	<h3>No hay Factura seleccionada!</h3>
		                    	<br>
		                    </div>
						</div>
						
						<div class="container">
							<div class="row  m-l-15 m-r-3">
							     <p style="text-align:center;">Debe seleccionar una o más facturas para anular</p>
							 </div>
							 
							<div class="row justify-content-center m-t-3">
	                        	
                            <div class="m-l-3 m-r-3">
                                <button type="button" class="btn btn-danger"
									data-dismiss="modal">
									<i class="fa fa-btn fa-times"></i> Quitar
								</button>
                            </div>
	                            
	                        </div>	
		                </div>
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal factura no hay-->
		<!-- Modal no hay que consultar-->
		<div class="modal" tabindex="-1" role="dialog" id="ModalNoCriterios">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-12 m-l-1 m-r-1" style="text-align:center;" >
								
		                    	<h3>No hay criterios para consultar</h3>
		                    	<br>
		                    </div>
						</div>
						
						<div class="container">
							<div class="row  m-l-25 m-r-3">
							     <p style="text-align:center;">Debe ingresar criterios de consulta</p>
							 </div>
							 
							<div class="row justify-content-center m-t-3">
	                        	
                            <div class="m-l-3 m-r-3">
                                <button type="button" class="btn btn-danger"
									data-dismiss="modal">
									<i class="fa fa-btn fa-times"></i> Quitar
								</button>
                            </div>
	                            
	                        </div>	
		                </div>
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal no hay que consultar-->
		<!-- Modal no hay que generar-->
		<div class="modal" tabindex="-1" role="dialog" id="ModalNoGenerar">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-12 m-l-1 m-r-1" style="text-align:center;" >
								
		                    	<h3>No hay ventas seleccionadas</h3>
		                    	<br>
		                    </div>
						</div>
						
						<div class="container">
							<div class="row  m-l-10 m-r-3">
							     <p style="text-align:center;">Debe seleccionar ventas para poder generar factura</p>
							 </div>
							 
							<div class="row justify-content-center m-t-3">
	                        	
                            <div class="m-l-3 m-r-3">
                                <button type="button" class="btn btn-danger"
									data-dismiss="modal">
									<i class="fa fa-btn fa-times"></i> Quitar
								</button>
                            </div>
	                            
	                        </div>	
		                </div>
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal no hay que generar-->
		<!-- Modal factura incorrecta-->
		<div class="modal" tabindex="-1" role="dialog" id="ModalFacturaNo">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-12 m-l-1 m-r-1" style="text-align:center;" >
								
		                    	<h3>Selección Incorrecta!</h3>
		                    	<br>
		                    </div>
						</div>
						
						<div class="container">
							<div class="row  m-l-15 m-r-3">
							     <p style="text-align:center;" id="items-fact"> </p>
							 </div>
							 
							<div class="row justify-content-center m-t-3">
	                        	
                            <div class="m-l-3 m-r-3">
                                <button type="button" class="btn btn-danger"
									data-dismiss="modal">
									<i class="fa fa-btn fa-times"></i> Quitar
								</button>
                            </div>
	                            
	                        </div>	
		                </div>
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal factura incorrecta-->
		<!-- Modal anular-->
		<div class="modal" tabindex="-1" role="dialog" id="ModalAnularFactura">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-12 m-l-1 m-r-1" style="text-align:center;" >
								<button type="button" class="close m-r-5" aria-label="Close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span>
								</button>
		                    	<h3>Anular Factura</h3>
		                    	<br>
		                    </div>
						</div>
						
						<div class="container">
							<div class="row  m-l-3 m-r-3">
							     <p style="text-align:center;">¿Usted está seguro de anular las facturas seleccionadas?</p>
							 </div>
							 
							<div class="row justify-content-center m-t-3">
	                        	<div class="m-l-3 m-r-3" >
                                <button id="btn-eliminar" class="green-button btn btn-success m-b-3" onclick="anularFacturaSeleccionado();" data-dismiss="modal">
                                    <i class="fa fa-btn fa-check"></i> Confirmar
                                </button>
                            </div>
                            <div class="m-l-3 m-r-3">
                                <button type="button" class="btn btn-danger"
									data-dismiss="modal">
									<i class="fa fa-btn fa-times"></i> Cancelar
								</button>
                            </div>
	                            
	                        </div>	
		                </div>
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal anular-->
		
		<!-- Modal de opcion no seleccionada-->
		<div class="modal" tabindex="-1" role="dialog" id="modalSinSeleccion">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-12 m-l-1 m-r-1" style="text-align:center;" >
								<button type="button" class="close m-r-5" aria-label="Close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span>
								</button>
		                    	<h3>Seleccionar un movimiento</h3>
		                    	<br>
		                    </div>
						</div>
						
						<div class="container">
							<div class="row  m-l-3 m-r-3">
							    <p style="text-align: center;">Para continuar, debe seleccionar un movimiento primero</p>
							 </div>
							 
							<div class="row justify-content-center m-t-3">
	                        	<div class="m-l-3 m-r-3" >
	                                <button type="button" class="green-button btn btn-success" data-dismiss="modal">
										<i class="fa fa-btn fa-check"></i> Aceptar
									</button>
	                            </div>
	                            
	                        </div>	
		                </div>
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal de opcion no seleccionada-->
		
		
		
		<!-- Modal de remanente creado -->
		<div class="modal" tabindex="-1" role="dialog" id="modalCrearRemanente">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-12 m-l-1 m-r-1" style="text-align:center;" >
								<button type="button" class="close m-r-5" aria-label="Close" onclick="window.location.replace('/tpv/cajas/movimientos');">
									<span aria-hidden="true">&times;</span>
								</button>
		                    	<h3>Remanente</h3>
		                    	<br>
		                    </div>
						</div>
						
						<div class="container">
							<div class="row  m-l-3 m-r-3">
							    <p id="textoModalCrearRemanente" style="text-align: center;"></p>
							 </div>
							 
							<div class="row justify-content-center m-t-3">
	                        	<div class="m-l-3 m-r-3" >
	                                <button type="button" class="green-button btn btn-success" onclick="window.location.replace('/tpv/cajas/movimientos');">
										<i class="fa fa-btn fa-check"></i> Aceptar
									</button>
	                            </div>
	                            
	                        </div>	
		                </div>
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal  de remanente creado -->
	</div>
		
	</div>
	<div th:replace="fragments/fragmentsTPV :: modalRelogin"></div>
	<div th:replace="fragments/fragmentsTPV :: modalEnviarTicketCajaPorEmail"></div>
	<div th:replace="fragments/fragmentsTPV :: modalParaResultado"></div>
	<div th:replace="fragments/fragmentsTPV :: modalCargando"></div>
	<div th:replace="fragments/fragmentsTPV :: scripts"></div>
	
	
	
	<script type="text/javascript">
	
		$.datepicker.regional['es'] = {
			closeText: 'Cerrar',
			prevText: '< Ant',
			nextText: 'Sig >',
			currentText: 'Hoy',
			monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
			monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
			dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
			dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
			dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
			weekHeader: 'Sm',
			dateFormat: 'dd/mm/yy',
			firstDay: 1,
			isRTL: false,
			showMonthAfterYear: false,
			yearSuffix: ''
		};
		$.datepicker.setDefaults($.datepicker.regional['es']);
		
		$('.datepicker').datepicker({
		    format: 'dd/mm/yy',
		    changeYear: true,
		    changeMonth: true,
		    autoclose: true
		});

		
	
	</script>


	<script type="text/javascript">
	
		var altoMenuPrincipal = $(".menu-principal").height();
		var altoMenuModulo = $(".menu-modulo").height();
		var altoMenuInferior = $(".menu-principal-inferior").height();
		var altoBotones = $(".botones-clientes").height();
		var altoMenuFiltros = $(".menuFiltros").height();
		var altoFormularioCaja =  (window.innerHeight - altoMenuPrincipal - altoMenuModulo - altoMenuInferior - altoBotones - altoMenuFiltros - 60);
		$(".cajas-container").css("height", altoFormularioCaja+"px");
		$(".tablaBorrados").css("height", altoFormularioCaja+"px");
		
		var anchoFormularioCaja = $(".cajas-container").width() ;
		$(".botones-clientes").width(anchoFormularioCaja + 8);
		$(".menu-principal-inferior").width(anchoFormularioCaja - 5);
		$(".menu-principal-inferior").css("margin-left", $(".cajas-container").css('padding-left'));
		
		var altoTablasResumen = $(".panel-derecho-resumen-cajas").height();
		var altoTablaGeneral = $(".tablaGeneral").height();
		var altoTablasIntermedias = (altoTablasResumen - altoTablaGeneral) / 2 - 50;
		$(".tablaAgentes").css("max-height", altoTablasIntermedias+"px");
		$(".tablaMediosDePago").css("max-height", altoTablasIntermedias+"px");
		
		$(window).resize(function(){
			var altoMenuPrincipal = $(".menu-principal").height();
			var altoMenuModulo = $(".menu-modulo").height();
			var altoMenuInferior = $(".menu-principal-inferior").height();
			var altoBotones = $(".botones-clientes").height();
			var altoMenuFiltros = $(".menuFiltros").height();
			var altoFormularioCaja =  (window.innerHeight - altoMenuPrincipal - altoMenuModulo - altoMenuInferior - altoBotones - altoMenuFiltros - 60);
			$(".cajas-container").css("height", altoFormularioCaja+"px");
			$(".tablaBorrados").css("height", altoFormularioCaja+"px");
			
			var anchoFormularioCaja = $(".cajas-container").width() - parseInt($(".cajas-container").css('padding-left'));
			$(".menu-principal-inferior").width(anchoFormularioCaja - 5);
			$(".menu-principal-inferior").css("margin-left", $(".cajas-container").css('padding-left'));
			
		
			var altoTablaGeneral = $(".tablaGeneral").height();
			var altoTablasIntermedias = (altoTablaGeneral) / 2 - 50;
			$(".tablaAgentes").css("max-height", altoTablasIntermedias+"px");
			$(".tablaMediosDePago").css("max-height", altoTablasIntermedias+"px");
		});
		
			
	</script>
	<script th:replace="tpv/factura/buscadorFacturas :: javascript"></script>
</body>
</html>