<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragmentsTPV :: head"></head>
<body class="nav-md">
	<div class="body" style="overflow: hidden;">
		<div class="">
			<th:block th:replace="fragments/fragmentsTPV :: mensajesNotificaciones"></th:block>
			<div th:replace="fragments/fragmentsTPV :: barraSuperior"></div>

			<!-- Sub Menu de "Cajas" -->
			<div class="menu-modulo">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">									
						 <div class="text-center text-bold">
				            <ul class="nav fondoGris">
				            
							  	<li class="nav-item ">
							    	<a class="nav-link" th:href="@{/tpv/factura/resumen}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Resumen</a>
							  	</li>
								<li class="nav-item ">
							    	<a class="nav-link" th:href="@{/tpv/factura}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Ventas</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/factura/lotes}" style="border-bottom-color: #2fccae; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Lotes</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/factura/gastos}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Gastos</a>
							  	</li>
							  	
							</ul>				
				        </div>
					</div>
				</div>
			</div>
			
			<div class="fondoGrisClaro">
				<div class="row">
					<div class="contenido-modulo col-lg-12 col-md-12 col-sm-12 col-xs-12 p-t-1 p-r-3">
					<div class="row m-l-3 p-l-1 menuFiltros" style="margin-right:0px; margin-left:0px;">
						<div class="col-lg-3 col-md-4 col-sm-6 col-8">
								<div class="form-group row" style="margin:0px;">
								    <label class="col-lg-5 col-form-label col-form-label-sm" style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;padding-right: 3px;color:#11437e;">
								    	Fecha Desde
								    </label>
								    <div class="col-lg-7">								      
								      <input id="filtroFechaDesde" type="text" class="form-control form-control-sm datepicker datefe"  placeholder="..." style="text-align:center;">
								    </div>
								 </div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-8">
								<div class="form-group row" style="margin:0px;">
								    <label class="col-lg-5 col-form-label col-form-label-sm" style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;padding-right: 3px;color:#11437e;">
								    	Fecha Hasta
								    </label>
								    <div class="col-lg-7">
								      <input id="filtroFechaHasta" type="text" class="form-control form-control-sm datepicker datefe" placeholder="..." style="text-align:center;">								     
								    </div>
								 </div>
							</div>
								<div class="col-lg-3 col-md-4 col-sm-6 col-8">
								<div class="form-group row" style="margin:0px;">
								    <label class="col-lg-5 col-form-label col-form-label-sm" style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;padding-right: 3px;color:#11437e;">
								    	Fecha de Envío
								    </label>
								    <div class="col-lg-7">
								      <input id="filtroFechaEnvio" type="text" class="form-control form-control-sm datepicker dateenvio" placeholder="..." style="text-align:center;">								     
								    </div>
								 </div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6" >
								<div class="form-group row" style="margin:0px;">
								    <label class="col-lg-3 col-form-label col-form-label-sm p-l-5" style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;color:#11437e;">
								    	Enviado
								    </label>
								    <div class="col-lg-1 p-t-3">
								      <input style="margin-left:25%" id="filtroEnviado" class="input_lotepre" type="checkbox"   />
								    </div>
								      <label class="col-lg-3 col-form-label col-form-label-sm p-l-5" style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;color:#11437e;">
								    	Presentado
								    </label>
								    <div class="col-lg-1 p-t-3 p-l-2">
								      <input style="margin-left:25%" id="filtroPresentado" class="input_lotepre" type="checkbox"   />
								    </div>
								 </div>
								 
							</div>
						
							
							
						</div>					
					
						<div id="movimientosAjax">
							<div class="cajas-container panelBlanco m-l-3 custom-overflow" style="margin-top:10px;">
								<div class="x_panel">								
									<div class="x_content lotes-ajax" >
										
										<table id="tablaLotes" class="table table-responsive table-hover separadorInfTabla tablesorter table-bordered table-resizable">
	
											<thead>
												<tr>
													<td class=" td-tabla check_col" style="text-align: center;border-bottom: 1px solid #7E92A7; width:4%;" >
														 <input  type="checkbox" class="seleccionar_todo" id="check-input" onclick="seleccionarTodos();" checked="checked"/>
													</td>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarTablas();"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="id-ticket-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="id-ticket-down"></i> Id</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarTablas();"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="fecha-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="fecha-down"></i> Fecha</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarTablas();"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="hora-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="hora-down"></i> Nro Facturas</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarTablas();"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="empleado-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="empleado-down"></i> Total Facturado</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarTablas();"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="nro-cliente-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="nro-cliente-down"></i> Iva</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarTablas();"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="nombre-cliente-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="nombre-cliente-down"></i> Total Cobrado</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarTablas();"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-down"></i> Fecha Envio</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarTablas();"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-down"></i> Email Receptor</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" onclick="ordenarTablas();"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-down"></i> Agente</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-down"></i> Presentado</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-down"></i> Anulado</th>
												</tr>
											</thead>
											<tbody >
											<th:block th:if="${ventas!=null}" th:each="pendienteshoy: ${ventas}" >
														<tr th:if="${pendienteshoy.presentado!=true}" th:id="${pendienteshoy.id}" class="venta-sel" >
														
															<td class="td-tabla" ><input style="margin-left:25%"  class="input_fact checkselect" type="checkbox"  onclick="SeleccionarLote(this.value);" checked="checked"/> </td>
															<td th:text="${pendienteshoy.id}" class="td-tabla"></td>
															<td th:text="${#dates.format(pendienteshoy.fecha_creacion, 'dd/MM/yyyy')}" th:title="${#dates.format(pendienteshoy.fecha_creacion, 'dd/MM/yyyy')}" class="td-tabla"></td>
															
															<td th:text="${#lists.size(pendienteshoy.factura)}" class="td-tabla"></td>
															<td th:if="${pendienteshoy.total_facturado!=null}" th:text="${#numbers.formatDecimal(pendienteshoy.total_facturado, 1, 2)}" class="td-tabla"></td>
															<td class="td-tabla" th:if="${pendienteshoy.iva_deducible!=null}" th:text="${#numbers.formatDecimal(pendienteshoy.iva_deducible, 1, 2)+'%'}" ></td>
															<td class="td-tabla" th:if="${pendienteshoy.total_gastos!=null}" th:text="${#numbers.formatDecimal(pendienteshoy.total_gastos, 1, 2)}" ></td>
															<td th:if="${pendienteshoy.fecha_envio!=null}" th:text="${#dates.format(pendienteshoy.fecha_envio, 'dd/MM/yyyy')}" th:title="${#dates.format(pendienteshoy.fecha_envio, 'dd/MM/yyyy')}" class="td-tabla"></td>
															<td th:if="${pendienteshoy.fecha_envio==null}" class="td-tabla"></td>
															<td th:if="${pendienteshoy.email_receptor!=null}" th:text="${pendienteshoy.email_receptor}" class="td-tabla"></td>
															<td th:if="${pendienteshoy.email_receptor==null}" class="td-tabla"></td>
															<td th:text="${pendienteshoy.empleado.nombre+' '+pendienteshoy.empleado.apellido}" class="td-tabla"></td>
															<td  th:if="${pendienteshoy.presentado==false}" th:id="${pendienteshoy.id}" class="td-tabla">
																<input style="margin-left:25%"  th:id="${'presentado'+pendienteshoy.id}"  class="input_lotepre" type="checkbox"  onclick="SeleccionarPresentadoLote(this.id);"/>
															</td>
															<td   class="td-tabla" th:if="${pendienteshoy.anular==true}">
																<i class=" fa fa-check" id="anular_lote" Style="font-size:20px;"></i>
															</td> 
															<td   class="td-tabla" th:if="${pendienteshoy.anular==false}"></td>
														</tr>
														<tr th:if="${pendienteshoy.presentado==true}" style="background-color: rgb(222, 219, 219);">
															<td class="td-tabla" ><input style="margin-left:25%"  class="input_fact" type="checkbox"  onclick="SeleccionarLote(this.value);" checked="checked"/> </td>
															<td th:text="${pendienteshoy.id}" class="td-tabla"></td>
															<td th:text="${#dates.format(pendienteshoy.fecha_creacion, 'dd/MM/yyyy')}" th:title="${#dates.format(pendienteshoy.fecha_creacion, 'dd/MM/yyyy')}" class="td-tabla"></td>
															
															<td th:text="${#lists.size(pendienteshoy.factura)}" class="td-tabla"></td>
															<td th:if="${pendienteshoy.total_facturado!=null}" th:text="${#numbers.formatDecimal(pendienteshoy.total_facturado, 1, 2)}" class="td-tabla"></td>
															<td class="td-tabla" th:if="${pendienteshoy.iva_deducible!=null}" th:text="${#numbers.formatDecimal(pendienteshoy.iva_deducible, 1, 2)+'%'}" ></td>
															<td class="td-tabla" th:if="${pendienteshoy.total_gastos!=null}" th:text="${#numbers.formatDecimal(pendienteshoy.total_gastos, 1, 2)}" ></td>
															<td th:if="${pendienteshoy.fecha_envio!=null}" th:text="${#dates.format(pendienteshoy.fecha_envio, 'dd/MM/yyyy')}" th:title="${#dates.format(pendienteshoy.fecha_envio, 'dd/MM/yyyy')}" class="td-tabla"></td>
															<td th:if="${pendienteshoy.fecha_envio==null}" class="td-tabla"></td>
															<td th:if="${pendienteshoy.email_receptor!=null}" th:text="${pendienteshoy.email_receptor}" class="td-tabla"></td>
															<td th:if="${pendienteshoy.email_receptor==null}" class="td-tabla"></td>
															<td th:text="${pendienteshoy.empleado.nombre+' '+pendienteshoy.empleado.apellido}" class="td-tabla"></td>
															<td  th:text="${#dates.format(pendienteshoy.fecha_presentado, 'dd/MM/yyyy')}"  id="${'espresentado'+pendienteshoy.id}"class="td-tabla presen"></td>
															<td   class="td-tabla" ></td>
														</tr>
													</th:block>
													
													
												
											</tbody>
										</table>
										
									</div>
								</div>
							
							</div>
						</div>
						
						
						
						<div class="row botones-clientes m-l-3" style="margin-top:10px;">
							<div class="col-12 estilo-tarjeta pull-right p-t-1 p-l-1 p-b-1 p-r-2" style="display:flex;">
								<div class="col-lg-8 col-md-3 col-sm-3 ">
								</div>
								<div class="col-lg-2 col-md-3 col-sm-3 "  style="margin-right: 10px;">
									<button class="green-button btn btn-primary btn-block text-left gray-button" style="font-size:14px;font-weight: bold;"  >Ver PDF<img class="right-0 pos-absolute m-r-10" width="20px" alt="editar"  th:src="@{/images/iconos/oscuros/editar.png}"></button>
								</div>
								<div class="col-lg-2 col-md-3 col-sm-3"  style="margin-right: 10px;">
									<button class="green-button btn btn-primary btn-block text-left gray-button" style="font-size:14px;font-weight: bold;" onclick="verifyLotesElim();" >Eliminar<img class="right-0 pos-absolute m-r-10" width="20px" alt="borrar" th:src="@{/images/iconos/oscuros/eliminar.png}"></button>
								</div>
								
							</div>
						</div>
						
						
						<div class="m-l-3">
							<div class="estilo-tarjeta-sin-relleno col-lg-12 col-md-12 col-sm-12 col-xs-9 menu-principal-inferior">
								 <div class="text-center text-bold">
						            <ul class="nav" id="opc-menu-inferior">
										 <li class="nav-item separadorBlancoDer clicPointer" style="background-color:#2fccae; min-width:120px; padding-top:0.5%;padding-bottom:0.5%;">
											<a onclick="FiltrarLotes();">
												<div class="row" style="height:32px;">
													<div class="col-lg-12">
														<img style="width: 28px; height: 22px; margin-top: 5px;" alt="filtrar lista" th:src="@{/images/iconos/blancos/ticket.png}">
													</div>
													
												</div>
												<div class="row">
													<div class="col-lg-12">
														<span style="color:white; font-weight:1;">Consultar</span> 
													</div>
												</div>
									    	</a>
									  	</li>
									  
									  	<li class="nav-item separadorBlancoDer" style="background-color:#11437E; min-width:120px;padding-top:0.5%;padding-bottom:0.5%;">
											<a onclick="cierreCaja()">
												<div class="row" style="height:32px;">
													<div class="col-lg-12">
														<img style="width: 27px; height: 23px; margin-top: 5px;" alt="teclado" th:src="@{/images/iconos/blancos/imprimir.png}">
													</div>
													
												</div>
												<div class="row">
													<div class="col-lg-12">
														<span style="color:white; font-weight:1;">Imprimir</span> 
													</div>
												</div>
									    	</a>
									  	</li>
									  	
									  		<!--  <li th:if="${false==true}" class="nav-item separadorBlancoDer" style="background-color:#11437E; min-width:120px;padding-top:0.5%;padding-bottom:0.5%;">
											<a href="#" >
												<div class="row" style="height:32px;">
													<div class="col-lg-12">
														<img style="width: 27px; height: 23px; margin-top: 5px;" alt="teclado" th:src="@{/images/iconos/blancos/teclado.png}">
													</div>
													
												</div>
												<div class="row">
													<div class="col-lg-12">
														<span style="color:white; font-weight:1;">Teclado</span> 
													</div>
												</div>
									    	</a>
									  	</li>
									  	-->
									  	<!--  
									  	<li class="nav-item separadorBlancoDer clicPointer" style="background-color:#11437E; min-width:120px;padding-top:0.5%;padding-bottom:0.5%;">
											<button onclick="irVentaDesdeCaja()" >
												<div class="row" style="height:32px;">
													<div class="col-lg-12">
														<img style="width: 27px; height: 23px; margin-top: 5px;" alt="teclado" th:src="@{/images/iconos/blancos/nuevaVenta.png}">
													</div>
													
												</div>
												<div class="row">
													<div class="col-lg-12">
														<span style="color:white; font-weight:1;">Ir a la venta</span> 
													</div>
												</div>
									    	</button>
									  	</li>
									  	-->
									  	<li class="nav-item separadorBlancoDer clicPointer" style="background-color:#11437E; min-width:120px;padding-top:0.5%;padding-bottom:0.5%;">
											<div data-toggle="modal" data-target="#modalEnviarTicketCajaPorEmail">
												<div class="row" style="height:32px;">
													<div class="col-lg-12">
														<img style="width: 23px; height: 21px; margin-top: 5px;" alt="compartir" th:src="@{/images/iconos/blancos/compartir.png}">
													</div>
													
												</div>
												<div class="row">
													<div class="col-lg-12">
														<span style="color:white; font-weight:1;">Compartir</span> 
													</div>
												</div>
									    	</div>
									  	</li>
									</ul>				
						        </div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
					<!-- Modal no hay que consultar-->
		<div class="modal" tabindex="-1" role="dialog" id="ModalNoCriterios">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-12 m-l-1 m-r-1" style="text-align:center;" >
								
		                    	<h3>No hay criterios para consultar</h3>
		                    	<br>
		                    </div>
						</div>
						
						<div class="container">
							<div class="row  m-l-25 m-r-3">
							     <p style="text-align:center;">Debe ingresar criterios de consulta</p>
							 </div>
							 
							<div class="row justify-content-center m-t-3">
	                        	
                            <div class="m-l-3 m-r-3">
                                <button type="button" class="btn btn-danger"
									data-dismiss="modal">
									<i class="fa fa-btn fa-times"></i> Quitar
								</button>
                            </div>
	                            
	                        </div>	
		                </div>
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal no hay que consultar-->
		<!-- Modal Presentar-->
		<div class="modal" tabindex="-1" role="dialog" id="ModalPresentar">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-12 m-l-1 m-r-1" style="text-align:center;" >
								<button type="button" class="close m-r-5" aria-label="Close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span>
								</button>
		                    	<h3 >Presentar Lote </h3>
		                    	<br>
		                    </div>
						</div>
						
						<div class="container">
							<div class="row  m-l-10 m-r-3">
							     <p style="text-align:center;padding-top:2px;" id="textopresentar"> </p>
							     <br>
							     <p style="padding-top:5px;" >De ser así, por favor seleccione la fecha y luego dar click en <span style="font-weight: 700;">"Confirmar"</span>. En caso contrario, click en <span style="font-weight: 700;">"Cancelar"</span></p>
							     
							 </div>
							 <div class="row  m-l-3 m-r-3">
							 
							 <div class="col-8 p-r-2 m-l-15 m-r-7 p-t-2" style="text-align:center;">
									<p style="text-align:center;"><b>Fecha de Presentación: </b></p>
									<input id="fechaPresentar" style="text-align:center;" type="text" class="form-control borde-input-visible datepicker heightDatepicker" required="required" 
									placeholder="Formato: dd/mm/yyyy" pattern="^(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}$"/>
									<small id="fechaPagoGastoError"></small>
														
								</div>
								</div>
							<div class="row justify-content-center m-t-4">
	                        	<div class="m-l-3 m-r-3" >
                                <button id="btn-eliminar" class="green-button btn btn-success m-b-3" onclick="PresentarLoteSel();" data-dismiss="modal">
                                    <i class="fa fa-btn fa-check"></i> Confirmar
                                </button>
                            </div>
                            <div class="m-l-3 m-r-3">
                                <button type="button" class="btn btn-danger"
									data-dismiss="modal" onclick="QuitarcheckPresentado();">
									<i class="fa fa-btn fa-times"></i> Cancelar
								</button>
                            </div>
	                            
	                        </div>	
		                </div>
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal Presentar-->
				<!-- Modal eliminar-->
		<div class="modal" tabindex="-1" role="dialog" id="ModalEliminarLote">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-12 m-l-1 m-r-1" style="text-align:center;" >
								<button type="button" class="close m-r-5" aria-label="Close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span>
								</button>
		                    	<h3 >Presentar Lote </h3>
		                    	<br>
		                    </div>
						</div>
						
						<div class="container">
							<div class="row  m-l-10 m-r-3">
							     <p style="text-align:center;padding-top:2px;" id="textopresentar"> </p>
							     <br>
							     <p style="padding-top:5px;" >De ser así, por favor seleccione la fecha y luego dar click en <span style="font-weight: 700;">"Confirmar"</span>. En caso contrario, click en <span style="font-weight: 700;">"Cancelar"</span></p>
							     
							 </div>
							 <div class="row  m-l-3 m-r-3">
							 
							 <div class="col-8 p-r-2 m-l-15 m-r-7 p-t-2" style="text-align:center;">
									<p style="text-align:center;"><b>Fecha de Presentación: </b></p>
									<input id="fechaPresentar" style="text-align:center;" type="text" class="form-control borde-input-visible datepicker heightDatepicker" required="required" 
									placeholder="Formato: dd/mm/yyyy" pattern="^(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}$"/>
									<small id="fechaPagoGastoError"></small>
														
								</div>
								</div>
							<div class="row justify-content-center m-t-4">
	                        	<div class="m-l-3 m-r-3" >
                                <button id="btn-eliminar" class="green-button btn btn-success m-b-3" onclick="PresentarLoteSel();" data-dismiss="modal">
                                    <i class="fa fa-btn fa-check"></i> Confirmar
                                </button>
                            </div>
                            <div class="m-l-3 m-r-3">
                                <button type="button" class="btn btn-danger"
									data-dismiss="modal" onclick="QuitarcheckPresentado();">
									<i class="fa fa-btn fa-times"></i> Cancelar
								</button>
                            </div>
	                            
	                        </div>	
		                </div>
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal eliminar-->
			<!-- Modal CompartirTipoDoc-->
		<div class="modal fade" id="ModalCompartirInformeMetodo" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12 col-lg-12" style="text-align:center">
		                    <h3>Seleccionar método</h3>
		                    </div>
		                </div>
		                <div class="row p-t-2">
		                    <div class="cont-recup-text col-lg-12" >
		                        <p style="text-align:center;">Por favor, elija el método con el que desea obtener el documento</p>
		                    </div>
		                </div>
		                
						<div class="form-group p-t-1">
	                    	<div class="row p-t-1">
	                        	<div class="col-sm-5 col-lg-4 col-sm-offset-1 col-xs-8 p-l-4 p-r-1" style="text-align:right">
	                                <button id="btn-eliminar" class="btn btn-primary" id="exportar-salvar" onclick="CompartirDoc(this.id);">
	                                    <i class="fa fa-btn "></i> Exportar y guardar
	                                </button>
	                            </div>
	                            
	                            
	                            <div class="col-sm-5 col-lg-4 col-sm-offset-1 col-xs-8 p-l-1 p-r-5" style="text-align:right">
	                                <button id="btn-eliminar" class="btn btn-success" data-toggle="modal" data-target="#modalEnviarDocEmail" id="enviar-email" onclick="CompartirDoc(this.id);">
	                                    <i class="fa fa-btn "></i> Enviar por email
	                                </button>
	                            </div>
	                            <div class="col-sm-5 col-lg-12 col-sm-offset-1 col-xs-8 p-l-1 p-r-1 p-t-3" style="text-align:center">
	                                <button class="btn btn-danger" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal TipoDeDoc-->	
		
		<!-- Modal de opcion no seleccionada-->
		<div class="modal" tabindex="-1" role="dialog" id="modalSinFecha">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-12 m-l-1 m-r-1" style="text-align:center;" >
								<button type="button" class="close m-r-5" aria-label="Close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span>
								</button>
		                    	<h3>Seleccionar Fecha</h3>
		                    	<br>
		                    </div>
						</div>
						
						<div class="container">
							<div class="row  m-l-15 m-r-3">
							    <p style="text-align: center;">Para continuar, debe seleccionar una fecha</p>
							 </div>
							 
							<div class="row justify-content-center m-t-3">
	                        	<div class="m-l-3 m-r-3" >
	                                <button type="button" class="btn btn-danger" onclick="volverAnterio();">
										<i class="fa fa-btn fa-times" ></i> Quitar
									</button>
	                            </div>
	                            
	                        </div>	
		                </div>
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal de opcion no seleccionada-->
		
		<!-- Modal de fecha remanente -->
		<div class="modal" tabindex="-1" role="dialog" id="modalFechaRemanente">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-12 m-l-1 m-r-1" style="text-align:center;" >
								<button type="button" class="close m-r-5" aria-label="Close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span>
								</button>
		                    	<h3>Crear remanente</h3>
		                    	<br>
		                    </div>
						</div>
						
						<div class="container">
							<div class="row m-b-5">
							
								<div class="col-justify-content-center">
							
									<div id="datapickerRemanente" class="col-12 m-l-30 datepicker"></div>
									
									
									<div class="col-12 m-l-10 m-t-5">
										<p id="textoModalRemanente"></p>
										<input id="textoModalFechaRemanente" type="hidden"></input>
										<input id="textoFechaBuscarRemanente" type="hidden"></input>
										
									</div>
									<div class="col-12 m-l-10">
										<br>
										<input id="montoRemanenteInput" type="text" class="form-control borde-input-visible form-bordersel" required="required" 
										onkeyup="validarFloatRemanente(this.value)" data-toggle="popover" data-trigger="manual"  data-placement="right" title="Remanente inválido" 
										data-content="Debe ingresar un monto de seis (6) dígitos y dos (2) decimales como máximo, y debidamente separados por una coma (,)" />
										
										<small id="montoRemanenteError"></small>
									</div>
									
								</div>
							
							</div>
							 
							<div class="row justify-content-center" style="width:100%;margin: 0 auto;">
                        	<div class="m-l-3 m-r-3" >
                                <button id="btn-eliminar" class="green-button btn btn-success m-b-3" onclick="guardarRemanente();">
                                    <i class="fa fa-btn fa-check"></i> Confirmar
                                </button>
                            </div>
                            <div class="m-l-3 m-r-3">
                                <button type="button" class="btn btn-danger"
									data-dismiss="modal">
									<i class="fa fa-btn fa-times"></i> Cancelar
								</button>
                            </div>
                        </div>
		                </div>
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal de fecha remanente -->
		
		
		<!-- Modal de remanente creado -->
		<div class="modal" tabindex="-1" role="dialog" id="modalCrearRemanente">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col-12 m-l-1 m-r-1" style="text-align:center;" >
								<button type="button" class="close m-r-5" aria-label="Close" onclick="window.location.replace('/tpv/cajas/movimientos');">
									<span aria-hidden="true">&times;</span>
								</button>
		                    	<h3>Remanente</h3>
		                    	<br>
		                    </div>
						</div>
						
						<div class="container">
							<div class="row  m-l-3 m-r-3">
							    <p id="textoModalCrearRemanente" style="text-align: center;"></p>
							 </div>
							 
							<div class="row justify-content-center m-t-3">
	                        	<div class="m-l-3 m-r-3" >
	                                <button type="button" class="green-button btn btn-success" onclick="window.location.replace('/tpv/cajas/movimientos');">
										<i class="fa fa-btn fa-check"></i> Aceptar
									</button>
	                            </div>
	                            
	                        </div>	
		                </div>
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal  de remanente creado -->
	</div>
		
	</div>
	<div th:replace="fragments/fragmentsTPV :: modalRelogin"></div>
	<div th:replace="fragments/fragmentsTPV :: modalEnviarTicketCajaPorEmail"></div>
	<div th:replace="fragments/fragmentsTPV :: modalParaResultado"></div>
	<div th:replace="fragments/fragmentsTPV :: modalCargando"></div>
	<div th:replace="fragments/fragmentsTPV :: scripts"></div>
	
	
	
	<script type="text/javascript">
	
		$.datepicker.regional['es'] = {
			closeText: 'Cerrar',
			prevText: '< Ant',
			nextText: 'Sig >',
			currentText: 'Hoy',
			monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
			monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
			dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
			dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
			dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
			weekHeader: 'Sm',
			dateFormat: 'dd/mm/yy',
			firstDay: 1,
			isRTL: false,
			showMonthAfterYear: false,
			yearSuffix: ''
		};
		$.datepicker.setDefaults($.datepicker.regional['es']);
		
		$('.datepicker').datepicker({
		    format: 'dd/mm/yy',
		    changeYear: true,
		    changeMonth: true,
		    autoclose: true
		});
		/*
		//Este es el calendario para seleccionar la fecha del remanente
		//Tiene configuraciones adicionales y por eso está aparte
		$('#datapickerRemanente').datepicker({
			format: 'dd/mm/yy',
		    changeYear: true,
		    changeMonth: true,
		    autoclose: true
		    //minDate: "0"
		});*/
		
		//Colocandole por defecto, la fecha de mañana
		var tomorrow = new Date(+new Date() + 86400000);
		$('#datapickerRemanente').datepicker('setDate', tomorrow);
		var dia =  ("0" + tomorrow.getDate()).slice(-2);
		var mes = ("0" + (tomorrow.getMonth() + 1)).slice(-2);
		var año = tomorrow.getFullYear();
		$("#textoModalFechaRemanente").val( dia + "/" + mes + "/" + año );
		$("#textoFechaBuscarRemanente").val( año + "-" + mes + "-" + dia );
		consultarRemanenteEnFecha();
		
		
		$(document).ready(function() 
		    {
				/*$("#tablaDetallesCaja").tablesorter({
	    			cssAsc: 'headerSortUp',
	    			cssDesc: 'headerSortDown'
	    		});*/
				
				
	    	
		    } 
		);
		
	
	</script>


	<script type="text/javascript">
	
		var altoMenuPrincipal = $(".menu-principal").height();
		var altoMenuModulo = $(".menu-modulo").height();
		var altoMenuInferior = $(".menu-principal-inferior").height();
		var altoBotones = $(".botones-clientes").height();
		var altoMenuFiltros = $(".menuFiltros").height();
		var altoFormularioCaja =  (window.innerHeight - altoMenuPrincipal - altoMenuModulo - altoMenuInferior - altoBotones - altoMenuFiltros - 60);
		$(".cajas-container").css("height", altoFormularioCaja+"px");
		$(".tablaBorrados").css("height", altoFormularioCaja+"px");
		
		var anchoFormularioCaja = $(".cajas-container").width() ;
		$(".menu-principal-inferior").width(anchoFormularioCaja);
		$(".botones-clientes").width(anchoFormularioCaja + 8);
		$(".menu-principal-inferior").width(anchoFormularioCaja - 5);
		$(".menu-principal-inferior").css("margin-left", $(".cajas-container").css('padding-left'));
		
		var altoTablasResumen = $(".panel-derecho-resumen-cajas").height();
		var altoTablaGeneral = $(".tablaGeneral").height();
		var altoTablasIntermedias = (altoTablasResumen - altoTablaGeneral) / 2 - 50;
		$(".tablaAgentes").css("max-height", altoTablasIntermedias+"px");
		$(".tablaMediosDePago").css("max-height", altoTablasIntermedias+"px");
		
		$(window).resize(function(){
			var altoMenuPrincipal = $(".menu-principal").height();
			var altoMenuModulo = $(".menu-modulo").height();
			var altoMenuInferior = $(".menu-principal-inferior").height();
			var altoBotones = $(".botones-clientes").height();
			var altoMenuFiltros = $(".menuFiltros").height();
			var altoFormularioCaja =  (window.innerHeight - altoMenuPrincipal - altoMenuModulo - altoMenuInferior - altoBotones - altoMenuFiltros - 60);
			$(".cajas-container").css("height", altoFormularioCaja+"px");
			$(".tablaBorrados").css("height", altoFormularioCaja+"px");
			
			var anchoFormularioCaja = $(".cajas-container").width() - parseInt($(".cajas-container").css('padding-left'));
			$(".menu-principal-inferior").width(anchoFormularioCaja - 5);
			$(".menu-principal-inferior").css("margin-left", $(".cajas-container").css('padding-left'));
			
		
			var altoTablaGeneral = $(".tablaGeneral").height();
			var altoTablasIntermedias = (altoTablaGeneral) / 2 - 50;
			$(".tablaAgentes").css("max-height", altoTablasIntermedias+"px");
			$(".tablaMediosDePago").css("max-height", altoTablasIntermedias+"px");
		});
		
	</script>
</body>
</html>