<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragmentsTPV :: head"></head>
<body class="nav-md">
	<div class="body" style="overflow: hidden;">
		<div class="">
			<th:block th:replace="fragments/fragmentsTPV :: mensajesNotificaciones"></th:block>
			<div th:replace="fragments/fragmentsTPV :: barraSuperior"></div>

			<!-- Sub Menu de "Cajas" -->
			<div class="menu-modulo">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">									
						 <div class="text-center text-bold">
				            <ul class="nav fondoGris">
				          	  <li class="nav-item ">
							    	<a class="nav-link" th:href="@{/tpv/factura/resumen}" style="border-bottom-color: #2fccae; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Resumen</a>
							  	</li>
								<li class="nav-item ">
							    	<a class="nav-link" th:href="@{/tpv/factura}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Ventas</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/factura/lotes}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Lotes</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/factura/gastos}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Gastos</a>
							  	</li>
							  	
							  	
							</ul>				
				        </div>
					</div>
				</div>
				
			</div>
			
			<div class="fondoGrisClaro">
				<div class="row">
					<div class="contenido-modulo col-lg-12 col-md-12 col-sm-12 col-xs-12 p-t-1 p-r-3">
						<div class="row m-l-3 p-l-1" style="margin-right:0px; margin-left:0px;">
							<div class="col-lg-3 col-md-4 col-sm-6 col-8" >
								<div class="form-group row" style="margin:0px;">
								    <label class="col-lg-6 col-form-label col-form-label-sm"  style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;color:#11437e;">
								    	Fecha Desde
								    </label>
								    <div class="col-lg-6">
								      <input id="filtroFechaDesde" type="text" class="form-control form-control-sm datepicker"  placeholder="..." style="text-align:center;">
								    </div>
								 </div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-8">
								<div class="form-group row" style="margin:0px;">
								    <label class="col-lg-6 col-form-label col-form-label-sm" style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;padding-right: 3px;color:#11437e;">
								    	Fecha Hasta
								    </label>
								    <div class="col-lg-6">
								      <input id="filtroFechaHasta" type="text" class="form-control form-control-sm datepicker" placeholder="..." style="text-align:center;">
								    </div>
								 </div>
							</div>
								<div class="col-lg-3 col-md-4 col-sm-6 col-8 ">
								<div class="form-group row" style="margin:0px;">
								    <label class="col-lg-5 col-form-label col-form-label-sm" style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;padding-right: 3px;color:#11437e;">
								    	Facturado
								    </label>
								    <div class="col-lg-7">
								      <input type="text" id="filtroFacturado" class="form-control form-control-sm" placeholder="..." style="text-align:center;">
								    </div>
								 </div>
							</div>
							<!--  
							<div class="col-lg-3 col-md-4 col-sm-6 col-8">
								<div class="form-group row" style="margin:0px;">
								    <label class="col-lg-5 col-form-label col-form-label-sm" style="text-align: center;font-weight: 600;font-size: 14px;top: 4px;padding-right: 3px;color:#11437e;">
								    	Caja
								    </label>
								    <div class="col-lg-7">
								      <input class="form-control form-control-sm" placeholder="..." style="text-align:center;">
								    </div>
								 </div>
							</div>
							-->
						</div>
						<div id="resumenFacturas" class="cajas-container panelBlanco m-l-3" style="overflow:auto;margin-top:10px;">
							
							<!-- Gráficas -->
							<div class="row m-l-2 m-t-2">
								<div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
									<div id="ventasPorAgente"></div>
									
								</div>	
								
										
							</div>
							
														
							
							<!-- Gráficas -->
						
						</div>					
					
						<div class="m-l-3">
							<div class=" menu-principal-inferior estilo-tarjeta-sin-relleno col-lg-12 col-md-12 col-sm-9 col-xs-9 ">
								 <div class="text-center text-bold">
						            <ul class="nav" id="opc-menu-inferior">
										
									  
									  	 	<li class="nav-item separadorBlancoDer" style="background-color:#11437E; min-width:120px;padding-top:0.5%;padding-bottom:0.5%;">
											<a onclick="cierreCaja()">
												<div class="row" style="height:32px;">
													<div class="col-lg-12">
														<img style="width: 27px; height: 23px; margin-top: 5px;" alt="teclado" th:src="@{/images/iconos/blancos/imprimir.png}">
													</div>
													
												</div>
												<div class="row">
													<div class="col-lg-12">
														<span style="color:white; font-weight:1;">Imprimir</span> 
													</div>
												</div>
									    	</a>
									  	</li>
									  	<li class="nav-item separadorBlancoDer clicPointer" style="background-color:#11437E; min-width:120px;padding-top:0.5%;padding-bottom:0.5%;">
											<div data-toggle="modal" data-target="#modalEnviarTicketCajaPorEmail">
												<div class="row" style="height:32px;">
													<div class="col-lg-12">
														<img style="width: 23px; height: 21px; margin-top: 5px;" alt="compartir" th:src="@{/images/iconos/blancos/compartir.png}">
													</div>
													
												</div>
												<div class="row">
													<div class="col-lg-12">
														<span style="color:white; font-weight:1;">Compartir</span> 
													</div>
												</div>
									    	</div>
									  	</li>
									</ul>				
						        </div>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		
	</div>
		
	</div>

	<div th:replace="fragments/fragmentsTPV :: modalRelogin"></div>
	<div th:replace="fragments/fragmentsTPV :: modalEnviarTicketCajaPorEmail"></div>
	<div th:replace="fragments/fragmentsTPV :: modalParaResultado"></div>
	<div th:replace="fragments/fragmentsTPV :: modalCargando"></div>
	<div th:replace="fragments/fragmentsTPV :: scripts"></div>
	<!--Libreria de graficos -->
	<script th:src="@{/js/echarts.common.min.js}"></script>
	
	
	<script type="text/javascript">
	
		var altoMenuPrincipal = $(".menu-principal").height();
		var altoMenuModulo = $(".menu-modulo").height();
		var altoMenuInferior = $(".menu-principal-inferior").height();
		var altoFormularioCaja =  window.innerHeight - altoMenuPrincipal - altoMenuModulo - altoMenuInferior - 80;
		$(".cajas-container").css("height", altoFormularioCaja+"px");
		
		var altoGraficas = altoFormularioCaja - 50;
		var anchoGraficas = $(".cajas-container").width() / 2 - 50;
		$("#ventasPorAgente").css("height", altoGraficas+"px");
		$("#ventasPorAgente").css("width", anchoGraficas+"px");
		$("#mediosDePago").css("height", altoGraficas+"px");
		$("#mediosDePago").css("width", anchoGraficas+"px");

		
		
		var anchoFormularioCaja = $(".cajas-container").width() ;
		console.log(anchoFormularioCaja);
		$(".menu-principal-inferior").width(anchoFormularioCaja - 8);
		$(".menu-principal-inferior").css("margin-left", $(".cajas-container").css('padding-left'));
		
		var altoTablasResumen = $(".panel-derecho-resumen-cajas").height();
		var altoTablaGeneral = $(".tablaGeneral").height();
		var altoTablasIntermedias = (altoTablasResumen - altoTablaGeneral) / 2 - 50;
		$(".tablaAgentes").css("max-height", altoTablasIntermedias+"px");
		$(".tablaMediosDePago").css("max-height", altoTablasIntermedias+"px");
		
			
		
		$(window).resize(function(){
			var altoMenuPrincipal = $(".menu-principal").height();
			var altoMenuModulo = $(".menu-modulo").height();
			var altoMenuInferior = $(".menu-principal-inferior").height();
			var altoFormularioCaja =  window.innerHeight - altoMenuPrincipal - altoMenuModulo - altoMenuInferior - 80;
			$(".cajas-container").css("height", altoFormularioCaja+"px");
			
			var anchoFormularioCaja = $(".cajas-container").width() - parseInt($(".cajas-container").css('padding-left'));
			$(".menu-principal-inferior").width(anchoFormularioCaja);
			$(".menu-principal-inferior").css("margin-left", $(".cajas-container").css('padding-left'));
			
			var altoTablasResumen = $(".panel-derecho-resumen-cajas").height();
			var altoTablaGeneral = $(".tablaGeneral").height();
			var altoTablasIntermedias = (altoTablasResumen - altoTablaGeneral) / 2 - 50;
			$(".tablaAgentes").css("max-height", altoTablasIntermedias+"px");
			$(".tablaMediosDePago").css("max-height", altoTablasIntermedias+"px");
			
			
		});
	</script>
	
	<script type="text/javascript">
		$.datepicker.regional['es'] = {
			closeText: 'Cerrar',
			prevText: '< Ant',
			nextText: 'Sig >',
			currentText: 'Hoy',
			monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
			monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
			dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
			dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
			dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
			weekHeader: 'Sm',
			dateFormat: 'dd/mm/yy',
			firstDay: 1,
			isRTL: false,
			showMonthAfterYear: false,
			yearSuffix: ''
		};
		$.datepicker.setDefaults($.datepicker.regional['es']);
		
		$('.datepicker').datepicker({
		    format: 'dd/mm/yy',
		    changeYear: true,
		    changeMonth: true,
		    autoclose: true
		});
		
		$(document).ready(function() 
		    { 
				cargarCamposDeFiltros();
				graficaFacturasResumen();
		    } 
		);
	</script>
	
</body>
</html>