<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta charset="UTF-8" />
<title th:text="#{fragments.titulo}"></title>
<link rel="stylesheet" type="text/css"  th:href="${@mvcResourceUrlProvider.getForLookupPath('/css/bootstrap.min.css')}"></link>
<link rel="stylesheet" type="text/css"  th:href="${@mvcResourceUrlProvider.getForLookupPath('/font-awesome/css/font-awesome.css')}"></link>
<link rel="stylesheet" type="text/css"  th:href="${@mvcResourceUrlProvider.getForLookupPath('/css/custom.css')}"></link>
<link rel="stylesheet" type="text/css"  th:href="${@mvcResourceUrlProvider.getForLookupPath('/css/tpvonline.css')}"></link>
<link rel="stylesheet" type="text/css"  th:href="${@mvcResourceUrlProvider.getForLookupPath('/css/jquery-ui.min.css')}"></link>
<link rel="icon" type="image/png"  th:href="${@mvcResourceUrlProvider.getForLookupPath('/images/logoSimple.png')}"></link>
<link rel="stylesheet" type="text/css"  th:href="${@mvcResourceUrlProvider.getForLookupPath('/css/util.css')}"></link>
<link rel="stylesheet" type="text/css"  th:href="${@mvcResourceUrlProvider.getForLookupPath('/css/bootstrap-timepicker.css')}"></link>
</head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div th:fragment="menu_izquierdo" class="col-md-3 left_col">
				<div class="loader"></div> 
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;" th:with="URL=${#httpServletRequest.requestURL.toString()}">
						<a th:href="${#strings.contains(URL,'/admin/') ? '/admin/home' : '/tpv/home'}" class="site_title">
                             <img th:src="@{/images/LogoSimple.png}" alt="Logo" class="logoSimple"/>
                             <span>
                                 <img th:src="@{/images/LetrasSaraworld.png}" alt="Saraworld" class="letrasLogoSimple"/>
                             </span>
                         </a>
					</div>

					<div class="clearfix"></div>

					<!-- menu profile quick info -->
					<div class="profile clearfix">
						<div class="profile_pic">
							
							<img th:if="${#strings.length(user.foto) > 0}" class="img-circle profile_img"
							th:src="@{'/tpv_images/usuarios/' + ${user.foto}}">
							<img id="imagenPerfilIniciales" th:if="${#strings.length(user.foto) == 0}" th:attr="data-nombre=${user.nombre}, data-apellido=${user.apellido}" class="img-circle profile_img iniciales">
							
						</div>
						<div class="profile_info">
							<span th:text="#{fragments.menu.sidebar.bienvenido}"></span>
							<h2 th:utext="${user.nombre}"></h2>
							<h2 th:utext="${user.apellido}"></h2>
						</div>
					</div>
					<!-- /menu profile quick info -->

					<br />

					<!-- sidebar menu -->
					<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
						
						<div class="menu_section" th:with="URL=${#httpServletRequest.requestURL.toString()}">
							<th:block th:if="${#strings.contains(URL,'/admin/')}">
								<h3 th:text="#{fragments.menu.sidebar.admin}"></h3>
								<ul class="nav side-menu">
									<th:block th:if="${nuevoUsuario != null}">
										<li>
											<a th:href="@{/admin/home}">
												<img class="m-r-4" width="30px" alt="home" th:src="@{/images/iconos/blancos/home.png}">
												<span th:text="#{fragments.menu.sidebar.modulos.home}"></span>
											</a>
										</li>
										<li >
											<a th:href="${crearEmpresaUrl}">
												<img class="m-r-4" width="30px" alt="empresas" th:src="@{/images/iconos/blancos/empresas.png}">
												<span th:text="#{fragments.menu.sidebar.modulos.negocio.empresas}"></span>
												
											</a>
										</li>
									</th:block>
									<th:block th:if="${nuevoUsuario == null }">
										<li th:if="${#lists.contains(modulosPermisos, 'Admin - Home')}">
											<a th:href="@{/admin/home}">
												<img class="m-r-4" width="30px" alt="home" th:src="@{/images/iconos/blancos/home.png}">
												<span th:text="#{fragments.menu.sidebar.modulos.home}"></span>
											</a>
										</li>
										
										<li th:if="${#lists.contains(modulosPermisos, 'Admin - Empresas')} 
											or ${#lists.contains(modulosPermisos, 'Admin - Marcas')}
											or ${#lists.contains(modulosPermisos, 'Admin - Sucursales')}">
											<a >
												<img class="m-r-4" width="30px" alt="empresas" th:src="@{/images/iconos/blancos/empresas.png}">
												<span th:text="#{fragments.menu.sidebar.modulos.negocio.titulo}"></span>
												<span class="fa fa-chevron-down"></span> 
											</a>
											<ul class="nav child_menu" style="display: none;">
						                      	<li th:if="${#lists.contains(modulosPermisos, 'Admin - Marcas')}">
						                      		<a th:href="@{/admin/marcas}" th:text="#{fragments.menu.sidebar.modulos.negocio.marcas}"></a>
					                      		</li>
					                      		<li th:if="${#lists.contains(modulosPermisos, 'Admin - Empresas')}" id="opcionEmpresa">
													<a th:href="@{/admin/empresas}" th:text="#{fragments.menu.sidebar.modulos.negocio.empresas}"></a>
												</li>
						                      	<li th:if="${#lists.contains(modulosPermisos, 'Admin - Sucursales')}">
						                      		<a th:href="@{/admin/sucursales}" th:text="#{fragments.menu.sidebar.modulos.negocio.sucursales}"></a>
					                      		</li>
                    						</ul>
										</li>
										<li th:if="${#lists.contains(modulosPermisos, 'Admin - Tipos de IVA de Empresa')}">
											<a >
												<img class="m-r-4" width="30px" alt="empresas" th:src="@{/images/iconos/blancos/economico.png}">
												<span th:text="#{fragments.menu.sidebar.modulos.economico.titulo}"></span>
												<span class="fa fa-chevron-down"></span> 
											</a>
											<ul class="nav child_menu" style="display: none;">
												<li th:if="${#lists.contains(modulosPermisos, 'Admin - Tipos de IVA de Empresa')}">
						                      		<a th:href="@{/admin/empresas/tiposIVA}" th:text="#{fragments.menu.sidebar.modulos.economico.tipoIva}"></a>
					                      		</li>
					                      		<li th:if="${#lists.contains(modulosPermisos, 'Admin - Formas de pago')}">
						                      		<a th:href="@{/admin/empresas/FormasPago}" th:text="#{fragments.menu.sidebar.modulos.economico.formasDePago}"></a>
					                      		</li>
											</ul>
										</li>
										<li th:if="${#lists.contains(modulosPermisos, 'Admin - Empleados')} 
											or ${#lists.contains(modulosPermisos, 'Admin - Roles')}">
											<a>
												<img class="m-r-4" width="30px" alt="empleados" th:src="@{/images/iconos/blancos/empleados.png}"> 
												<span th:text="#{fragments.menu.sidebar.modulos.personal.titulo}"></span>
												<span class="fa fa-chevron-down"></span> 
											</a>
											<ul class="nav child_menu" style="display: none;">
												<li th:if="${#lists.contains(modulosPermisos, 'Admin - Empleados')}">
													<a th:href="@{/admin/empleados}" th:text="#{fragments.menu.sidebar.modulos.personal.empleados}"></a>
												</li>
						                      	<li th:if="${#lists.contains(modulosPermisos, 'Admin - Roles')}">
						                      		<a th:href="@{/admin/roles}" th:text="#{fragments.menu.sidebar.modulos.personal.roles}"></a>
					                      		</li>
                    						</ul>
										</li>
										
										<li th:if="${#lists.contains(modulosPermisos, 'Admin - Catalogo')}">
											<a>
												<img class="m-r-4" width="30px" alt="Gestión de Catálogo" th:src="@{/images/iconos/blancos/productos.png}">
												<span th:text="#{fragments.menu.sidebar.modulos.gestionDeCatalogo}"></span>
												<span class="fa fa-chevron-down"></span> 
											</a>
											<ul class="nav child_menu" style="display: none;">
					                      		<li th:if="${#lists.contains(modulosPermisos, 'Admin - Catalogo')}">
						                      		<a th:href="@{/admin/catalogos}" th:text="#{fragments.menu.sidebar.modulos.gestionDeArticulos.catalogos}"></a>
					                      		</li>
                    						</ul>
										</li>
										
										<li th:if="${#lists.contains(modulosPermisos, 'Admin - Articulos')} 
											or ${#lists.contains(modulosPermisos, 'Admin - Colecciones')}
											or ${#lists.contains(modulosPermisos, 'Admin - Familias')}
											or ${#lists.contains(modulosPermisos, 'Admin - Grupos')}">
											<a>
												<img class="m-r-4" width="30px" alt="Gestión Articulos" th:src="@{/images/iconos/blancos/productos.png}">
												<span th:text="#{fragments.menu.sidebar.modulos.gestionDeArticulos}"></span>
												<span class="fa fa-chevron-down"></span> 
											</a>
											<ul class="nav child_menu" style="display: none;">
						                      	<li th:if="${#lists.contains(modulosPermisos, 'Admin - Colecciones')}">
						                      		<a th:href="@{/admin/colecciones}" th:text="#{fragments.menu.sidebar.modulos.gestionDeArticulos.colecciones}"></a>
					                      		</li>
						                      	<li th:if="${#lists.contains(modulosPermisos, 'Admin - Familias')}">
						                      		<a th:href="@{/admin/familias}" th:text="#{fragments.menu.sidebar.modulos.gestionDeArticulos.familias}"></a>
					                      		</li>
					                      		<li th:if="${#lists.contains(modulosPermisos, 'Admin - Articulos')}" >
													<a th:href="@{/admin/articulos}" th:text="#{fragments.menu.sidebar.modulos.gestionDeArticulos.articulos}"></a>
												</li>
												<li th:if="${#lists.contains(modulosPermisos, 'Admin - Articulos')}" >
													<a th:href="@{/admin/almacen}">Almacén</a>
												</li>
					                      		<li th:if="${#lists.contains(modulosPermisos, 'Admin - Grupos') and true==false}">
						                      		<a th:href="@{/admin/grupos}" th:text="#{fragments.menu.sidebar.modulos.gestionDeArticulos.grupos}"></a>
					                      		</li>
                    						</ul>
										</li>
										
										<li th:if="${#lists.contains(modulosPermisos, 'Admin - Servicios') and true==false}">
											<a>												
												<img class="m-r-4" width="30px" alt="servicios" th:src="@{/images/iconos/blancos/servicios.png}">
												<span th:text="#{fragments.menu.sidebar.modulos.servicios}"></span>
											</a>
										</li>
										
										<li th:if="${#lists.contains(modulosPermisos, 'Admin - Clientes') and true==false}">
											<a>												
												<img class="m-r-4" width="30px" alt="clientes" th:src="@{/images/iconos/blancos/clientes.png}">
												<span th:text="#{fragments.menu.sidebar.modulos.clientes}"></span>
											</a>
										</li>
										<li th:if="${#lists.contains(modulosPermisos, 'Admin - Calendarios')} 
											or ${#lists.contains(modulosPermisos, 'Admin - Cabinas')}"> 
											<a>												
												<img class="m-r-4" width="30px" alt="citas" th:src="@{/images/iconos/blancos/clientes.png}">
												<span>Citas</span>
												<span class="fa fa-chevron-down"></span> 
											</a>
											<ul class="nav child_menu" style="display: none;">
						                      	<li th:if="${#lists.contains(modulosPermisos, 'Admin - Calendarios')}">
						                      		<a th:href="@{/admin/calendarios}">Calendarios</a>
					                      		</li>
					                      		<li th:if="${#lists.contains(modulosPermisos, 'Admin - Cabinas')}">
						                      		<a th:href="@{/admin/cabinas}">Cabinas</a>
					                      		</li>
                    						</ul>
										</li>
										<li th:if="${#lists.contains(modulosPermisos, 'Admin - Bitacora')}">
											<a  th:href="@{/admin/bitacora}"> <i class="fa fa-book"></i>Bitácora </a>
										</li>
										<li>
											<a  th:href="@{/admin/sms}"> <i class="fa fa-envelope"></i>SMS </a>
										</li>
									</th:block>
								</ul>
							</th:block>
						</div>
						<div class="clearfix"></div>
						

					</div>
					<!-- /sidebar menu -->
				</div>
			</div>

			<!-- top navigation -->
			<div th:fragment="header" class="top_nav">
				
				<div th:if="${error != null}"
					class="alert alert-danger alert-dismissable alert-tpv">
					<div class="tit-alert">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<i class="fa fa-check-circle"></i> Error
					</div>
					<small th:text="${error}"></small>
				</div>
	
				<div th:if="${warning != null}"
					class="alert alert-warning alert-dismissable alert-tpv">
					<div class="tit-alert">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<i class="fa fa-check-circle"></i> Aviso
					</div>
					<small th:text="${warning}"></small>
				</div>
	
				<div th:if="${success != null}"
					class="alert alert-success alert-dismissable alert-tpv">
					<div class="tit-alert">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<i class="fa fa-check-circle"></i> Éxito
					</div>
					<small th:text="${success}"></small>
				</div>
			
				<div class="nav_menu">
					<nav>
						<div class="nav toggle">
							<a id="menu_toggle"><i class="fa fa-bars"></i></a>
						</div>

						<ul class="nav navbar-nav navbar-right">
							<li class="">
								<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" 	aria-expanded="false"> 
									
									<img th:if="${#strings.length(user.foto) > 0}" th:src="@{'/tpv_images/usuarios/' + ${user.foto}}">
									<img id="imagenPerfilIniciales" th:if="${#strings.length(user.foto) == 0}" th:attr="data-nombre=${user.nombre}, data-apellido=${user.apellido}" class="iniciales"> 
									<span th:utext="${user.email}" style="margin-right:10px"></span><span class=" fa fa-angle-down"> </span>
								</a>
								<ul class="dropdown-menu dropdown-usermenu pull-right" th:with="URL=${#httpServletRequest.requestURL.toString()}">
									<li >
										<a th:href="${'/admin/perfil'}">
											<span th:text="#{fragments.menu.opciones.perfil}"></span>
											<i class="fa fa-user pull-right"></i>
										</a>
									</li>
									<li>
										<a th:href="${'/admin/perfil/password'}">
											<span th:text="#{fragments.menu.opciones.contraseña}"></span>
											<i class="fa fa-key pull-right"></i>
										</a>
									</li>

									<li th:if="${#strings.contains(URL,'/admin/')}">
										<th:block th:if="${#lists.contains(modulosPermisos, 'TPV - Home') OR #lists.contains(modulosPermisos, 'TPV - Ventas')
										OR #lists.contains(modulosPermisos, 'TPV - Clientes') OR #lists.contains(modulosPermisos, 'TPV - Citas')
										OR #lists.contains(modulosPermisos, 'TPV - Cajas') }">
											<a th:href="@{/tpv/seleccionar/negocio}">
												<span th:text="#{fragments.menu.opciones.tpv}"></span>
												<i class="fa fa-desktop pull-right"></i>
											</a>
										</th:block>
									</li>
									<li th:if="${true == false}">
										<a href="javascript:;">
											<span th:text="#{fragments.menu.opciones.aplicacion}"></span>
											<i class="fa fa-info-circle pull-right"></i>
										</a>
									</li>
									<li th:if="${#strings.contains(URL,'/admin/') and nuevoUsuario==null and true==false}">
										<a th:href="@{/admin/ajustes/listar}">
											<span th:text="#{fragments.menu.opciones.ajustes}"></span>
											<i class="fa fa-cog pull-right"></i>
										</a>
									</li>
									<li>
										<a th:href="@{/admin/soporte}">
											<span th:text="#{fragments.menu.opciones.incidencias}"></span>
											<i class="fa fa-info-circle pull-right"></i>
										</a>
									</li>
									<li>
										<a th:href="@{/login/logout}">
											<span th:text="#{fragments.menu.opciones.cerrarSesion}"></span>
											<i class="fa fa-sign-out pull-right"></i>
										</a>
									</li>
								</ul>
							</li>
							 <!-- Menú de notificaciones -->
							 <li role="presentation" class="dropdown" th:if="${true==false}">
				                 <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
				                    <i class="fa fa-envelope-o" style="margin-top: 10px; font-size: 22px;"></i>
				                    <span class="badge bg-green">+</span>
				                  </a>
			                 	<ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
			                    </ul>
							 <!-- Menú de notificaciones -->
							 
							 <!-- Menú de servicio técnico -->
							 <li role="presentation" class="dropdown dropdown-soporte">
								<a href="javascript:;"
									class="dropdown-toggle info-number" data-toggle="dropdown"
									aria-expanded="false"> <img width="30px"
										alt="servicio tecnico"
										th:src="@{/images/iconos/oscuros/servicioTecnico.png}">
								</a>
	
								<div id="menu2" class="dropdown-menu soporte-tecnico pull-left"
									role="menu">
									<div class="profile clearfix m-t-5 m-b-5 m-l-5 m-r-5">
										<div >
											<h3 style="text-align: center" th:text="#{fragments.menu.soporteTecnico.departamento}"></h3>
										</div>
									</div>
									<form id="formSoporteTpv" action="#" method="post" class="form-group m-l-5 m-r-5 m-b-5" th:with="URL=${#httpServletRequest.requestURL.toString()}">
										<input id="nombre_soporte" th:value="${user.nombre+' '+user.apellido}" name="nombre_soporte" type="text" class="form-control  m-t-3  borde-input-visible"
											th:placeholder="#{fragments.menu.soporteTecnico.nombre.placeholder}"
											aria-label="nombre" required>
										 <input id="email_soporte" th:value="${user.email}" name="email_soporte" type="email"
											class="form-control m-t-3  borde-input-visible"
											th:placeholder="#{fragments.menu.soporteTecnico.email.placeholder}"
											aria-label="email" required>
										<input id="telefono_soporte" th:value="${''}" name="telefono_soporte" type="text" style="display:none;"
											class="form-control m-t-3  borde-input-visible" pattern="^\+[0-9]{8,}$"
											th:placeholder="#{fragments.menu.soporteTecnico.telefono.placeholder}"
											 maxlength="15" onkeypress='validarTlf(event)' onblur='validarFormatoTlf(this.value, this.id)'
											data-toggle="popover" data-placement="right" data-title="Teléfono" data-trigger="hover" 
											data-content="Se admiten solo números, con el símbolo '+' obligatoriamente al inicio. El mínimo permitido es de ocho (8) caracteres." data-delay="400">
										<select class="form-control form-control-sm m-t-3" id="id_marca_soporte" name="id_marca_soporte" style="text-align:center;" required>
										</select>
										<input id="nombre_marca_soporte" name="nombre_marca_soporte" type="text" class="form-control m-t-3" style="display:none;"
											th:placeholder="#{fragments.menu.soporteTecnico.marca.placeholder}" aria-label="marca" required>
										<select class="form-control form-control-sm m-t-3" id="id_empresa_soporte" name="id_empresa_soporte" style="text-align:center;" required>
										</select>
										<input id="nombre_empresa_soporte" name="nombre_empresa_soporte" type="text" class="form-control m-t-3" style="display:none;"
											th:placeholder="#{fragments.menu.soporteTecnico.empresa.placeholder}" aria-label="empresa" required>
										<select class="form-control form-control-sm m-t-3" id="id_sucursal_soporte" name="id_sucursal_soporte" style="text-align:center;" required>
										</select>
										<input id="nombre_sucursal_soporte" name="nombre_sucursal_soporte" type="text" class="form-control m-t-3" style="display:none;"
											th:placeholder="#{fragments.menu.soporteTecnico.sucursal.placeholder}" aria-label="sucursal" required>
										<input id="asunto_soporte" name="asunto_soporte" type="text" class="form-control m-t-3  borde-input-visible" 
												th:placeholder="#{fragments.menu.soporteTecnico.asunto.placeholder}" aria-label="asunto" required>
										<textarea id="consulta_soporte" name="consulta_soporte" class="form-control m-t-3 borde-input-visible" aria-label="consulta" rows="4"
											th:placeholder="#{fragments.menu.soporteTecnico.consulta.placeholder}" required></textarea>
										<input id="id_sistema" name="id_sistema" type="text" th:value="2" required style="display: none;" >
										
										<button type="submit" class="btn btn-primary  m-t-3" th:text="#{fragments.menu.soporteTecnico.enviar}"></button>
									</form>
								</div>
							</li>    
							<!-- Menú de servicio técnico -->
						</ul>
					</nav>
				</div>
			</div>
			<!-- /top navigation -->

			<!-- Page content -->
			<div class="right_col" role="main">
				<div class="row">
					
				</div>
			</div>
			<!-- Modal para mostrar resultado de una operación -->
			<div th:fragment="modalParaResultado">
				<div class="modal" tabindex="-1" role="dialog" id="modalParaResultado">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-body">
								<div class="row">
									<div class="col-xs-10 col-xs-offset-2 m-l-1 m-r-1" style="text-align:center;" >
										<button type="button" class="close m-r-5" aria-label="Close" data-dismiss="modal">
											<span aria-hidden="true">&times;</span>
										</button>
				                    	<h3 id="resultadoTitulo"></h3>
				                    	<br>
				                    </div>
								</div>
								
								<div class="container">
									<div class="row  m-l-3 m-r-3">
									    <p id="resultadoTexto" style="text-align: justify;"></p>
									 </div>
									 
									<div class="row m-t-3">
			                        	<div class="col-xs-10 col-xs-offset-2 m-l-3 m-r-3" >
			                                <button type="button" class="green-button btn btn-success" data-dismiss="modal">
												<i class="fa fa-btn fa-check"></i> Aceptar
											</button>
			                            </div>
			                            
			                        </div>	
				                </div>
								
							</div>
							
						</div>
					</div>
				</div>
			</div>
			
			<!-- Modal para mostrar resultado de una operación -->
			
			<!-- Modal para mostrar imagen de cargando (loading) -->
			<div th:fragment="modalCargando">			
				<div class="modal" id="modalCargando" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static" data-keyboard="false">
					<div class="modal-dialog modal-dialog-centered modal-sm modalCentrado" role="document">
						<div class="modal-content">
							<div class="modal-body">
								<div class="row ">
									<div class="col-xs-8 col-xs-offset-2" style="text-align:center;height: 40px;">
										<button data-dismiss="modal" id="close-modal" style="display: none" type="button"></button>
										<h3 id="loadingTitulo">Cargando</h3>
										<br>
									</div>
								</div>
							
								<div class="container">
									<div class="row m-l-3 m-r-3">
										<p id="loadingTexto"></p>
										<div style="display: block;text-align: center;">
											<img height="180" width="180" src="/images/loading.gif">
										</div>
										
									</div>
								</div>
							
							</div>
						</div>
					</div>
				</div>
			</div>		
			<!-- Modal para mostrar imagen de cargando (loading) -->

			<!-- footer content -->
			<footer th:fragment="footer">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 seccion-footer">
						<div>
							<a th:href="@{/admin/home}" class="enlace-footer">Inicio</a>
						</div>
						<div>
							<a th:href="@{/admin/home}" class="enlace-footer">Articulos</a>
						</div>
						<div>
							<a th:href="@{/admin/home}" class="enlace-footer">Pruébalo 30 días gratis</a>
						</div>
						<div>
							<a th:href="@{/admin/home}" class="enlace-footer">Condiciones de Uso</a>
						</div>
						<div>
							<a th:href="@{/admin/home}" class="enlace-footer">Soporte</a>
						</div>
						<div>
							<a th:href="@{/admin/home}" class="enlace-footer">Manuales</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 seccion-footer">
						<div>
							Contacta con nosotros
						</div>
						<div>
							902 01 03 46
						</div>
						<div>
							C/San Fidel, 1 Loc
						</div>
						<div>
							Madrid
						</div>
						<div>
							info@saraworld.com
						</div>
						<div>
							Newsletter
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
						<img class="logotipo-footer" th:src="@{/images/LogotipoBlanco.png}" alt="Logotipo de Saraworld">
					</div>
				</div>
				<div class="clearfix"></div>
			</footer>
			<!-- /footer content -->
		</div>
	</div>

	<div th:fragment="scripts">
				
		<!-- jQuery -->
		<script th:src="${@mvcResourceUrlProvider.getForLookupPath('/js/jquery.min.js')}"></script>
		
		<!-- Imagen con iniciales  -->
		<script th:src="${@mvcResourceUrlProvider.getForLookupPath('/js/initial.min.js')}"></script>
		
		<!-- Bootstrap -->
		<script th:src="${@mvcResourceUrlProvider.getForLookupPath('/js/bootstrap.min.js')}"></script>
	
		<!-- Custom Theme Scripts -->
		<script th:src="${@mvcResourceUrlProvider.getForLookupPath('/js/custom.js')}"></script>
		
		<!-- TPV Online Scripts -->
		<script th:src="${@mvcResourceUrlProvider.getForLookupPath('/js/tpvonline.js')}"></script>
		
		<!-- jQuery User Interface-->
		<script th:src="${@mvcResourceUrlProvider.getForLookupPath('/js/jquery-ui.min.js')}"></script>
		
		<!-- Time Picker-->
		<script th:src="${@mvcResourceUrlProvider.getForLookupPath('/js/bootstrap-timepicker.js')}"></script>
		
		<!-- Soporte Scripts -->
		<script th:replace="fragments/soporte :: javascript"></script>
		
		<script>
			$(document).ready(function(){
			    $('[data-toggle="popover"]').popover();   
			});
			
			//Evento que detecta cuando el dropdown de soporte es desplegado
			$('.dropdown-soporte').on('show.bs.dropdown', function(){

				//Se debe realizar una llamada ajax para traer las marcas que tiene el usuario
				$.ajax({
			   		type : 'GET',
			   		url : '/admin/soporte/marcas/ajax',
			   		success:function(data){
			   			json = JSON.parse(data);
			   			
			   			$('#id_marca_soporte').empty().append('<option value="" disabled selected>Seleccionar Marca</option>');
			   			
			   			for(var i in json) {
			   				$("#id_marca_soporte").append(new Option(json[i][1], json[i][0]));
							
				        }
			  		}
			  	});
		    });
			
			$( "#id_marca_soporte" ).change(function() {
				idMarca = $(this).val();
				nombreMarca = $("#id_marca_soporte :selected").text();
				
				$("#nombre_marca_soporte").val(nombreMarca);
				
				//Se debe realizar una llamada ajax para traer las empresas que tiene el usuario segun la marca seleccionada
				$.ajax({
			   		type : 'GET',
			   		url : '/admin/soporte/marcas/'+idMarca+'/empresas/ajax',
			   		success:function(data){
			   			json = JSON.parse(data);
			   			
						$('#id_empresa_soporte').empty().append('<option value="" disabled selected>Seleccionar Empresa</option>');
			   			
			   			for(var i in json) {
			   				$("#id_empresa_soporte").append(new Option(json[i][1], json[i][0]));
							
				        }
			  		}
			  	});
			});
			
			$( "#id_empresa_soporte" ).change(function() {
				idEmpresa = $(this).val();
				nombreEmpresa = $("#id_empresa_soporte :selected").text();
				
				$("#nombre_empresa_soporte").val(nombreEmpresa);
				
				//Se debe realizar una llamada ajax para traer las sucursales que tiene el usuario segun la sucursal seleccionada
				$.ajax({
			   		type : 'GET',
			   		url : '/admin/soporte/empresas/'+idEmpresa+'/sucursales/ajax',
			   		success:function(data){
			   			json = JSON.parse(data);
			   			
						$('#id_sucursal_soporte').empty().append('<option value="" disabled selected>Seleccionar Sucursal</option>');
			   			
			   			for(var i in json) {
			   				$("#id_sucursal_soporte").append(new Option(json[i][1], json[i][0]));
							
				        }
			  		}
			  	});
			});
			
			$( "#id_sucursal_soporte" ).change(function() {
				nombreSucursal = $("#id_sucursal_soporte :selected").text();				
				$("#nombre_sucursal_soporte").val(nombreSucursal);
			});
		</script>
				
	</div>
</body>
</html>