<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragmentsTPV :: head"></head>
<body class="nav-md">
	<div class="body" >
		<div>
			<th:block th:replace="fragments/fragmentsTPV :: mensajesNotificaciones"></th:block>
			<div th:replace="fragments/fragmentsTPV :: barraSuperior"></div>
			<!-- Sub Menu de "Soporte" -->
			<div class="menu-modulo">
				<div class="row">
					<div class="col-lg-9 col-md-8 col-sm-7 col-7">									
						 <div class="text-center text-bold">
				            <ul class="nav fondoGris">
								<li class="nav-item ">
							    	<a class="nav-link" th:href="@{/tpv/ayuda}" style="border-bottom-color: #2fccae; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Ayuda</a>
							  	</li>
							  
							</ul>				
				        </div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-5 col-5  fondoGris" >
						<input type="text" class="form-control borde-input-visible popOverinfo p-b-1 p-t-1 m-t-1"  placeholder="Buscar ayuda" name="buscadorListado" id="buscadorAyuda"
						data-toggle="popover" data-placement="left" data-title="Buscar " data-delay="400"
						data-content="Al escribir se irá filtrando los grupos de ayuda" style="width:95%; border-color: #7e92a7;border-radius: 20px;">
						<i class="fa fa-search pull-right lupa-buscador-tpv"></i>
						<input type="hidden" id="urlBuscadorAyuda" value="/tpv/ayuda/buscar/nombre/ajax/">	
					</div>
				</div>
			</div>
			<!-- Page content -->
			<div class="fondoGrisClaro p-b-2">
				<div class="container " style="max-width:100%">
					<div class="row justify-content-center">
						<div class="contenido-modulo col-12">
					
							<div class="row p-b-3 m-r-0 m-l-0 justify-content-center contenido-listado" style="margin-top:10px;padding-left:10px;margin-right:10px;padding-bottom:10px;">
								
								<!-- AQUI EMPIEZA EL CONTENIDO -->
								<div class="col-lg-5  listado-ayuda overflow-auto " style="padding-right:10px;margin-top: 35px;">
								<div class="x_panel "  style="padding-right:10px;">	
									<div th:fragment="x_content">
										<div  class="vista-listado " id="tabla-listado" style="padding-right:10px;">								
											
											<table id="tablaListarAyuda" class="table accordion-container table-bordered table-responsive table-hover tablesorter table-resizable" >
											<th:block th:if="${grupoayuda!=null}" th:each="listado: ${grupoayuda}">
											<thead>
												<tr  class="panelBlanco">
													<th  style="text-align: left;border-color: #F7F4F4;color: #11437e;"  class="td-tabla tam-th " ><span th:text="${listado.nombre}" ></span><i th:class="${'fa fa-plus-circle accordion icon'+listado.id}"  th:id="${listado.id}" onclick="accordionAyuda(this.id);"></i></th>
													
												</tr>
											</thead>
									
											<tbody  class="bloque-sustituible-ajax accordion-content panelBlanco" th:id="${'ayuda'+listado.id}">
											<th:block  th:if="${ayuda!=null}" th:each="ayuda: ${ayuda}" >
												<tr th:if="${ayuda.grupo_ayuda_id.id==listado.id}" th:id="${ayuda.id}" class="td-tabla  venta-sel" onclick="listadoAyuda(this.id)">
													<td  class="ord-cli " style="text-align: left" ><span th:text="${ayuda.nombre}"  style="color: #797676;padding-left: 10px;"  ></span></td>
													
												</tr>
											</th:block>
												
											</tbody>
											</th:block>
											
										</table>
											
										</div>
									</div>
								</div>
								</div>
								<div class="col-lg-6 panelBlanco listado-clientes  " style="padding-left:10px;margin-top:2.5%;margin-left: 1%;">
								<div class="x_panel">	
									<div th:fragment="x_content">
										<div style="overflow-x:auto;" class="vista-ayuda" id="tabla-ayuda">								
											
										</div>
									</div>
								</div>
								</div>
							</div>			
						</div>
					</div>
				</div>
			
			</div>		
			<!-- Modal Compartir-->
		<div class="modal fade" id="ModalCompartirInforme" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12 col-lg-12" style="text-align:center">
		                    <h3>Seleccionar formato</h3>
		                    </div>
		                </div>
		                <div class="row p-t-2">
		                    <div class="cont-recup-text col-lg-12" >
		                        <p style="text-align:center;">Por favor, elija el formato</p>
		                    </div>
		                </div>
		                
						<div class="form-group p-t-1">
	                    	<div class="row p-t-1">
	                        	<div class="col-sm-5 col-lg-6 col-sm-offset-1 col-xs-8 p-l-1 p-r-1" style="text-align:right">
	                                <button class="btn btn-success" id="compartir-csv" onclick="Compartir(this.id);">
	                                    <i class="fa fa-btn "></i> CSV
	                                </button>
	                            </div>
	                            
	                            <div class="col-sm-5 col-lg-6 col-xs-8 p-l-1 p-r-1" >
	                                <button class="btn btn-danger" id="compartir-pdf" onclick="Compartir(this.id);">
	                                    <i class="fa fa-btn "></i> PDF
	                                </button>
	                            </div>
	                            <div class="col-sm-5 col-lg-12 col-sm-offset-1 col-xs-8 p-l-1 p-r-1 p-t-2" style="text-align:center">
	                                <button class="btn btn-danger" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal Compartir-->		
			<!-- Modal CompartirTipoDoc-->
		<div class="modal fade" id="ModalCompartirInformeMetodo" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12 col-lg-12" style="text-align:center">
		                    <h3>Seleccionar método</h3>
		                    </div>
		                </div>
		                <div class="row p-t-2">
		                    <div class="cont-recup-text col-lg-12" >
		                        <p style="text-align:center;">Por favor, elija el método con el que desea obtener el documento</p>
		                    </div>
		                </div>
		                
						<div class="form-group p-t-1">
	                    	<div class="row p-t-1">
	                        	<div class="col-sm-5 col-lg-4 col-sm-offset-1 col-xs-8 p-l-4 p-r-1" style="text-align:right">
	                                <button id="btn-eliminar" class="btn btn-primary" id="exportar-salvar" onclick="CompartirDoc(this.id);">
	                                    <i class="fa fa-btn "></i> Exportar y guardar
	                                </button>
	                            </div>
	                            
	                            <div class="col-sm-5 col-lg-4 col-xs-8 col-sm-offset-1 p-l-4 " style="text-align:center">
	                                <button class="btn btn-info" id="imprimir" onclick="CompartirDoc(this.id);">
	                                    <i class="fa fa-btn "></i> Imprimir
	                                </button>
	                            </div>
	                            
	                            <div class="col-sm-5 col-lg-4 col-sm-offset-1 col-xs-8 p-l-1 p-r-5" style="text-align:right">
	                                <button id="btn-eliminar" class="btn btn-success" id="enviar-email" onclick="CompartirDoc(this.id);">
	                                    <i class="fa fa-btn "></i> Enviar por email
	                                </button>
	                            </div>
	                            <div class="col-sm-5 col-lg-12 col-sm-offset-1 col-xs-8 p-l-1 p-r-1 p-t-3" style="text-align:center">
	                                <button class="btn btn-danger" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal TipoDeDoc-->	
		</div>

	
		
		
		
	</div>
	<div th:replace="fragments/fragmentsTPV :: modalRelogin"></div>
	<div th:replace="fragments/fragmentsTPV :: scripts"></div>
	<script th:replace="tpv/clientes/autocompletarBuscador :: javascript"></script>
	<script>
	function listadoAyuda(id){
		var esayuda=sessionStorage.getItem("idAyuda");
		if(esayuda==id){
			
				$( "tr" ).css("background-color","");
				sessionStorage.setItem("idAyuda", "");
			
			
		}else{
		
			 sessionStorage.setItem("idAyuda",esayuda);
		
		 $( "tr" ).css("background-color","");
		 $('.gastonulo').css("background-color","#DEDBDB");
		 $( "#"+id+".venta-sel" ).css( "background-color","#cfe8e4" ); 
		}
	
		$.ajax({
	        type: "POST",
	        url: "/tpv/traerurl/ajax/"+id,
	        success: function(data)
	        {
	        	$(".vista-ayuda").html( data ); 
	        	var altoMenuPrincipal = $(".menu-principal").height();
	        	var altoMenuModulo = $(".menu-modulo").height();
	        	var altoListadoClientes = (window.innerHeight - altoMenuPrincipal  - altoMenuModulo ) - 125;
	        	$(".listado-clientes").css("height", altoListadoClientes+40+"px");
	        	$(".listado-ayuda").css("height", altoListadoClientes+40+"px");
	        	$(".iframe-help").css("height", altoListadoClientes+32+"px");
	        	$(".iframe-help").width($(".listado-clientes").width());
	        	
	        	var anchoFormularioCliente = $(".contenido-listado").width()-16;
	        	
	        	$(window).resize(function(){
	        		var altoMenuPrincipal = $(".menu-principal").height();
	        		var altoMenuModulo = $(".menu-modulo").height();
	        		var altoListadoClientes = window.innerHeight - altoMenuPrincipal  - altoMenuModulo - 115;
	        		$(".listado-clientes").css("height", altoListadoClientes+40+"px");
	        		$(".listado-ayuda").css("height", altoListadoClientes+40+"px");
	        		$(".iframe-help").css("height", altoListadoClientes+32+"px");
		        	$(".iframe-help").width($(".listado-clientes").width());
		        	
	        		var anchoFormularioCliente = $(".contenido-listado").width()-16;
	        	});
	        	
	        	
	        		
	        }
	      });
		//document.getElementById ("iframe-ayuda"). innerHTML = "";
	}
	function listadoGgrupodeAyuda(){ 
		document.getElementById ("tabla-ayuda"). innerHTML = "";
		var filtro = $("#filtroGrupoAyuda").val();
		
		$.ajax({
	        type: "GET",
	        url: "/tpv/listarayuda/ajax/"+filtro,
	        success: function(data)
	        {
	        	var count=0;
	        	var rows='<option value=0></option>';
	        	while (count<data.length) {
	        		 rows += '<option value='+data[count] +'>'+data[count+1]+'</option>';
	        		count=count+2;
	        	}
	        	if(data.length>0){
	        		$("#filtroHelp").css('border-color','#00a8ffdb');
	        	}
	        	$("#filtroHelp").empty();
	        	$("#filtroHelp").html('');
	        	$("#filtroHelp").html(rows);
	        	listadoAyuda();
	        	
	        }
	      });
		
	}
	
	function listarUrl(){
		var value = $("#filtroAyuda").val();
		$.ajax({
	        type: "POST",
	        url: "/tpv/traerurl/ajax/"+value,
	        success: function(data)
	        {
	        	$(".vista-ayuda").html( data ); 
	        	
	        		
	        }
	      });
	}
		
	sessionStorage.setItem("mostrados", "");
	var altoMenuPrincipal = $(".menu-principal").height();
	var altoMenuModulo = $(".menu-modulo").height();
	var altoListadoClientes = (window.innerHeight - altoMenuPrincipal  - altoMenuModulo ) - 125;
	$(".listado-clientes").css("height", altoListadoClientes+40+"px");
	$(".listado-ayuda").css("height", altoListadoClientes+40+"px");
	$(".iframe-help").css("height", altoListadoClientes+32+"px");
	$(".iframe-help").width($(".listado-clientes").width()-5);
	var anchoFormularioCliente = $(".contenido-listado").width()-16;
	
	$(window).resize(function(){
		var altoMenuPrincipal = $(".menu-principal").height();
		var altoMenuModulo = $(".menu-modulo").height();
		var altoListadoClientes = window.innerHeight - altoMenuPrincipal  - altoMenuModulo - 125;
		$(".listado-clientes").css("height", altoListadoClientes+40+"px");
		$(".listado-ayuda").css("height", altoListadoClientes+40+"px");
		$(".iframe-help").css("height", altoListadoClientes+32+"px");
		$(".iframe-help").width($(".listado-clientes").width()-5);
		var anchoFormularioCliente = $(".contenido-listado").width()-16;
	});
	
	$('#buscadorAyuda').on('keyup',function(){
		urlBuscadorAyuda = $('#urlBuscadorAyuda').val();
		value=$(this).val();
      	if (value === "") {
      	   value = "todos-ayuda";
      	}
      	var string=sessionStorage.getItem("mostrados");
      	var icon  =string.split(',');
      	
      	$.ajax({
	   		type : 'GET',
	   		url : urlBuscadorAyuda +  value,
	   		success:function(data){
				$(".vista-listado").html( data );
				icon.forEach( function(valor, indice, array) {
					  $("#ayuda"+valor).show(); 			
				    	$("#ayuda"+valor).addClass("open");
				      $(".icon"+valor).addClass("fa-minus-circle");
		      	});
				   
      		}

      	});
	});


	$(".accordion-titulo").click(function(){
			
	   var contenido=$(this).next(".accordion-content");
				
	   if(contenido.css("display")=="none"){ //open		
	      contenido.slideDown(250);			
	      $(this).addClass("open");
	   }
	   else{ //close		
	      contenido.slideUp(250);
	      $(this).removeClass("open");	
	  }
								
	});
	
	function accordionAyuda(id){
	
		sessionStorage.setItem("mostrados", "");
	   if($("#ayuda"+id).css("display")=="none"){ //open
		  // $("#ayuda"+id).slideDown(100);
		   $("#ayuda"+id).show(500); 			
	      $("#ayuda"+id).addClass("open");
	   
	      $(".icon"+id).removeClass("fa-plus-circle"); 
	      $(".icon"+id).addClass("fa-minus-circle"); 
	      var value=[];
	      var count=0;
	      $(".fa-minus-circle").each(function(i, obj) {
		    	var cadena =$(obj).attr('class');
		    	
		    	 if(cadena.includes("fa-minus-circle")){
		    		value.push($(obj).attr('id'));
		    		
		    	 }
		    	    
		    	});
	      sessionStorage.setItem("mostrados", value);
	      
	   }
	   else{ //close		
		   $("#ayuda"+id).hide(100); 	
		   $(".icon"+id).removeClass("fa-minus-circle"); 
		   $(".icon"+id).addClass("fa-plus-circle"); 
	      $("#ayuda"+id).removeClass("open");	
	  }
								
	};
	</script>
	
</body>
</html>