<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

<table id="tablaListarAyuda" class="table accordion-container table-bordered table-responsive table-hover tablesorter table-resizable" >
	<th:block th:if="${grupoayuda!=null}" th:each="listado: ${grupoayuda}">
	<thead>
		<tr  class="panelBlanco">
			<th  style="text-align: left;border-color: #F7F4F4;color: #11437e;"  class="td-tabla tam-th " ><span th:text="${listado.nombre}" ></span><i th:class="${'fa fa-plus-circle accordion icon'+listado.id}"  th:id="${listado.id}" onclick="accordionAyuda(this.id);"></i></th>
			
		</tr>
	</thead>

	<tbody  class="bloque-sustituible-ajax accordion-content panelBlanco" th:id="${'ayuda'+listado.id}">
	<th:block  th:if="${ayuda!=null}" th:each="ayuda: ${ayuda}" >
		<tr th:if="${ayuda.grupo_ayuda_id.id==listado.id}" th:id="${ayuda.id}" class="td-tabla  venta-sel" onclick="listadoAyuda(this.id)">
			<td  class="ord-cli " style="text-align: left" ><span th:text="${ayuda.nombre}"  style="color: #797676;padding-left: 10px;"  ></span></td>
			
		</tr>
	</th:block>
		
	</tbody>
	</th:block>
	
</table>
										

<th:block th:if="${#lists.isEmpty(grupoayuda)}">
	<div class="container m-t-2">
		<div class="row justify-content-center">
			<h5>No se encontró registros de ayuda.</h5>
		</div>
	</div>
</th:block>
