
.logoSimple{
	width: 42px;
	height: 42px;
	margin-left:4px;
}
.letrasLogoSimple{
	width: 150px;
	height: 25px;
}

.img-detail-user{
	border: 2px solid #999999;
	border-radius: 10px;
	padding: 0px;
	background-color: #ededed;
	height: 200px;
	width:85%;
	max-width:85%;
	margin-left:8%;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    font-size: 16px;
}
.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.fileContainer {
    margin-top: 10px;
}
.fileContainer [type=file] {
    cursor: pointer;
}
.alert-tpv{
	width: 300px;
	color: #FFFFFF;
	font-size: 16px;
	opacity: 0.88;
    filter: alpha(opacity=88);
    position: absolute;
    top: 40px;
    right: 10px;
    z-index: 20;
    -webkit-box-shadow: 0px 3px 5px 5px rgba(207,196,207,1);
	-moz-box-shadow: 0px 3px 5px 5px rgba(207,196,207,1);
	box-shadow: 0px 3px 5px 5px rgba(207,196,207,1);
}
.alert-tpv-success{
	background-color: #26b99ae0;
	border-color: #26b99ae0;
}

.alert-tpv-warning{
	background-color: #f39c12ad;
	border-color: #f39c12ad;
}

.alert-tpv-danger{
	background-color: #e74c3cc2;
	border-color: #e74c3cc2;
}

.titulo-tab{
	font-size: 14px;
    font-weight: bold;
    color: #73879c;
}
.table-borderless td,
.table-borderless th {
    border: 0;
}

footer{
	min-height:200px;
	color: white;
}
.seccion-footer{
	padding-left:65px;
	padding-top:15px;
	font-size: 17px; 
}
.enlace-footer, .enlace-footer:hover{
	color:white;
	text-decoration:none;
}
.logotipo-footer{
	width:65%;
	margin-left: 18%;
    margin-top: 65px;
	l
}
.popover{
	width:200px;
}
.img-seleccionar:hover, .img-seleccionar:focus, .circulo:hover, .circulo:focus{
	-webkit-transform: scale(1.08);
    transform: scale(1.08);
    transition:  0.8s;
    filter: saturate(180%);
}
.img-seleccionar{
	-webkit-transform: scale(1.00);
    transform: scale(1.00);
    transition:  0.8s;
    filter: saturate(100%);
}
.circulo {
  width: 100%;
  height:0;
  padding-bottom: 100%;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
  background: #045795; 
  position: relative;
   cursor:pointer; cursor: hand;
}
.letrasDelCirculo{
  position: absolute;
	top: 50%;
	left: 30%;
	height: 30%;
	width: 90%;
	margin: -15% 0 0 -25%;
	font-size:22px;
	line-height:50px;
	text-align:center;
	color:white;
}
.icono-lupa-buscador{
    z-index: 10;
    margin-left: -15px;
    position: absolute;
    color: #FFFFFF;
    background-color:#0077b3;
}
.icono-lupa-buscador:hover{
	color:#FFF;
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
}

.fondoGris {
	background-color: #EDEDED;
}

.fondoGrisClaro{
	background-color: #F7F4F4;
}

.separadorBlancoIzq {
  border-left: 3px solid #FFFFFF;
}

.separadorBlancoDer {
  border-right: 3px solid #FFFFFF;
}

.separadorBlancoSup {
  border-top: 3px solid #FFFFFF;
}

.separadorBlancoInf {
  border-bottom: 3px solid #FFFFFF;
}

.azulOscuro{
	color: #11437E;
}

a.perfil {
    color: #5E6974 !important
}
.perfil img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.pull-right{
	float:right;
}

.clearfix:after,
form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    padding-buttom: 10px;
}

.list-clients{
	    padding-top: 10px;
}

div.ventas-tpv{
	display:flex;
}

.blue-button, .blue-button:hover{
	background:#3f7abf;
	border-color: #3f7abf; 
}
.green-button{
	background:#2fccae;
	border-color:#2fccae;
}
.green-button:hover{
	background:#2fccae;
	border-color:#2fccae;
}
.gray-button{
	background:#DEDBDB;
	border-color:#DEDBDB;
	color:#11437E;
}
.item input, .item textarea {
    transition: 0.42s;
}

input.form-border {
    border-radius: 0;
    width: 100%;
    border: 1px solid #7e92a7;
}

input.form-border:focus {
    box-shadow: none !important;
  	border: 1px solid rgba(0,0,0,.15);
}

.green-but{
	background:#2fccae;
	border-color:#2fccae;
	border-radius: 20px;
}
.green-but:hover{
	background:#1db79a;
	border-color:#2fccae;
}
select.form-bordersel{
	border-radius: 0;
    width: 100%;
    border: 1px solid #7e92a7;
}
select.form-bordersel:focus {
    box-shadow: none !important;
  	border: 1px solid rgba(0,0,0,.15);
}
textarea.form-bordertxt{
	border-radius: 0;
    width: 100%;
    border: 1px solid #7e92a7;
}
textarea.form-bordertxt:focus {
    box-shadow: none !important;
  	border: 1px solid rgba(0,0,0,.15);
}

body {
  margin: 0;
}

body,
html,
.containermen {
  height: 100%;
}
body,
html,
.content-panel
{
  height: 350px;
}

.content-panel,
.content-client {
  display: flex;  
}

.containermen,
.contentmen {
  display: flex;  
}

.containermen,.content-client {
  flex-direction: column;
}

.contentmen,
.contentmen{
  flex: 1;
}
.content-panel,
.content-client{
  flex: 1;
}
.contentmen {
  float:left;
overflow-y: auto;
}
.content-client{
	padding-left: 0px;
	padding-right: 0px; 
	 float:left;
	width:100%;
	overflow-y: auto;
}
/*--CSS--*/
 .block {
    border: 1px solid rgb(247, 244, 244);
    text-align: center;
    vertical-align: middle;
    border-right: 5px solid rgb(247, 244, 244);
    padding-bottom: 8px;
}
.circle {
    background: #b3eae0;
    border-radius: 200px;
    color: white;
    height: 100px;
    font-weight: bold;
    width: 100px;
    display: table;
    margin: 6px auto;
}
.circle p {
    vertical-align: middle;
    display: table-cell;
}

.tam{
	width: 10%;
	background: white;
	display: grid;
	min-width:150px;
	margin-right:5px;
	margin-bottom:1%;
}

.style-men{
	background: rgb(247, 244, 244);
}

.item-sel, .item-sel1,.pago-sel,.venta-sel{
	cursor:pointer;
}
tr.item-sel:hover{
	background-color: #cfe8e4;

}
tr.item-sel1:hover{
	background-color: #cfe8e4;

}
tr.pago-sel:hover{
	background-color: #cfe8e4;

}



.servicio-calcu:hover{
	background-color:#ecebeb;
}
input[type=radio]:checked {
    box-shadow:#cfe8e4 0px 0px 0px 3px;
    
}

.triangulo {
    border-top: 30px solid #1db79a;
    border-left: 30px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    cursor:pointer;
}

.star-position{
	position: absolute;
    margin-top: -25px;
    margin-left: -15px;
    cursor:pointer;
    color:white;
}

.star-fav{
	position: absolute;
    margin-top: -25px;
    margin-left: -15px;
    cursor:pointer;
    color:#ffd60b;
}

.panel-sup-venta{
	border-color: #dedbdb;
	color: #797676;
	border-style: solid; 
	background-color:white;
	display:flex;
}

.ticket-pago{
	border-color: #dedbdb;
    color: #c5c3c3;
    border-style: solid;
    text-align:center;
    font-size: 1.5em;
}

.ficha-cliente:hover{
	cursor:pointer;
	color: white;
	background-color:#11437e;
}

.btn-pagar{
	color:#c5c3c3;
	font-weight:bold;
	font-size: 15px;
}

.ord-cli{
	cursor:pointer;
   
}

.total-pagar{
	text-align: right;
	color:#797676;
	 font-weight: bold;
	 font-size: 1.1em;
}

.pago-option{
	background:#DEDBDB;
	border-color:#DEDBDB;
	min-width:125px; 
	cursor:pointer;
	margin-right:1%;
	color:#11437E;
	font-size:14px;
}

li.pago-option:hover div.btn-pagar,.pago-option:hover {
	background-color: #11437e;
    color: #e9ecef;
	cursor:pointer;
	
}

.pago-option:focus div.btn-pagar,.pago-option:focus{
	background-color:#11437E;
	color:white;
	
}


.arrow-true{
	display:inline-block;
	color:green;
}
.arrow-false{
	display:none;
}


.fijarAbajo {
   position:absolute;
   bottom:0;
   width:99%;
}

.clockpicker-popover{
	width:230px;
}

.fc-highlight {
    background-color:red;
}

.fc-event {
    font-size: 12px
}

.eventoCalendarioSeleccionado{
	border: 3px solid #474b4e !important;
	-webkit-box-shadow: 5px 5px 10px -2px rgba(107,107,107,1);
	-moz-box-shadow: 5px 5px 10px -2px rgba(107,107,107,1);
	box-shadow: 5px 5px 10px -2px rgba(107,107,107,1);
}

.clicPointer{
	cursor: pointer;
}


.modalCentrado {
    transform: translate(0, -25%);
    top: 25%;
    margin: 0 auto;
}

.separador-fucionalidades{
	width: 85%;
	margin: 0 auto;
	border-bottom: 2px solid #cccfd8;
	margin-top: 0px;
}

.separador-modos-rol{
	width: 100%;
	margin: 0 auto;
	border-bottom: 2px solid #5a738e;
	margin-top: 25px;
}

.form-group-rol{
	margin-bottom: 0px;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-logintpv100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;  
}

.wrap-logintpv100 {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}


/*------------------------------------------------------------------
[ Form ]*/

.logintpv100-form {
  width: 100%;
}

.logintpv100-form-title {
  display: block;
  font-family: Montserrat-SemiBold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.login100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-inputtpv100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.inputtpv100 {
  font-family: Quicksand-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-inputtpv100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-inputtpv100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  background: -o-linear-gradient(left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(left, #21d4fd, #b721ff);
  background: linear-gradient(left, #21d4fd, #b721ff);
}

.focus-inputtpv100::after {
  font-family: Quicksand-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: -5px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.inputtpv100:focus + .focus-inputtpv100::after {
  top: -15px;
}

.inputtpv100:focus + .focus-inputtpv100::before {
  width: 100%;
}

.has-val.input100 + .focus-inputtpv100::after {
  top: -15px;
}

.has-val.inputtpv100 + .focus-inputtpv100::before {
  width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-logintpv100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-logintpv100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.logintpv100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  
  background: -webkit-linear-gradient(right, #5AC1D0, #005694, #5AC1D0, #005694);
  background: -o-linear-gradient(right, #5AC1D0, #005694, #5AC1D0, #005694);
  background: -moz-linear-gradient(right, #5AC1D0, #005694, #5AC1D0, #005694);
  background: linear-gradient(right, #5AC1D0, #005694, #5AC1D0, #005694);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.logintpv100-form-btn {
  font-family: Quicksand-Regular;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-logintpv100-form-btn:hover .logintpv100-form-bgbtn {
  left: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-logintpv100 {
    padding: 77px 15px 33px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validatetpv-input {
  position: relative;
}

.alert-validatetpv::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Quicksand-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validatetpv::after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validatetpv:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validatetpv::before {
    visibility: visible;
    opacity: 1;
  }

}

/* tables */
table.tablesorter thead tr .headerSortUpPagos {
	background-image: url(/images/desc.gif);
	background-repeat: no-repeat;
	background-position:left;
	background-position: -10% 50%;
    background-origin: content-box;
}
table.tablesorter thead tr .headerSortDownPagos {
	background-image: url(/images/asc.gif);
	background-repeat: no-repeat;
	background-position: -10% 50%;
    background-origin: content-box;
}

table.tablesorter thead tr .headerSortUpServicios {
	background-image: url(/images/desc.gif);
	background-repeat: no-repeat;
	background-position: left top;
    background-origin: content-box;
    margin: 0px 1px 0px 1px;
}
table.tablesorter thead tr .headerSortDownServicios {
	background-image: url(/images/asc.gif);
	background-repeat: no-repeat;
	background-position: left top;
    background-origin: content-box;
    margin: 0px 1px 0px 1px;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(/images/desc.gif);
	background-repeat: no-repeat;
	background-position:left;
    background-origin: content-box;
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/images/asc.gif);
	background-repeat: no-repeat;
	background-position:left;
    background-origin: content-box;
}


.heightDatepicker{
	height:38px;
	padding: 8px 12px 8px 12px;
 }

.tam-th{
	min-width:70px;
}
@media (max-width: 768px){
	table.tablesorter thead tr .headerSortUp {
	background-image: url(/images/desc.gif);
	background-repeat: no-repeat;
	/*background-position:left;*/
	background-position: -10% 50%;
    background-origin: content-box;
	}
	table.tablesorter thead tr .headerSortDown {
		background-image: url(/images/asc.gif);
		background-repeat: no-repeat;
		/*background-position:left;*/
		background-position: -10% 50%;
	    background-origin: content-box;
	}
	table.tablesorter thead tr .headerSortUpServicios {
		background-image: url(/images/desc.gif);
		background-repeat: no-repeat;
		background-position: -15% 50%;
	    background-origin: content-box;
	}
	table.tablesorter thead tr .headerSortDownServicios {
		background-image: url(/images/asc.gif);
		background-repeat: no-repeat;
		background-position: -15% 50%;
	    background-origin: content-box;
	}
	.tam-th{
		min-width:95px;
	}
	.tam-th-serv{
		min-width:95px;
	}
	.tam-th-pag{
		min-width:150px;
	}
	.tam-th-cita{
		    min-width: 100px;
	}
}

.loader {
  position: fixed;
  display: none;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  z-index: 2;
  border: 16px solid #b4d3f5;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.cont-incidencia-admin{
	max-height: 35px;
    overflow: hidden;
}

.img-adjunto-incidencia{
	width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #adadad;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
	transition: 0.3s;
}

#img-adjunto-incidencia:hover {opacity: 0.7;}

/* The Modal (background) */
.modalImgAdjunta {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 40px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modalContentImgAdjunta {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 50%;
}

/* Add Animation */
.modalContentImgAdjunta {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.closeModalImgAdjunta {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closeModalImgAdjunta:hover,
.closeModalImgAdjunta:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modalContentImgAdjunta {
        width: 100%;
    }
}

.estilo-tarjeta {
    border-color: #dedbdb;
    color: #797676;
    border-style: solid;
    background-color: white;
}

.custom-overflow {
    overflow-x: hidden;
    overflow-y: auto;
}

.ventaConSaldoPendiente{
	background-color: #FFA420;
}

.accordion {

  cursor: pointer;
  padding-left:10px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}



.accordion-content {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}