<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragmentsTPV :: head"></head>
<body class="nav-md">
	<div class=" body" style="overflow:hidden;">
		<div  >
			<div th:replace="fragments/fragmentsTPV :: barraSuperior"></div>
			
			<!-- Page content -->
			<div class="menu-modulo" >
				<div class="row">
					<div class="col-12">									
						 <div class="text-center text-bold">
				            <ul class="nav fondoGris">
								<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/ventas}" style="border-bottom-color: #2fccae; border-bottom-style: solid;border-bottom-right-radius: 4px; padding-right: 30px;padding-left: 30px;" >Cliente</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/ventas/familia}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Familia</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/ventas/productos}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Productos</a>
							  	</li>
							  		<li class="nav-item " th:if="${ventaActiva != null}">
							    	<a class="nav-link" th:href="@{/tpv/ventas/pagos}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Pagos</a>
							  	</li>
							  	<li class="nav-item " th:if="${ventaActiva == null}" >
							    	<a  class="nav-link" href="#" style="color:#d4d6d6;border-bottom-color: #d4d6d6; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Pagos</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link" th:href="@{/tpv/ventas/pendientes}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Pendientes</a>
							  	</li>
							</ul>				
				        </div>
					</div>
				</div>
			</div>

			<div class="fondoGrisClaro p-b-2">
				<div class="container" style="max-width:100%">
					<div class="row">
						<div  class="contenido-modulo col-12" >
							
							<div class="client-edit row "  style="width: 100%;margin: 0;margin-top: 10px;padding-left:10px;">
								<div class="col-lg-8 col-md-10 col-sm-10 col-10 estilo-tarjeta overflow-auto">
									<div class="container">
										<div class="row p-l-3 p-r-3 p-t-2 p-b-2">
											<div class="title_left">
												<h3 style="color: #5e646b;">Crear Cliente</h3><br>
											</div>
											<form id="form-cliente" th:action="@{/tpv/ventas/crear}" th:object="${cliente}" method="post" enctype="multipart/form-data" class="form-horizontal form-label-left col-11">
												<div class="container">
													<div class="row justify-content-center">
														<div class="col-lg-8 col-md-8 col-sm-10 col-12 ">										
															<div class="item form-group ventas-tpv" >
																<label class="control-label col-md-2 col-sm-2 col-3"
																	for="nombre">Nombre <span class="required">*</span>
																</label>
																<div class="col-sm-9 col-8">
																	<input type="text" class="form-control form-border borde-input-visible" maxlength="50" required="required" th:field="*{nombre}" th:errorclass="'form-control alert-danger'" />
																		<small class="form-text text-danger"
																		th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
																		</small>
																</div>
															</div>
															<div class="item form-group ventas-tpv" >
																<label class="control-label col-md-2 col-sm-2 col-3"
																	for="nombre">Apellido <span class="required">*</span>
																</label>
																<div class="col-sm-9 col-8">
																	<input type="text" class="form-control form-border borde-input-visible" maxlength="50" required="required" th:field="*{apellido}" th:errorclass="'form-control alert-danger'" />
																		<small class="form-text text-danger"
																		th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">
																		</small>
																</div>
															</div>
															<div class="form-group ventas-tpv" >
																<label class="control-label col-sm-2 col-3"
																	for="tipo_documento">DNI 
																</label>
																<div class="col-lg-3 col-sm-3 col-4">
																	<select id="tipoDocumento" class="form-control form-bordersel" th:field="*{tipo_documento}" >
																	  <option value=""></option>
																	  <option 
																	      th:each="tipoDocumento: ${documentos}"
																	      th:value="${tipoDocumento.id}"
																	      th:text="${tipoDocumento.nombre}" ></option>
																	</select>
																</div>
																<div class="col-lg-6 col-sm-6 col-4">
																	<input id="documento" type="text" th:field="*{documento}" class="form-control form-border popOverinfo borde-input-visible" readonly
																		th:classappend="${errorDocumento!=null} ? 'form-control alert-danger' : ''"  onBlur="validarDocumento(this.value);"
																		data-toggle="popover" data-placement="right" data-html="true" data-title="Documento" placeholder="Ejemplo: 12345678X"/> 
																		<small	class="form-text text-danger" th:if="${errorDocumento!=null}" th:text="${errorDocumento}"></small>
																</div>						
															</div>
															<div class="item form-group ventas-tpv" >
																<label class="control-label col-md-2 col-sm-2 col-3"
																	for="email">Email 
																</label>
																<div class="col-sm-9 col-8">
																	<input type="email" th:field="*{email}" class="form-control popOverinfo form-border borde-input-visible"
																		th:classappend="${errorEmail!=null} ? 'form-control alert-danger' : ''"  placeholder="Ejemplo: ejemplo@ejemplo.com"
																		data-toggle="popover" data-placement="right" data-html="true" data-title="Email" data-content="Debe rellenar al menos un campo de los siguientes: DNI, Email o Teléfono"/> 
																		<small class="form-text text-danger" th:if="${errorEmail!=null}" th:text="${errorEmail}"></small>
																</div>
															</div>
															<div class="item form-group ventas-tpv" >
																<label class="control-label col-md-2 col-sm-2 col-3"
																	for="telefono">Teléfono
																</label>
																<div id="telefonoDiv" class="col-sm-9 col-8">
																	<input id="telefono" type="text" th:field="*{telefono}" class="form-control popOverinfo form-border borde-input-visible" 
																		th:classappend="${errorTelefono!=null} ? 'form-control alert-danger' : ''"   onkeypress='validarTlf(event)' onblur='validarFormatoTlf(this.value, this.id)'
																		data-toggle="popover" data-placement="right" data-html="true" data-title="Teléfono" data-content="Se admiten solo números y el símbolo '+' puede ser añadido al inicio de forma opcional.El mínimo permitido es de nueve (9) caracteres. <br /> <br /> Debe rellenar al menos un campo de los siguientes: DNI, Email o Teléfono"> 
																		<small class="form-text text-danger" th:if="${#fields.hasErrors('telefono') or errorTelefono!=null}"  th:text="${errorTelefono}"></small> 
																</div>
															</div>
															<div class="item form-group ventas-tpv" >
																<label class="control-label col-md-2 col-sm-2 col-3"
																	for="telefono">Teléfono Alternativo
																</label>
																<div id="telefonoDiv" class="col-sm-9 col-8">
																	<input id="telefono2" type="text" th:field="*{telefono2}" class="form-control popOverinfo form-border borde-input-visible" 
																		th:errorclass="'form-control alert-danger'" onkeypress='validarTlf(event)' onblur='validarFormatoTlf(this.value, this.id)'
																		data-toggle="popover" data-placement="right" data-html="true" data-title="Teléfono alternativo" data-content="Se admiten solo números y el símbolo '+' puede ser añadido al inicio de forma opcional.El mínimo permitido es de nueve (9) caracteres."> 
																		<small class="form-text text-danger" th:if="${#fields.hasErrors('telefono2')}" th:errors="*{telefono2}"></small>
																</div>
															</div>
															<div class="item form-group ventas-tpv">
																<label class="control-label col-sm-2 col-3"
																	for="tipo_sexo">Sexo:</label>
																<div class="col-sm-3 col-8">
																	<div th:each="sexo: ${sexos}" class="radio-inline">
																		<input type="radio"
																        th:field="*{tipo_sexo}"
																        th:value="${sexo.id}" />
																    <label
																        th:for="${#ids.prev('tipo_sexo')}"
																        th:text="${sexo.nombre}"></label>
																	</div>
																</div>
																<label class="control-label col-sm-3 col-3" style="text-align: right;"
																	for="tipo_sexo">Menor de Edad:</label>
																<div class="col-sm-2 col-8" style="padding-top: 2px;padding-left: 15px;" >
																	<input th:field="*{menor_edad}" type="checkbox" />
																</div>
															</div>
															<div class="form-group ventas-tpv" >
																<label class="control-label col-md-2 col-sm-2 col-3"
																	for="fecha_nacimiento">F. Nacimiento <span ></span>
																</label>
																<div class="col-sm-9 col-8">
																	<input type="text" th:field="*{fecha_nacimiento}" class="form-control form-border" placeholder="Formato: dd/mm/yyyy"
																		th:errorclass="'form-control alert-danger'"  pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}"/> <small
																		class="form-text text-danger"
																		th:if="${#fields.hasErrors('fecha_nacimiento')}" th:errors="*{fecha_nacimiento}"></small>
																</div>
															</div>
															<div class="item form-group ventas-tpv" >
																<label class="control-label col-md-2 col-sm-2 col-3"
																	for="pais">País
																</label>
																<div class="col-sm-9 col-8">
																	<select class="form-control form-bordersel " th:field="*{pais}">
																		<option value=""></option>
																		<option 
																	    	th:each="pais: ${paises}"
																	      	th:value="${pais.id}"
																	      	th:text="${pais.nombre}" 
																	      	th:id="${pais.prefijo}">
																      	</option>
																	</select>
																</div>
															</div>
															<div class="item form-group ventas-tpv" >
																<label class="control-label col-md-2 col-sm-2 col-3"
																	for="provincia">Provincia<span class="required-cambiable">*</span>
																</label>
																<div class="col-sm-9 col-8">
																	<select class="form-control form-bordersel" th:field="*{provincia}" required>
																		<option value=""></option>
																		<option 
																	    	th:each="provincia: ${provincias}"
																	      	th:value="${provincia.id}"
																	      	th:text="${provincia.nombre}" >
																      	</option>
																	</select>
																</div>
															</div>
															<div class="item form-group ventas-tpv" >
																<label class="control-label col-md-2 col-sm-2 col-3"
																	for="poblacion">Población<span class="required-cambiable">*</span>
																</label>
																<div class="col-sm-9 col-8">
																	<select class="form-control form-bordersel" th:field="*{poblacion}" required>
																		<option value=""></option>
																      	<option 
																	    	th:each="poblacion: ${poblaciones}"
																	      	th:value="${poblacion.id}"
																	      	th:text="${poblacion.nombre}" >
																      	</option>
																	</select>
																</div>
															</div>
															<div class="form-group ventas-tpv" >
																<label class="control-label col-md-2 col-sm-2 col-3"
																	for="direccion">Dirección  <span ></span>
																</label>
																<div class="col-sm-9 col-8">
																	<textarea th:field="*{direccion}" class="form-control form-bordertxt borde-input-visible"
																		th:errorclass="'form-control alert-danger'"></textarea> <small
																		class="form-text text-danger"
																		th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></small>
																</div>
															</div>
															<div class="item form-group ventas-tpv">
																<label class="control-label col-md-2 col-sm-2 col-3"
																	for="codigo_postal">Código postal<span
																	></span>
																</label>
																<div class="col-sm-9 col-8">
																	<input type="text" class="form-control form-border borde-input-visible" maxlength="10"
																		 th:field="*{cpostal}" th:errorclass="'form-control alert-danger'"/>
																	<small class="form-text text-danger"
																	th:if="${#fields.hasErrors('cpostal')}" th:errors="*{cpostal}">
																	</small>
																</div>
															</div>
															<div class="form-group ventas-tpv" >
																<label class="control-label col-md-2 col-sm-2 col-3"
																	for="observaciones">Obs.  <span ></span>
																</label>
																<div class="col-sm-9 col-8">
																	<textarea th:field="*{observaciones}" class="form-control form-bordertxt borde-input-visible"
																		th:errorclass="'form-control alert-danger'"></textarea> <small
																		class="form-text text-danger"
																		th:if="${#fields.hasErrors('observaciones')}" th:errors="*{observaciones}"></small>
																</div>
															</div>
															<div class="item form-group ventas-tpv" >
																<label class="control-label col-md-2 col-sm-2 col-3"
																	for="descuento">Descuento 
																</label>
																<div class="col-sm-9 col-8">
																	<input type="number" step="1" min="0" max="100" th:field="*{descuento}" class="form-control form-border borde-input-visible"
																	th:classappend="${errorDescuento!=null} ? 'form-control alert-danger' : ''" />
																	<small class="form-text text-danger" th:if="${errorDescuento!=null}" th:text="${errorDescuento}"></small>
																</div>
															</div>
														</div>
														
														<div class="col-lg-4 col-md-4 col-sm-6 col-6 ">
															<div class="col-lg-12 col-md-12 col-sm-12 col-12">
																 <img id="image" 
																	class="img-responsive img-detail-user"
																	th:src="@{/images/imagenNoDisponible.png}"
																	style="height: auto; border-radius: 11px;">
															</div>
															<div style="text-align: center" >
																<label class="fileContainer blue-button btn btn-primary"> <i
																	class="fa fa-btn fa-pencil-square-o"></i> Editar <input id="fileImage" type="file" name="file" accept="image/x-png,image/jpeg"/>
																</label>
															</div>
														</div>
													</div>
												</div>
												
												<div class="row">
													<div class="col-12" style="text-align: center;">
														<div class="form-group">
															<a th:href="@{/tpv/ventas}" class="blue-button btn btn-primary">Cancelar</a>
															<button id="send" type="submit" class="green-button btn btn-success">Aceptar</button>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
									
				
								</div>
							</div>
						</div>
						<div th:replace="fragments/fragmentsTPV :: modalRelogin"></div>
						<div th:replace="fragments/fragmentsTPV :: menuPrincipalInferior"></div>
						<div th:replace="fragments/fragmentsTPV :: modalEnviarTicketEmail"></div>		
						<div th:replace="fragments/fragmentsTPV :: modalNoOpcionesCliente"></div>	
					</div>
				</div>
			</div>
			

		</div>
	</div>
	<div th:replace="fragments/fragmentsTPV :: scripts"></div>
	<script type="text/javascript">
		$('#form-cliente').submit(function(e){
			
			//Si no hay ninguno de los campos de telefono,email o dni llenados
			if(($("#telefono").val().length==0 && $("#email").val().length==0 && $("#documento").val().length==0 && $("#tipoDocumento").val().length==0) || ($("#telefono").val().length==0 && $("#email").val().length==0 && $("#documento").val().length==0 && $("#tipoDocumento").val().length>0) ){
				 
				$('#modalNoOpcionescliente').modal('show');
				return false;
			}
			
			//Si los tlf tienen errores no permite enviar el formulario
			if($("#telefono").val().length>0 && $("#telefono").val().length<8){
			
				$("#telefonoError").remove();
				$("#telefono").after("<small id=telefonoError class='form-text text-danger'>Formato inválido para el teléfono</small>");
				$('#telefono' ).addClass('alert-danger');
				return false;
			}
			
			
			if ($('#telefono').hasClass('alert-danger')) {
				
		        return false;
		    }
	
			
		});
		var altoMenuPrincipal = $(".menu-principal").height();
		var altoMenuModulo = $(".menu-modulo").height();
		var altoMenuInferior = $(".menu-principal-inferior").height();
		var altoFormularioCliente = window.innerHeight - altoMenuPrincipal - altoMenuModulo - altoMenuInferior - 30;
		$(".client-edit").css("height", altoFormularioCliente+"px");
		
		var anchoFormularioCliente = $(".client-edit").width() - parseInt($(".client-edit").css('padding-left'));
		$(".menu-principal-inferior").width(anchoFormularioCliente);
		$(".menu-principal-inferior").css("margin-left", $(".client-edit").css('padding-left'));
		
		$(window).resize(function(){
			var altoMenuPrincipal = $(".menu-principal").height();
			var altoMenuModulo = $(".menu-modulo").height();
			var altoMenuInferior = $(".menu-principal-inferior").height();
			var altoFormularioCliente = window.innerHeight - altoMenuPrincipal - altoMenuModulo - altoMenuInferior - 35;
			$(".client-edit").css("height", altoFormularioCliente+"px");
			
			var anchoFormularioCliente = $(".client-edit").width() - parseInt($(".client-edit").css('padding-left'));
			$(".menu-principal-inferior").width(anchoFormularioCliente);
			$(".menu-principal-inferior").css("margin-left", $(".client-edit").css('padding-left'));
		});
	</script>

</body>
</html>
