<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragmentsTPV :: head"></head>
<body class="nav-md" >
	<div class=" body" style="overflow: hidden;">
		<div >
			<th:block th:replace="fragments/fragmentsTPV :: mensajesNotificaciones"></th:block>
			<div th:replace="fragments/fragmentsTPV :: barraSuperior"></div>
			<div th:replace="fragments/fragmentsTPV :: header"></div>

			<!-- Page content -->
			<div class="menu-modulo" >
				<div class="row">
					<div class="col-lg-9 col-md-8 col-sm-7 col-7">									
						 <div class="text-center text-bold">
				            <ul class="nav fondoGris">
								<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/ventas}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px; padding-right: 30px;padding-left: 30px;" >Cliente</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/ventas/familia}" style="border-bottom-color: #2fccae; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Familia</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/ventas/productos}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Productos</a>
							  	</li>
							  		<li class="nav-item " th:if="${ventaActiva != null}">
							    	<a class="nav-link" th:href="@{/tpv/ventas/pagos}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Pagos</a>
							  	</li>
							  	<li class="nav-item " th:if="${ventaActiva == null}" >
							    	<a  class="nav-link" href="#" style="color:#d4d6d6;border-bottom-color: #d4d6d6; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Pagos</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link" th:href="@{/tpv/ventas/pendientes}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Pendientes</a>
							  	</li>
							</ul>				
				        </div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-5 col-5  fondoGris" >
						<input type="text" class="form-control borde-input-visible popOverinfo p-b-1 p-t-1 m-t-1"  placeholder="Buscar familias" name="buscadorFamilia" id="buscadorFamilia"
						data-toggle="popover" data-placement="left" data-title="Buscar " data-delay="400"
						data-content="Al escribir se irá filtrando las familias" style="width:95%; border-color: #7e92a7;border-radius: 20px;">
						<i class="fa fa-search pull-right lupa-buscador-tpv"></i>
						<input type="hidden" id="urlBuscadorFamilia" value="/tpv/ventas/familia/buscar/nombre/ajax/">	
					</div>
				</div>
			</div>
			
			<div class="fondoGrisClaro p-b-2 ">
				<div class="container" style="max-width:100%">
					<div class="row justify-content-center row-global">
						<div class="contenido-modulo col-lg-9 col-lg-offset-0 col-md-8 col-md-offset-0 col-sm-8 col-sm-offset-0 col-xs-12 col-xs-offset-0">
							<div class="listado-familias row" style="width: 100%;margin: 0;margin-top: 10px;padding-left:10px;padding-right:10px;">
								<div class="col-12 estilo-tarjeta-sin-relleno overflow-auto">
									<div  th:if="${#lists.contains(funcionalidadesPermisos, '62')}" class="p-l-1 p-r-1 p-t-1 p-b-1">	 
										<div class="containermen">
										  <div class="contentmen ">
										   
										    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sustituible-ajax" >
												<ul class="nav " >
													<li class="nav-item tam" >
														<div class="block" >
												            <img class="circle img-responsive img-detail-ventas cursor-pointer"
															th:src="@{/images/favoritos.png}" onclick="Favoritos()">
															<h6 style="top:10px;font-size:13px;">       
																<a   class=" nav-link nav-link azulOscuro" th:href="@{/tpv/ventas/favoritos}">Favoritos</a>
											   				</h6>
											 			</div>
													</li>
													<li class="nav-item tam" th:each="familia: ${familias}" >
														<div class="block" th:onclick="'seleccionarFamilia(' + ${familia.id} + ')'">
												            <div th:if="${familia.imagen == null || #strings.length(familia.imagen) == 0}" class="A circle" style="cursor: pointer;"> </div>
															<img th:unless="${familia.imagen == null || #strings.length(familia.imagen) == 0}" class="A circle img-responsive img-detail-ventas cursor-pointer"
															th:src="@{'/tpv_images/familias/' + ${familia.imagen}}" >
															<h6 style="top:10px;font-size:13px;">       
																<a  class="A nav-link nav-link azulOscuro" href="#"  th:text="${familia.nombre}"></a>
											   				</h6>
											 			</div>
													</li>
												</ul>	
										    </div>
										  </div>
										</div>
									</div>
								</div>
							</div>
							<div th:replace="fragments/fragmentsTPV :: menuPrincipalInferior"></div>
						</div>
						<div class=" col-lg-3 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 p-r-0 p-b-2 espacio-reservado-calculadora">
							<!--/* Para simular el espacio que ocupa el panel derecho */-->
						</div>
						<div th:replace="fragments/fragmentsTPV :: panelDerechoVentas">
									
						</div>
					</div>
				</div>
			</div>
				<!-- Modal eliminar-->
		<div class="modal fade" id="ModalEliminar" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12" style="text-align:center">
		                    <h3>Eliminar cliente</h3>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="cont-recup-text" >
		                        <p style="text-align:center;">¿Usted está seguro de eliminar el cliente seleccionado?</p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row">
	                        	<div class="col-sm-5  col-sm-offset-1 col-xs-8" style="text-align:right">
	                                <button id="btn-eliminar" class="btn btn-success" onclick="eliminarSeleccionado('/tpv/clientes/');">
	                                    <i class="fa fa-btn fa-check"></i> Confirmar
	                                </button>
	                            </div>
	                            
	                            <div class="col-sm-5 col-xs-8">
	                                <button class="btn btn-danger" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal eliminar-->
		
		<!-- Modal de opcion no seleccionada-->
		<div class="modal fade" id="modalSinSeleccion" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12" style="text-align:center">
		                    <h3>Seleccionar una Venta</h3>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="cont-recup-text" >
		                        <p style="text-align:center;">Para continuar, debe seleccionar una venta pendiente</p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row">
	                        	<div class="col-sm-8 col-sm-offset-1 col-xs-10" style="text-align:right">
	                                <button class="btn btn-danger m-l-10" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal de opcion no seleccionada-->

		<div class="modal fade" id="modalSinSeleccionVenta" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12" style="text-align:center">
		                    <h3>No hay venta creada</h3>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="cont-recup-text" >
		                        <p style="text-align:center;">Para continuar, debe seleccionar "Nueva Venta" para generar una venta</p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row">
	                        	<div class="col-sm-8 col-sm-offset-1 col-xs-10" style="text-align:right">
	                                <button class="btn btn-danger m-l-10" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal de opcion no seleccionada-->
		
			<!-- Modal eliminar-->
		<div class="modal fade" id="ModalEliminarVenta" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12" style="text-align:center">
		                    <h3>Venta Activa</h3>
		                    </div>
		                </div>
		                <div class="row">
		                   <div class="cont-recup-text" th:if="${ventaActiva != null}">
		                        <p style="text-align:center;" th:text="'Tiene una venta activa (Ticket n°:'+${ventaActiva.id}+'), ¿desea eliminarla o conservarla?'"></p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row">
	                        	<div class="col-sm-5  col-sm-offset-1 col-xs-8" style="text-align:right">
	                                <button id="btn-eliminar" class="btn btn-success" onclick="eliminarVenta();">
	                                    <i class="fa fa-btn fa-check"></i> Eliminar
	                                </button>
	                            </div>
	                            
	                            <div class="col-sm-5 col-xs-8">
	                                <button class="btn btn-danger" onclick="EnviarSeleccionado('/tpv/ventas/');">
	                                    <i class="fa fa-btn fa-times"></i> Enviar a Pendientes
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal de opcion no seleccionada-->
			<div th:replace="fragments/fragmentsTPV :: modalRelogin"></div>
			<div th:replace="fragments/fragmentsTPV :: modalYaHayActualVacio"></div>
			<div th:replace="fragments/fragmentsTPV :: modalReusarTicket"></div>
			<div th:replace="fragments/fragmentsTPV :: modalVendedores"></div>
			<div th:replace="fragments/fragmentsTPV :: modalAnulacionesServiciosOrPagos"></div>
			<div th:replace="fragments/fragmentsTPV :: modalObservacionesDeVenta"></div>
			<div th:replace="fragments/fragmentsTPV :: modalEnviarTicketEmail"></div>
			<div th:replace="fragments/fragmentsTPV :: modalVentaConsumoInterno"></div>
		</div>		
	</div>
	<div th:replace="fragments/fragmentsTPV :: scripts"></div>
	<script th:replace="fragments/autocompletarBuscador :: javascript"></script>
	<script type="text/javascript">
		var altoMenuPrincipal = $(".menu-principal").height();
		var altoMenuModulo = $(".menu-modulo").height();	
		var altoMenuInferior = $(".menu-principal-inferior").height();
		
		var altoListadoFamilias = window.innerHeight - altoMenuPrincipal - altoMenuModulo -  altoMenuInferior - 30;
		$(".listado-familias").css("height", altoListadoFamilias+"px");
		
		var anchoBotonesClientes = $(".listado-familias").width() - 16;
		$(".menu-principal-inferior").width(anchoBotonesClientes);
		$(".menu-principal-inferior").css("margin-left", $(".listado-familias").css('padding-left'));
		
		$(window).resize(function(){
			var altoMenuPrincipal = $(".menu-principal").height();
			var altoMenuModulo = $(".menu-modulo").height();	
			var altoMenuInferior = $(".menu-principal-inferior").height();
			
			var altoListadoFamilias = window.innerHeight - altoMenuPrincipal - altoMenuModulo -  altoMenuInferior - 33;
			$(".listado-familias").css("height", altoListadoFamilias+"px");
			
			var anchoBotonesClientes = $(".listado-familias").width() - 16;
			$(".menu-principal-inferior").width(anchoBotonesClientes);
			$(".menu-principal-inferior").css("margin-left", $(".listado-familias").css('padding-left'));
		});
		
		$('#buscadorFamilia').on('keyup',function(){
			urlBuscadorFamilia = $('#urlBuscadorFamilia').val();
			value=$(this).val();
          	if (value === "") {
          	   value = "todas-familias";
          	}
          	$.ajax({
		   		type : 'GET',
		   		url : urlBuscadorFamilia +  value,
		   		success:function(data){
					$(".sustituible-ajax").html( data );
					
          		}

          	});
		});
	</script>
</body>
</html>