<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

<ul class="nav">
	<li th:if="${not #lists.isEmpty(catalogos)}" class="nav-item tam"  th:each="catalogo: ${catalogos}">
		<div class="block" >
			<div style="padding-left:77%;" >
				<div class="triangulo" th:if="${catalogo.favoritos==false}" th:id="${'false'+catalogo.id}" th:onclick="'marcarFavorito(this.id)'">
					<i class="fa fa-star star-position" aria-hidden="true" th:id="${'no'+catalogo.id}" ></i>
				</div>
				<div class="triangulo" th:if="${catalogo.favoritos==true}" th:id="${'true'+catalogo.id}" th:onclick="'marcarFavorito(this.id)'">
					<i class="fa fa-star star-fav" aria-hidden="true" th:id="${'yes'+catalogo.id}" ></i>
				</div>
			</div>
			<div th:if="${catalogo.articulo.imagen == null || #strings.length(catalogo.articulo.imagen) == 0}" th:id="${catalogo.id}" class="A circle" th:classappend="${catalogo.generico == true} ? articulo-generico : ''" style="cursor: pointer;" th:onclick="'seleccionarProducto(' + ${catalogo.id} + ')'"> </div>
			<img th:unless="${catalogo.articulo.imagen == null || #strings.length(catalogo.articulo.imagen) == 0}" th:id="${catalogo.id}" class="A circle img-responsive img-detail-ventas cursor-pointer" th:classappend="${catalogo.generico == true} ? articulo-generico : ''"
			th:src="@{'/tpv_images/articulos/' + ${catalogo.articulo.imagen}}" th:onclick="'seleccionarProducto(' + ${catalogo.id} + ')'">
			<h6 style="top:10px;font-size:14px;height:45px;overflow:hidden;">       
				<a class="nav-link nav-link azulOscuro p-0" href="#" th:id="${'nombre-producto-'+catalogo.id}" th:text="${catalogo.articulo.nombre}" th:title="${catalogo.articulo.nombre}" th:onclick="'seleccionarProducto(' + ${catalogo.id} + ')'"></a>
			</h6>
			<p th:if="${catalogo.coleccion.nombre_mostrar != null && catalogo.coleccion.nombre_mostrar != ''}" style="margin-top:5px;font-size:13px;height:30px;overflow:hidden;">       
				<a  class="nav-link nav-link" href="#"  th:text="${catalogo.coleccion.nombre_mostrar}" style="color:#2fccae;padding:0px; line-height:14px;"></a>
			</p>
		    <h6 style="margin-top:5px;font-size:13px;">       
				<a  class="nav-link nav-link" href="#" th:id="${'precio-producto-'+catalogo.id}" th:text="${#numbers.formatDecimal( catalogo.precio, 1, 2) + ' €'}" style="color:#2fccae; padding:0px; padding-top:3px"></a>
			</h6>
		</div>
  	</li>											  
</ul>

<th:block th:if="${#lists.isEmpty(catalogos)}">
	<div class="container m-t-2">
		<div class="row justify-content-center">
			<h5>No se encontró productos.</h5>
		</div>
	</div>
</th:block>