<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

<table id="tablaListarClientes" class="table table-bordered table-responsive table-hover tablesorter table-resizable">
	<thead>
		<tr >
			<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" >Nro. Cliente</th>
			<th class="td-tabla ord-cli tam-th " data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" ><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="name-down"></i><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="name-up"></i> Nombre</th>
			<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" ><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="ap-down"></i><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="ap-up"></i> Apellido</th>
			<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" ><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="dni-down"></i><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="dni-up"></i> DNI</th>
			<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" ><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="tlf-down"></i><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="tlf-up"></i> Teléfono</th>
			<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" ><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="email-down"></i><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="email-up"></i> Email</th>
			<th th:if="${ #lists.size(sucursales) > 1 }" class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" ><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="suc-down"></i><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="suc-up"></i> Sucursal</th>
		</tr>
	</thead>
	
	<tbody class="bloque-sustituible-ajax">
		<tr th:each="cliente: ${clientes}" th:id="${cliente.id}" th:onclick="'seleccionarClienteTpv(' + ${cliente.id} + ')'"  ondblClick="SeleccionarVenta();" class="item-sel" th:if="${clientesel==true}">
			<td th:text="${cliente.nro_cliente}" th:title="${cliente.nro_cliente}" class="td-tabla no-seleccionable" ></td>
			<td th:text="${cliente.nombre}" th:title="${cliente.nombre}" th:class="${'nombre_cli'+cliente.id+' td-tabla no-seleccionable'}" th:id="${cliente.nombre}"></td>
			<td th:text="${cliente.apellido}" th:title="${cliente.apellido}" th:class="${'apellido_cli'+cliente.id+' td-tabla no-seleccionable'}" th:id="${cliente.apellido}"></td>
			<td th:text="${cliente.documento}" th:title="${cliente.documento}" th:class="${'documento_cli'+cliente.id+' td-tabla no-seleccionable'}" th:id="${cliente.documento}"></td>
			<td th:text="${cliente.telefono}" th:title="${cliente.telefono}" th:class="${'telefono_cli'+cliente.id}+' td-tabla no-seleccionable'" th:id="${cliente.telefono}"></td>
			<td th:text="${cliente.email}" th:itle="${cliente.email}" class="td-tabla no-seleccionable"> </td>
			<td th:if="${ #lists.size(sucursales) > 1 && cliente.sucursal != null}" th:text="${cliente.sucursal.nombre}" th:title="${cliente.sucursal.nombre}" class="td-tabla no-seleccionable"> </td>
			<td th:if="${ #lists.size(sucursales) > 1 && cliente.sucursal == null}" th:text="${''}" class="td-tabla no-seleccionable"> </td>
			<td style="display:none" th:text="${cliente.observaciones}" th:title="${cliente.observaciones}" th:class="${'observaciones_cli'+cliente.id+' td-tabla no-seleccionable'}" th:id="${cliente.observaciones}"></td>
		</tr>

		<th:block th:if="${clientesel!=true}">
			<tr th:each="cliente: ${clientes}" th:id="${cliente.id}" th:onclick="'seleccionarClienteTpv(' + ${cliente.id} + ')'"  ondblClick="SeleccionarVenta();" class="item-sel" >
				<th:block th:if="${clientesel.id==cliente.id}">
					<input  class="selectme" th:value = "${cliente.id}" name="radioTable" checked=true  id="myForm" type="hidden" />
				</th:block>
				<td th:text="${cliente.nro_cliente}" th:title="${cliente.nro_cliente}" class="td-tabla no-seleccionable" ></td>
				<td th:text="${cliente.nombre}" th:title="${cliente.nombre}" th:class="${'nombre_cli'+cliente.id+' td-tabla no-seleccionable'}" th:id="${cliente.nombre}"></td>
				<td th:text="${cliente.apellido}" th:title="${cliente.apellido}" th:class="${'apellido_cli'+cliente.id+' td-tabla no-seleccionable'}" th:id="${cliente.apellido}"></td>
				<td th:text="${cliente.documento}" th:title="${cliente.documento}" th:class="${'documento_cli'+cliente.id+' td-tabla no-seleccionable'}" th:id="${cliente.documento}"></td>
				<td th:text="${cliente.telefono}" th:title="${cliente.telefono}" th:class="${'telefono_cli'+cliente.id}+' td-tabla no-seleccionable'" th:id="${cliente.telefono}"></td>
				<td th:text="${cliente.email}" th:itle="${cliente.email}" class="td-tabla no-seleccionable"> </td>
				<td th:if="${ #lists.size(sucursales) > 1 && cliente.sucursal != null}" th:text="${cliente.sucursal.nombre}" th:title="${cliente.sucursal.nombre}" class="td-tabla no-seleccionable"> </td>
				<td th:if="${ #lists.size(sucursales) > 1 && cliente.sucursal == null}" th:text="${''}" class="td-tabla no-seleccionable"> </td>
				<td style="display:none;" th:text="${cliente.observaciones}" th:title="${cliente.observaciones}" th:class="${'observaciones_cli'+cliente.id+' td-tabla no-seleccionable'}" th:id="${cliente.observaciones}"></td>
			</tr>
		</th:bock>
		
	</tbody>
</table>

<th:block th:if="${#lists.isEmpty(clientes)}">
	<div class="container m-t-2">
		<div class="row justify-content-center">
			<h5>No se encontró clientes.</h5>
		</div>
	</div>
</th:block>
