<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

<ul class="nav " >
	<li class="nav-item tam" >
		<div class="block" >
            <img class="circle img-responsive img-detail-ventas cursor-pointer"
			th:src="@{/images/favoritos.png}" onclick="Favoritos()">
			<h6 style="top:10px;font-size:13px;">       
				<a   class=" nav-link nav-link azulOscuro" th:href="@{/tpv/ventas/favoritos}">Favoritos</a>
  				</h6>
			</div>
	</li>
	<li class="nav-item tam" th:each="familia: ${familias}" >
		<div class="block" th:onclick="'seleccionarFamilia(' + ${familia.id} + ')'">
            <div th:if="${familia.imagen == null || #strings.length(familia.imagen) == 0}" class="A circle" style="cursor: pointer;"> </div>
			<img th:unless="${familia.imagen == null || #strings.length(familia.imagen) == 0}" class="A circle img-responsive img-detail-ventas cursor-pointer"
			th:src="@{'/tpv_images/familias/' + ${familia.imagen}}" >
			<h6 style="top:10px;font-size:13px;">       
				<a  class="A nav-link nav-link azulOscuro" href="#"  th:text="${familia.nombre}"></a>
 			</h6>
		</div>
	</li>
</ul>	

<th:block th:if="${#lists.isEmpty(familias)}">
	<div class="container m-t-2">
		<div class="row justify-content-center">
			<h5>No se encontró familias.</h5>
		</div>
	</div>
</th:block>