<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragmentsTPV :: head"></head>
<body class="nav-md" >
	<div class=" body" style="overflow: hidden;">
		<div >
			<th:block th:replace="fragments/fragmentsTPV :: mensajesNotificaciones"></th:block>
			<div th:replace="fragments/fragmentsTPV :: barraSuperior"></div>

			<!-- Page content -->
			<div class="menu-modulo" >
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12">									
						 <div class="text-center text-bold">
				            <ul class="nav fondoGris">
								<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/ventas}" style="border-bottom-color: #2fccae; border-bottom-style: solid;border-bottom-right-radius: 4px; padding-right: 30px;padding-left: 30px;" >Cliente</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/ventas/familia}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Familia</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/ventas/productos}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Productos</a>
							  	</li>
							  	<li class="nav-item " th:if="${ventaActiva != null}">
							    	<a class="nav-link" th:href="@{/tpv/ventas/pagos}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Pagos</a>
							  	</li>
							  	<li class="nav-item " th:if="${ventaActiva == null}" >
							    	<a  class="nav-link" href="#" style="color:#d4d6d6;border-bottom-color: #d4d6d6; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Pagos</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link" th:href="@{/tpv/ventas/pendientes}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Pendientes</a>
							  	</li>
							</ul>				
				        </div>
					</div>
				</div>
			</div>
			
			<div class="fondoGrisClaro p-b-2">
				<div class="container" style="max-width:100%">
					<div class="row justify-content-center row-global">
						<div class="contenido-modulo col-lg-9 col-lg-offset-0 col-md-8 col-md-offset-0 col-sm-8 col-sm-offset-0 col-xs-12 col-xs-offset-0">
							<div class="barra-superior-cliente row" style="width: 100%;margin: 0;margin-top: 10px;padding-left:10px;padding-right:10px;">
								<div class=" col-lg-7 col-md-7 col-sm-7 col-7 estilo-tarjeta">
									<div class="container">
										<div class="row" th:if="${#lists.contains(funcionalidadesPermisos, '61')}" style="padding-top: 10px;">
											<div class="col-6" >
												<div class="container">
													<div class="row" style="margin-left: 5px;">
														<div class="col-3">
															<span class="">Nombre:</span>
														</div>
														<div class="col-9" th:if="${clientesel!=true}" id="nombre_cliente">
															<span th:text="${clientesel.nombre+' '+clientesel.apellido}" class="selector"></span>
														</div>	
														<th:block th:if="${clientesel==true}">
															<div class="col-9"  id="nombre_cliente">
																<span class="selector"></span>
															</div>	
														</th:block>
													</div>
													<div class="row" style="margin-left: 5px;">
														<div class="col-3"  >
															<span>DNI:</span>
														</div>
														<div class="col-9" th:if="${clientesel!=true}" id="dni_cliente">
															<span th:text="${clientesel.documento}" class="selector"></span>
														</div>	
														<th:block th:if="${clientesel==true}">
															<div class="col-9" id="dni_cliente">
																<span class="selector"></span>
															</div>	
														</th:block>
													</div>
													<div class="row" style="margin-left: 5px;">
														<div class="col-3"  >
															<span>Teléfono:</span>
														</div>
														<div class="col-9" th:if="${clientesel!=true}" id="telefono_cliente">
															<span th:text="${clientesel.telefono}" class="selector"></span>
														</div>	
														<th:block th:if="${clientesel==true}">
															<div class="col-9" id="telefono_cliente">
																<span class="selector"></span>
															</div>	
														</th:block>
													</div>
												</div>
											</div>
											<div class="col-6">
												<div class="container">
													<div class="row">
														<div class="col-3">
															<span class="">Saldo:</span>
														</div>
														<div class="col-9" th:if="${clientesel!=true}" id="saldo_cliente">
															<span th:text="${''}" class="selector"></span>
														</div>	
														<th:block th:if="${clientesel==true}">
															<div class="col-9"  id="saldo_cliente">
																<span class="selector"></span>
															</div>	
														</th:block>
													</div>
													<div class="row">
														<div class="col-3">
															<span>Ult. Visita:</span>
														</div>
														<div class="col-9" th:if="${clientesel!=true}" id="ult_visita__cliente">
															<span th:text="${''}" class="selector"></span>
														</div>	
														<th:block th:if="${clientesel==true}">
															<div class="col-9" id="ult_visita_cliente">
																<span class="selector"></span>
															</div>	
														</th:block>
													</div>
													<div class="row">
														<div class="col-3"  >
															<span>Obs.:</span>
														</div>
														<div class="col-9" th:if="${clientesel!=true}" id="observaciones_cliente">
															
														</div>	
														<th:block th:if="${clientesel==true}">
															<div class="col-9" id="observaciones_cliente">
																
															</div>	
														</th:block>
													</div>
												</div>	
											</div>
										</div>
									</div>
									
									
								</div>
								<div class="col-lg-5 col-md-5 col-sm-5 col-5 estilo-tarjeta">
									<div class="col-md-12 col-sm-12 col-xs-6 ">
										 <div class="text-center text-bold">
								            <ul class="nav " style="flex-wrap: unset;font-weight: normal;">
												<li class="nav-item">
											    	<div class="nav-link opc-busc-nombre opc-busc-seleccionado cursor-pointer" >Nombre</div>
											  	</li>
											  	<li class="nav-item ">
											    	<div class="nav-link opc-busc-dni cursor-pointer">DNI</div>
											  	</li>
											  	<li class="nav-item ">
											    	<div class="nav-link opc-busc-telf cursor-pointer">Teléfono</div>
											  	</li>
											  	<li class="nav-item ">
											    	<div class="nav-link opc-busc-email cursor-pointer">Email</div>
											  	</li>
											</ul>				
							        	</div>
									</div>
									<div class="col-xs-12 " style="padding-left: 25px; padding-right:25px;">
										<input type="text" class="form-control borde-input-visible popOverinfo" placeholder="Buscar clientes" name="buscador" id="buscadorCliente"
										data-toggle="popover" data-placement="left" data-title="Buscar clientes" data-delay="400"
										data-content="Al hacer clic en una de las opciones, te lleva a ver su detalle." style="border-color: #7e92a7;border-radius: 20px;padding-top:5px;padding-bottom:5px;">
										<i class="fa fa-search pull-right lupa-buscador-tpv"></i>
										<input type="hidden" id="urlBuscadorCliente" value="/tpv/clientes/buscar/nombre/ajax/">		
									</div>
								</div>
							</div>
							<div class="row" style="width: 100%;margin: 0;margin-top: 5px; padding-left:10px;padding-right:10px;">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 listado-clientes estilo-tarjeta">
								
									<div class="tabla-clientes sustituible-ajax custom-overflow">
									
										<table id="tablaListarClientes" class="table table-bordered table-responsive table-hover tablesorter table-resizable">
											<thead>
												<tr >
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" >Nro. Cliente</th>
													<th class="td-tabla ord-cli tam-th " data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" ><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="name-down"></i><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="name-up"></i> Nombre</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" ><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="ap-down"></i><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="ap-up"></i> Apellido</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" ><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="dni-down"></i><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="dni-up"></i> DNI</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" ><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="tlf-down"></i><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="tlf-up"></i> Teléfono</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" ><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="email-down"></i><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="email-up"></i> Email</th>
													<th th:if="${ #lists.size(sucursales) > 1 }" class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" ><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="suc-down"></i><i class="fa fa-long-arrow-up arrow-false" aria-hidden="true" style="font-size: 10px;" id="suc-up"></i> Sucursal</th>
												</tr>
											</thead>
											
											<tbody th:if="${#lists.contains(funcionalidadesPermisos, '61')}" class="bloque-sustituible-ajax">
												<tr th:each="cliente: ${clientes}" th:id="${cliente.id}" th:onclick="'seleccionarClienteTpv(' + ${cliente.id} + ')'"  ondblClick="SeleccionarVenta();" class="item-sel" th:if="${clientesel==true}">
													<td th:text="${cliente.nro_cliente}" th:title="${cliente.nro_cliente}" class="td-tabla no-seleccionable" ></td>
													<td th:text="${cliente.nombre}" th:title="${cliente.nombre}" th:class="${'nombre_cli'+cliente.id+' td-tabla no-seleccionable'}" th:id="${cliente.nombre}"></td>
													<td th:text="${cliente.apellido}" th:title="${cliente.apellido}" th:class="${'apellido_cli'+cliente.id+' td-tabla no-seleccionable'}" th:id="${cliente.apellido}"></td>
													<td th:text="${cliente.documento}" th:title="${cliente.documento}" th:class="${'documento_cli'+cliente.id+' td-tabla no-seleccionable'}" th:id="${cliente.documento}"></td>
													<td th:text="${cliente.telefono}" th:title="${cliente.telefono}" th:class="${'telefono_cli'+cliente.id}+' td-tabla no-seleccionable'" th:id="${cliente.telefono}"></td>
													<td th:text="${cliente.email}" th:itle="${cliente.email}" class="td-tabla no-seleccionable"> </td>
													<td th:if="${ #lists.size(sucursales) > 1 && cliente.sucursal != null}" th:text="${cliente.sucursal.nombre}" th:title="${cliente.sucursal.nombre}" class="td-tabla no-seleccionable"> </td>
													<td th:if="${ #lists.size(sucursales) > 1 && cliente.sucursal == null}" th:text="${''}" class="td-tabla no-seleccionable"> </td>
													<td style="display:none" th:text="${cliente.observaciones}" th:title="${cliente.observaciones}" th:class="${'observaciones_cli'+cliente.id+' td-tabla no-seleccionable'}" th:id="${cliente.observaciones}"></td>
												</tr>
	
												<th:block th:if="${clientesel!=true}">
													<tr th:each="cliente: ${clientes}" th:id="${cliente.id}" th:onclick="'seleccionarClienteTpv(' + ${cliente.id} + ')'"  ondblClick="SeleccionarVenta();" class="item-sel" >
														<th:block th:if="${clientesel.id==cliente.id}">
															<input  class="selectme" th:value = "${cliente.id}" name="radioTable" checked=true  id="myForm" type="hidden" />
														</th:block>
														<td th:text="${cliente.nro_cliente}" th:title="${cliente.nro_cliente}" class="td-tabla no-seleccionable" ></td>
														<td th:text="${cliente.nombre}" th:title="${cliente.nombre}" th:class="${'nombre_cli'+cliente.id+' td-tabla no-seleccionable'}" th:id="${cliente.nombre}"></td>
														<td th:text="${cliente.apellido}" th:title="${cliente.apellido}" th:class="${'apellido_cli'+cliente.id+' td-tabla no-seleccionable'}" th:id="${cliente.apellido}"></td>
														<td th:text="${cliente.documento}" th:title="${cliente.documento}" th:class="${'documento_cli'+cliente.id+' td-tabla no-seleccionable'}" th:id="${cliente.documento}"></td>
														<td th:text="${cliente.telefono}" th:title="${cliente.telefono}" th:class="${'telefono_cli'+cliente.id}+' td-tabla no-seleccionable'" th:id="${cliente.telefono}"></td>
														<td th:text="${cliente.email}" th:itle="${cliente.email}" class="td-tabla no-seleccionable"> </td>
														<td th:if="${ #lists.size(sucursales) > 1 && cliente.sucursal != null}" th:text="${cliente.sucursal.nombre}" th:title="${cliente.sucursal.nombre}" class="td-tabla no-seleccionable"> </td>
														<td th:if="${ #lists.size(sucursales) > 1 && cliente.sucursal == null}" th:text="${''}" class="td-tabla no-seleccionable"> </td>
														<td style="display:none;" th:text="${cliente.observaciones}" th:title="${cliente.observaciones}" th:class="${'observaciones_cli'+cliente.id+' td-tabla no-seleccionable'}" th:id="${cliente.observaciones}"></td>
													</tr>
												</th:bock>
												
											</tbody>
										</table>
										
									</div>							
								</div>
							</div>
							<div class="row botones-clientes" style="width: 100%;margin: 0;margin-top: 5px; padding-left:10px;padding-right:10px;">
								<div class="col-12 estilo-tarjeta pull-right p-t-1 p-l-1 p-b-1 p-r-4" style="display:flex;">
									<div class="col-lg-6 col-md-3 col-sm-3">
									</div>
									<div class="col-lg-2 col-md-3 col-sm-3" style="margin-right: 10px;">
										<a th:if="${#lists.contains(funcionalidadesPermisos, '50')}" style="font-size:14px;font-weight: bold;" class="green-button btn btn-primary btn-block text-left gray-button" th:href="@{/tpv/ventas/crear}" >Nuevo<img class="right-0 pos-absolute m-r-10" width="20px" alt="nuevo" th:src="@{/images/iconos/oscuros/nuevo.png}"></a>
									</div>
									<div class="col-lg-2 col-md-3 col-sm-3"  style="margin-right: 10px;">
										<button th:if="${#lists.contains(funcionalidadesPermisos, '51')}" class="green-button btn btn-primary btn-block text-left gray-button" style="font-size:14px;font-weight: bold;"  onclick="editarSeleccionado('/tpv/ventas/');" >Editar<img class="right-0 pos-absolute m-r-10" width="20px" alt="editar" th:src="@{/images/iconos/oscuros/editar.png}"></button>
									</div>
									<div class="col-lg-2 col-md-3 col-sm-3">
										<button class="green-button btn btn-primary btn-block text-left gray-button" style="font-size:14px; font-weight: bold;" onclick="SeleccionarVenta();" >Seleccionar<img class="right-0 pos-absolute m-r-10" width="20px" alt="seleccionar" th:src="@{/images/iconos/oscuros/correcto.png}"></button>
									</div>
								</div>
							</div>
							
							<div th:replace="fragments/fragmentsTPV :: menuPrincipalInferior"></div>
							
						</div>
						<div class=" col-lg-3 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 p-r-0 p-b-2 espacio-reservado-calculadora">
							<!--/* Para simular el espacio que ocupa el panel derecho*/-->
						</div>
						<div th:replace="fragments/fragmentsTPV :: panelDerechoVentas">
						<div th:replace="fragments/fragmentsTPV :: modalSinSeleccionVenta">
						</div>
						
						
					</div>
				</div>
			</div>
		</div>

		<!-- Modal eliminar-->
		<div class="modal fade" id="ModalEliminar" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12" style="text-align:center">
		                    <h3>Eliminar cliente</h3>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="cont-recup-text" >
		                        <p style="text-align:center;">¿Usted está seguro de eliminar el cliente seleccionado?</p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row">
	                        	<div class="col-sm-5  col-sm-offset-1 col-xs-8" style="text-align:right">
	                                <button id="btn-eliminar" class="btn btn-success" onclick="eliminarSeleccionado('/tpv/clientes/');">
	                                    <i class="fa fa-btn fa-check"></i> Confirmar
	                                </button>
	                            </div>
	                            
	                            <div class="col-sm-5 col-xs-8">
	                                <button class="btn btn-danger" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal eliminar-->
		
		<!-- Modal cambio de cliente-->
		<div class="modal fade" id="ModalCambioCliente" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		            	<div class="row justify-content-center">
		                    <div class="col-xs-12" >
		                    <h3>Cambiar Cliente</h3>
		                    </div>
		                </div>
		                <br>
		                <div class="row justify-content-center">
		                    <div class="cont-recup-text" >
		                        <p style="text-align:center;">¿Usted está seguro de cambiar el cliente?</p>
		                    </div>
		                </div>
		                <br>
                    	<div class="row justify-content-center">
                        	<div class="m-l-3 m-r-3" >
                                <button id="btn-eliminar" class="btn btn-success" onclick="CambioCliente();">
                                    <i class="fa fa-btn fa-check"></i> Confirmar
                                </button>
                            </div>
                            <div class="m-l-3 m-r-3">
                                <button class="btn btn-danger" data-dismiss="modal">
                                    <i class="fa fa-btn fa-times"></i> Cancelar
                                </button>
                            </div>
                        </div>
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal cambio de cliente-->
		
		<!-- Modal de opcion no seleccionada-->
		<div class="modal fade" id="modalSinSeleccion" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12" style="text-align:center">
		                    <h3>Seleccionar un cliente</h3>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="cont-recup-text" >
		                        <p style="text-align:center;">Para continuar, debe seleccionar un cliente primero</p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row">
	                        	<div class="col-sm-8 col-sm-offset-1 col-xs-10" style="text-align:right">
	                                <button class="btn btn-danger m-l-10" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal de opcion no seleccionada-->
		
			<!-- Modal eliminar-->
		<div class="modal fade" id="ModalEliminarVenta" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12" style="text-align:center">
		                    <h3>Venta Activa</h3>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="cont-recup-text" th:if="${ventaActiva != null}">
		                        <p style="text-align:center;" th:text="'Tiene una venta activa (Ticket n°:'+${ventaActiva.id}+'), ¿desea eliminarla o conservarla?'"></p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row">
	                        	<div class="col-sm-5  col-sm-offset-1 col-xs-8" style="text-align:right">
	                                <button id="btn-eliminar" class="btn btn-success" onclick="eliminarVenta('/tpv/ventas/');">
	                                    <i class="fa fa-btn fa-check"></i> Eliminar
	                                </button>
	                            </div>
	                            
	                            <div class="col-sm-5 col-xs-8">
	                                <button class="btn btn-danger" onclick="EnviarSeleccionado();">
	                                    <i class="fa fa-btn fa-times"></i> Enviar a Pendientes
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal de opcion no seleccionada-->
		
	<!-- Modal de venta no seleccionada-->

		<div class="modal fade" id="modalSinSeleccionVenta" role="dialog" aria-hidden="true">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row justify-content-center" >
		                    <div class="col-xs-12" style="text-align:center">
		                    <h3>No hay venta creada</h3>
		                    </div>
		                </div>
		                <div class="row justify-content-center">
		                    <div class="cont-recup-text" >
		                        <p style="text-align:center;">Para continuar, debe seleccionar "Nueva Venta" para generar una venta</p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row">
	                        	<div class="col-sm-8 col-sm-offset-1 col-xs-10 m-l-15 m-t-2" style="text-align:center">
	                                <button class="btn btn-danger m-l-10" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Quitar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal de opcion no seleccionada-->
		<div class="modal fade" id="modalSinSeleccionClienteVenta" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row justify-content-center">
		                    <div class="col-xs-12" style="text-align:center">
		                    <h3>Seleccionar un cliente</h3>
		                    </div>
		                </div>
		                <div class="row justify-content-center">
		                    <div class="cont-recup-text" >
		                        <p style="text-align:center;">No ha seleccionado un cliente</p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row ">
	                        	<div class="col-sm-8 col-sm-offset-1 col-xs-10 m-l-15 m-t-2" style="text-align:center">
	                                <button class="btn btn-danger" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Quitar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal de opcion no seleccionada-->
		<div th:replace="fragments/fragmentsTPV :: modalRelogin"></div>
		<div th:replace="fragments/fragmentsTPV :: modalYaHayActualVacio"></div>
		<div th:replace="fragments/fragmentsTPV :: modalImprimir"></div>
		<div th:replace="fragments/fragmentsTPV :: modalReusarTicket"></div>
		<div th:replace="fragments/fragmentsTPV :: modalVendedores"></div>
		<div th:replace="fragments/fragmentsTPV :: modalAnulacionesServiciosOrPagos"></div>
		<div th:replace="fragments/fragmentsTPV :: modalObservacionesDeVenta"></div>
		<div th:replace="fragments/fragmentsTPV :: modalObservacionesDeCliente"></div>
		<div th:replace="fragments/fragmentsTPV :: modalNoVentaSeleccionadaDespuesDeFinalizada"></div>
		<div th:replace="fragments/fragmentsTPV :: modalEnviarTicketEmail"></div>
		<div th:replace="fragments/fragmentsTPV :: modalVentaConsumoInterno"></div>
	</div>
	<div th:replace="fragments/fragmentsTPV :: scripts"></div>

	</div>
	<script th:replace="tpv/clientes/autocompletarBuscador :: javascript"></script>
	
	<script type="text/javascript">

		var altoResumenVenta = $(".resumen-venta").height();
		$(".barra-superior-cliente").css("height", altoResumenVenta+"px");
	
		var altoMenuPrincipal = $(".menu-principal").height();
		var altoMenuModulo = $(".menu-modulo").height();
		var altoBarraSupCliente = $(".barra-superior-cliente").height();
		var altoMenuInferior = $(".menu-principal-inferior").height();
		var altoBotonesCliente = $(".botones-clientes").height();
		
		var altoListadoClientes = window.innerHeight - altoMenuPrincipal - altoMenuModulo - altoBarraSupCliente - altoBotonesCliente - altoMenuInferior - 40;
		$(".listado-clientes").css("height", altoListadoClientes+"px");
		
		var altoTablaClientes = altoListadoClientes - 15; 
		$(".tabla-clientes").css("height", altoTablaClientes+"px");
		
		var anchoBarraSuperiorCliente = $(".barra-superior-cliente").width() - 16;
		$(".menu-principal-inferior").width(anchoBarraSuperiorCliente);
		$(".menu-principal-inferior").css("margin-left", $(".barra-superior-cliente").css('padding-left'));
		
		$(window).resize(function(){
			var altoResumenVenta = $(".resumen-venta").height();
			$(".barra-superior-cliente").css("height", altoResumenVenta+"px");
			
			var altoMenuPrincipal = $(".menu-principal").height();
			var altoMenuModulo = $(".menu-modulo").height();
			var altoBarraSupCliente = $(".barra-superior-cliente").height();
			var altoMenuInferior = $(".menu-principal-inferior").height();
			var altoBotonesCliente = $(".botones-clientes").height();	
			
			var altoListadoClientes = window.innerHeight - altoMenuPrincipal - altoMenuModulo - altoBarraSupCliente - altoBotonesCliente - altoMenuInferior -43 ;
			$(".listado-clientes").css("height", altoListadoClientes+"px");
			
			var altoTablaClientes = altoListadoClientes - 15; 
			$(".tabla-clientes").css("height", altoTablaClientes+"px");
			
			var altoResumenVenta = $(".resumen-venta").height();
			$(".barraSuperiorCliente").css("height", altoResumenVenta+"px");
			
			var anchoBarraSuperiorCliente = $(".barra-superior-cliente").width() - 16;
			$(".menu-principal-inferior").width(anchoBarraSuperiorCliente);
			$(".menu-principal-inferior").css("margin-left", $(".barra-superior-cliente").css('padding-left'));
		});
		

		$( ".opc-busc-nombre" ).click(function() {
			$( ".opc-busc-seleccionado" ).removeClass("opc-busc-seleccionado");
			$( ".opc-busc-nombre" ).addClass("opc-busc-seleccionado");
			$( "#urlBuscadorCliente" ).val("/tpv/clientes/buscar/nombre/ajax/");
		});
		
		$( ".opc-busc-dni" ).click(function() {
			$( ".opc-busc-seleccionado" ).removeClass("opc-busc-seleccionado");
			$( ".opc-busc-dni" ).addClass("opc-busc-seleccionado");
			$( "#urlBuscadorCliente" ).val("/tpv/clientes/buscar/dni/ajax/");
		});
		
		$( ".opc-busc-telf" ).click(function() {
			$( ".opc-busc-seleccionado" ).removeClass("opc-busc-seleccionado");
			$( ".opc-busc-telf" ).addClass("opc-busc-seleccionado");
			$( "#urlBuscadorCliente" ).val("/tpv/clientes/buscar/telf/ajax/");
		});
		
		$( ".opc-busc-email" ).click(function() {
			$( ".opc-busc-seleccionado" ).removeClass("opc-busc-seleccionado");
			$( ".opc-busc-email" ).addClass("opc-busc-seleccionado");
			$( "#urlBuscadorCliente" ).val("/tpv/clientes/buscar/email/ajax/");
		});
		
		$('#buscadorCliente').on('keyup',function(){
			urlBuscadorCliente = $('#urlBuscadorCliente').val();
			value=$(this).val();
          	if (value === "") {
          	   value = "todos-clientes";
          	}
          	$.ajax({
		   		type : 'GET',
		   		url : urlBuscadorCliente +  value,
		   		success:function(data){
					$(".sustituible-ajax").html( data );
					$("#tablaListarClientes").tablesorter();
          		}

          	});
		});
			
		
	</script>
	<script type="text/javascript">

		$(document).ready(function() 
		    { 
		        $("#tablaListarClientes").tablesorter({
        			cssAsc: 'headerSortUp',
        			cssDesc: 'headerSortDown'
        		});
		    } 
		);
		
	</script>
	
	
</body>
</html>
