<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragmentsTPV :: head"></head>
<body class="nav-md" >
	<div class=" body" style="overflow: hidden;">
		<div >
			<th:block th:replace="fragments/fragmentsTPV :: mensajesNotificaciones"></th:block>
			<div th:replace="fragments/fragmentsTPV :: barraSuperior"></div>

			<!-- Page content -->
			<div class="menu-modulo" >
				<div class="row">
					<div class="col-lg-9 col-md-8 col-sm-7 col-7">									
						 <div class="text-center text-bold">
				            <ul class="nav fondoGris">
								<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/ventas}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px; padding-right: 30px;padding-left: 30px;" >Cliente</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/ventas/familia}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Familia</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/ventas/productos}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Productos</a>
							  	</li>
							  	<li class="nav-item " th:if="${ventaActiva != null}">
							    	<a class="nav-link" th:href="@{/tpv/ventas/pagos}" style="border-bottom-color: #2fccae; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Pagos</a>
							  	</li>
							  	<li class="nav-item " th:if="${ventaActiva == null}" >
							    	<a  class="nav-link" href="#" style="color:#d4d6d6;border-bottom-color: #d4d6d6; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Pagos</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link" th:href="@{/tpv/ventas/pendientes}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Pendientes</a>
							  	</li>
							</ul>				
				        </div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-5 col-5  fondoGris" >
						<input type="text" class="form-control borde-input-visible popOverinfo p-b-1 p-t-1 m-t-1"  placeholder="Buscar venta" name="buscadorVenta" id="buscadorVenta"
						data-toggle="popover" data-placement="left" data-title="Buscar " data-delay="400"
						data-content="Al hacer clic en una de las opciones, te lleva a ver el detalle de la venta" style="width:95%; border-color: #7e92a7;border-radius: 20px;">
						<i class="fa fa-search pull-right lupa-buscador-tpv"></i>
						<input type="hidden" id="urlBuscadorVenta" value="/tpv/ventas/buscar/ajax/">	
					</div>
				</div>
			</div>
			<div class="fondoGrisClaro p-b-2">
				<div class="container" style="max-width:100%">
					<div class="row justify-content-center row-global">
						<div class="contenido-modulo col-lg-9 col-lg-offset-0 col-md-8 col-md-offset-0 col-sm-8 col-sm-offset-0 col-xs-12 col-xs-offset-0">
							<div class="barra-superior-cliente row" style="width: 100%;margin: 0;margin-top: 10px;padding-left:10px;padding-right:10px;">
								<div class="col-lg-12 col-md-12 col-sm-12 col-12 panel-sup-venta" >
									<div class="col-lg-9 col-md-9 col-sm-9 col-9 p-l-1 p-r-3" style="padding-top: 2px; padding-bottom:5px;" th:if="${#lists.contains(funcionalidadesPermisos, '61')}" >
										<div class="row" style="margin-left: 5px;">
											<div class="col-12">
												<span th:if="${ventaActiva!=null and ventaActiva.cliente!=null}" th:text="${'Nombre del Cliente: ' + ventaActiva.cliente.nombre+' '+ ventaActiva.cliente.apellido}"></span>
												<span th:if="${ventaActiva==null}" th:text="${'Nombre de Cliente: ' }"></span>
											</div>
										</div>
										<div class="row" style="margin-left: 5px;">
											<div class="col-12" >
												<span th:if="${ventaActiva!=null and ventaActiva.cliente!=null}" th:text="${'DNI: ' + ventaActiva.cliente.documento}"></span>
												<span th:if="${ventaActiva==null}" th:text="${'DNI: ' }"></span>
											</div>
										</div>
										<div th:if="${ventaActiva!=null and ventaActiva.cliente!=null}" class="row" style="margin-left: 5px;">
											<div class="col-12" id="observaciones_cliente">
												<p class="text-observaciones-clientes-ventas selector" th:text="${'Obs.: '+ventaActiva.cliente.observaciones}" ></p><img id="img-observaciones-cliente" onclick="abrirModalObservacionesCliente()" alt="observaciones cliente" src="/images/iconos/oscuros/lapiz.png" width="16" height="18" style="cursor:pointer;margin-left: 4px;">
											</div>
											<input type="hidden" id="aux-id-cliente-observaciones" th:value="${ventaActiva.cliente.id}">
											<input type="hidden" id="aux-observaciones-cliente-observaciones" th:value="${ventaActiva.cliente.observaciones}">
										</div>
										<div class="row" style="margin-left: 5px;">
											<div class="col-12" >
												<span th:if="${ventaActiva!=null}" th:text="${'N° Venta: ' + ventaActiva.numero_venta}"></span>
												<span th:if="${ventaActiva==null}" th:text="${'N° Venta: ' }"></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-3" style="padding:10px;" th:if="${#lists.contains(funcionalidadesPermisos, '61')}" >
										<div th:if="${ventaActiva == null || (ventaActiva != null && ventaActiva.cliente == null) }" class="row" class="ticket-pago">
											<div class="col-sm-12 col-xs-12" style="height:55px;">
												<span style="line-height: 50px;">Ficha Cliente</span>
											</div>
										</div>
										<div th:if="${ventaActiva != null && ventaActiva.cliente != null }" class="row" class="ticket-pago ficha-cliente">
											<div class="col-sm-12 col-xs-12" style="height:55px;">
												<span style="line-height: 50px;">Ficha Cliente</span>
											</div>
										</div>
									</div>	
								</div>
							</div>
							<div class="div-formas-pago row" style="width: 100%;margin: 0;margin-top: 5px; padding-left:10px;padding-right:10px;">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right estilo-tarjeta-sin-relleno" style="display:flex; padding-top: 5px;">
									<form id="seleccionarFormaPagoForm" th:action="@{/tpv/ventas/pagar/procesar}"  method="post" style="width:98%;" autocomplete="off">
									
										<div class="row justify-content-center">
											<div  class="col-lg-10 col-md-9 col-sm-12 col-12" style="color: #797676;padding-left: 20px;">
												 <div class="text-center text-bold">
												 	<ul class="nav" th:if="${formasPago!=null}">
											            <th:block th:each="formaPago: ${formasPago}">
										            		<div th:id="${formaPago.id}" class="opc-forma-pago m-r-1 m-b-1">
																<li th:class="${'nav-item p-t-10 p-b-10 pago-option pago-option-'+formaPago.id}" th:if="${formaPago.habilitar == true}" >
																	<span th:text="${formaPago.nombre}"></span> 
															  	</li>
														  	</div>
										            	</th:block>	
									            	</ul>
										        </div>
											</div>
											<div  class="col-lg-2 col-md-3 col-sm-4 col-5" style="padding-left:5px;">
												<div>
													<div class="error-monto-pago" data-toggle="popover" data-placement="top" data-content="."></div>
													<div class="form-group row" style="margin:0;">
														<label class="col-sm-5 col-form-label txt-cambio">Recibido:</label>
														<div class="col-sm-7">
															<input th:if="${(ventaActiva!=null && ventaActiva.estado!='Finalizada' && ventaActiva.saldo != 0 && not #lists.isEmpty(ventaActiva.servicios)  )}" th:value="${#numbers.formatDecimal(ventaActiva.saldo, 1, 2)}" type="text"  class="form-control input-pago" id="montoPago" name="montoPago" title="Monto a cobrar" placeholder="Recibido" style="padding-left:5px;padding-right:5px;width: 96%;margin-left:4%;">
															<input th:if="${ventaActiva==null || (ventaActiva!=null && ventaActiva.estado=='Finalizada') || (ventaActiva!=null && ventaActiva.estado!='Finalizada' && ventaActiva.saldo == 0 && not #lists.isEmpty(ventaActiva.servicios)  ) || (ventaActiva!=null && ventaActiva.estado!='Finalizada' && ventaActiva.saldo == 0 && #lists.isEmpty(ventaActiva.servicios)  )}" disabled type="text" class="form-control input-pago" id="montoPago" name="montoPago" title="Monto a cobrar" placeholder="Monto a cobrar" style="padding-left:5px;padding-right:5px;width: 96%;margin-left:4%;">
														</div>
														
													</div>
													<div class="form-group row" style="margin:0;">
														<label class="col-sm-5 col-form-label txt-cambio">Cambio:</label>
														<div class="col-sm-7">
															<input  id="txt-cambio-monto" value="0,00" type="text" disabled class="form-control input-pago" title="Monto del cambio" style="padding-left:5px;padding-right:5px;width: 96%;margin-left:4%;">
														</div>
													</div>
													<input type="hidden" id="vendedorPago" name="vendedorPago">
												</div>
												
												<div th:if="${(ventaActiva!=null && ventaActiva.estado!='Finalizada' && ventaActiva.saldo != 0 && not #lists.isEmpty(ventaActiva.servicios)  )}" th:value="${#numbers.formatDecimal(ventaActiva.saldo, 1, 2)}" class="permitido-pago-normal" id="flag-procesar-pago" ></div>
												<div th:if="${(ventaActiva!=null && ventaActiva.estado!='Finalizada' && ventaActiva.saldo == 0 && not #lists.isEmpty(ventaActiva.servicios)  )}" th:value="${#numbers.formatDecimal(ventaActiva.saldo, 1, 2)}" class="permitido-pago-cero" id="flag-procesar-pago" ></div>
											</div>
											<div  class="col-lg-2 col-md-4 col-sm-4 col-5 p-l-1">
												<input type="hidden" id="formaPagoSeleccionada" name="formaPagoSeleccionada"/>
												<input id="monto-saldo" th:if="${(ventaActiva!=null && ventaActiva.estado!='Finalizada' && ventaActiva.saldo != 0 && not #lists.isEmpty(ventaActiva.servicios)  )}" th:value="${#numbers.formatDecimal(ventaActiva.saldo, 1, 2)}" th:value="${#numbers.formatDecimal(ventaActiva.saldo, 1, 2)}" type="hidden" th:value="${#numbers.formatDecimal(ventaActiva.saldo, 1, 2)}" />
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="row" style="width: 100%;margin: 0;margin-top: 5px;padding-left:10px;padding-right:10px;">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 listado-servicios estilo-tarjeta">
									<div class="tabla-servicios overflow-auto">
										<table id="tabla-servicios-venta" class="table table-bordered table-responsive table-hover table-resizable tablesorter">
											<thead>
												<tr>
													<th class="td-tabla ord-cli tam-th-pag" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar">Empleado</th>

													<th class="td-tabla ord-cli tam-th-pag" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" style="width: 14%;"><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="producto-down"></i><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="producto-up"></i> Producto/Servicio</th>
													
													<th class="td-tabla ord-cli tam-th-pag" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="precio-down"></i><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="precio-up"></i> Precio</th>
													
													<th class="td-tabla ord-cli tam-th-pag" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="iva-down"></i><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="iva-up"></i> IVA</th>
													
													<th class="td-tabla ord-cli tam-th-pag" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="precio-iva-down"></i><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="precio-iva-up"></i> PVP</th>
													
													<th class="td-tabla ord-cli tam-th-pag" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="desc-monto-down"></i><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="desc-monto-up"></i> Desc. €</th>
													
													<th class="td-tabla ord-cli tam-th-pag" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="desc-porcen-down"></i><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="desc-porcen-up"></i> Desc. %</th>
													
													<th class="td-tabla ord-cli tam-th-pag" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="unidades-down"></i><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="unidades-up"></i>Uds.</th>
													
													<th class="td-tabla ord-cli tam-th-pag" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="pvp-down"></i><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="pvp-up"></i> Precio Total</th>
												</tr>
											</thead>
											
											<tbody th:if="${#lists.contains(funcionalidadesPermisos, '61')}" >
												<th:block th:if="${ventaActiva != null}">
													<th:block th:each="servicios: ${ventaActiva.servicios}"  >
														<tr th:if="${servicios.tipo_transaccion == 'Venta'}" th:id="${servicios.id}" th:class="${'item-sel item-'+servicios.id}" class="cursor-pointer" th:onclick="${'marcarItemDeServicioEnPagosModuloVentas('+ servicios.id  +')'}">
															<td th:text="${servicios.empleado.nombre+' '+servicios.empleado.apellido}" th:title="${servicios.empleado.nombre+' '+servicios.empleado.apellido}" class="td-tabla td-tabla-text-oculto" style="width:13%;"></td>
															<td th:text="${servicios.articulo_nombre}" th:title="${servicios.articulo_nombre}" class="td-tabla td-tabla-text-oculto" style="width:25%;"></td>
															<td th:text="${#numbers.formatDecimal(servicios.precio, 1, 2) + ' €'}" th:title="${#numbers.formatDecimal(servicios.precio, 1, 2) + ' €'}" class="td-tabla" style="width:10%;"></td>
															<td th:text="${#numbers.formatDecimal(servicios.tipo_iva.valor, 1, 2) + '%'}" th:title="${#numbers.formatDecimal(servicios.tipo_iva.valor, 1, 2) + '%'}" class="td-tabla" style="width:7%;"></td>
															<td th:text="${#numbers.formatDecimal(servicios.pvp, 1, 2) + ' €'}" th:title="${#numbers.formatDecimal(servicios.pvp, 1, 2) + ' €'}" class="td-tabla" style="width:10%;"></td>
															
															<td th:if="${servicios.descuento_monto != null && servicios.descuento_monto != 0 && servicios.unidades != null && servicios.unidades != 0}" 
																th:text="${#numbers.formatDecimal(servicios.descuento_monto / servicios.unidades, 1, 2) + ' €'}" th:title="${#numbers.formatDecimal(servicios.descuento_monto / servicios.unidades, 1, 2) + ' €'}" class="td-tabla" style="width:10%;"></td>
															<td th:unless="${servicios.descuento_monto != null && servicios.descuento_monto != 0 && servicios.unidades != null && servicios.unidades != 0}"
																th:text="${'0,00' + ' €'}" th:title="${'0,00' + ' €'}" class="td-tabla" style="width:10%;"></td>
															
															<td th:if="${servicios.descuento_porcentaje != null}" th:text="${#numbers.formatDecimal(servicios.descuento_porcentaje, 1, 2) + ' %'}" th:title="${#numbers.formatDecimal(servicios.descuento_porcentaje, 1, 2) + ' %'}" class="td-tabla" style="width:7%;"></td>
															<td th:unless="${servicios.descuento_porcentaje != null}" th:text="${'0' + ' %'}" th:title="${'0' + ' %'}" class="td-tabla" style="width:7%;"></td>
															
															<td th:text="${servicios.unidades}" th:title="${servicios.unidades}" class="td-tabla" style="width:5%;"></td>
															<td th:text="${#numbers.formatDecimal(servicios.total, 1, 2) + ' €'}" th:title="${#numbers.formatDecimal(servicios.total, 1, 2) + ' €'}" class="td-tabla" style="width:10%;"></td>
														</tr>
													</th:block>
												</th:block>
	
											</tbody>
										</table>
									</div>
									<div class="container" style="max-width:100%;">
										<div class="row total-pagar p-l-1 p-r-1" >
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-l-2 p-r-2" style="border-top: 1px solid #7e92a7; padding-top:6px;" >
												<th:block th:if="${ventaActiva != null}">
													<span th:text="${'Total: '+#numbers.formatDecimal(ventaActiva.total, 1, 2)}" class="montoTotal">0.00</span><span th:if="${empresa.moneda != null}" th:text="${' '+empresa.moneda.simbolo}"></span><span th:if="${empresa.moneda == null}" th:text="' ' + €"></span>
												</th:block>
												<th:block th:if="${ventaActiva == null}">
													<span class="montoTotal">0.00</span><span th:if="${empresa.moneda != null}" th:text="${' '+empresa.moneda.simbolo}"></span><span th:if="${empresa.moneda == null}" th:text="' ' + €"></span>
												</th:block>
											</div>
										</div>	
									</div>
								</div>
							</div>
							<div class="row botones-pagos" style="width: 100%;margin: 0;margin-top: 5px;padding-left:10px;padding-right:10px;">
								<div class="col-12 estilo-tarjeta pull-right p-t-1 p-l-1 p-b-1 p-r-3" style="display:flex;">
									<div class="col-lg-6 col-md-0 col-sm-0">
									</div>
									<div class="col-lg-2 col-md-3 col-sm-3"  style="margin-right: 10px;">
										<th:block th:if="${ventaActiva!=null && ventaActiva.estado=='Finalizada'}">
											<button th:if="${#lists.contains(funcionalidadesPermisos, '51')}" data-toggle="modal" data-target="#modalDevolucionVenta" onclick="crearDevolucion()" class="green-button btn btn-primary btn-block text-left gray-button" style="font-size:14px; font-weight: bold;" >Devolución<img class="right-0 pos-absolute m-r-10" width="20px" alt="devolución" th:src="@{/images/iconos/oscuros/editar.png}"></button>
										</th:block>
										<th:block th:unless="${ventaActiva!=null && ventaActiva.estado=='Finalizada'}">
											<button th:if="${#lists.contains(funcionalidadesPermisos, '51')}" onclick="devolucionNoPosible()" class="green-button btn btn-primary btn-block text-left gray-button" style="font-size:14px; font-weight: bold;">Devolución<img class="right-0 pos-absolute m-r-10" width="20px" alt="devolución" th:src="@{/images/iconos/oscuros/editar.png}"></button>
										</th:block>
									</div>
									<div class="col-lg-2 col-md-3 col-sm-3"  style="margin-right: 10px;">
										<a th:if="${#lists.contains(funcionalidadesPermisos, '51')}" data-toggle="modal" data-target="#modalOpcionVale" class="green-button btn btn-primary btn-block text-left gray-button" style="font-size:14px; font-weight: bold;" href="#"  >Vale<img class="right-0 pos-absolute m-r-10" width="20px" alt="vale" th:src="@{/images/iconos/oscuros/editar.png}"></a>
									</div>
									<div class="col-lg-2 col-md-3 col-sm-3 div-boton-imprimir-vale"  style="margin-right: 10px;">
										<a th:if="${#lists.contains(funcionalidadesPermisos, '51')}" class="green-button btn btn-primary btn-block text-left gray-button" style="font-size:14px; font-weight: bold; background-color:#e9ecef;" >Imprimir Vale<img class="right-0 pos-absolute m-r-10" width="20px" alt="vale" th:src="@{/images/iconos/oscuros/editar.png}"></a>
									</div>
									<div th:if="${true == false}" class="col-lg-2 col-md-3 col-sm-3"  style="margin-right: 10px;">
										<a th:if="${#lists.contains(funcionalidadesPermisos, '51')}" class="green-button btn btn-primary btn-block text-left gray-button" style="font-size:14px; font-weight: bold;" href="#" >Factura<img class="right-0 pos-absolute m-r-10" width="20px" alt="factura" th:src="@{/images/iconos/oscuros/editar.png}"></a>
									</div>
								</div>
							</div>
							
							
							<input type="hidden"  id="item-servicio-seleccionado" name="item-servicio-seleccionado" ></input>
							
							<div th:replace="fragments/fragmentsTPV :: menuPrincipalInferior"></div>
							
						</div>
						<div class=" col-lg-3 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 p-r-0 p-b-2 espacio-reservado-calculadora">
							<!--/* Para simular el espacio que ocupa el panel derecho */-->
						</div>
						<div th:replace="fragments/fragmentsTPV :: panelDerechoVentas">
								
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Ficha del Cliente-->
		<div class="modal fade" id="ModalDetalleCliente" role="dialog">
		    <div class="modal-dialog modal-lg">
		        <!-- Modal content-->
		        <div id="contenidoModalDetalleCliente" class="modal-content overflow-auto">
		            <div class="modal-body">
		                <div th:if="${ventaActiva!=null && ventaActiva.cliente!=null}" class="container">
							<div class="row p-l-3 p-r-3 p-t-2 p-b-2">
								<div class="title_left">
									<h3 style="color:#11437e;">Ficha del cliente</h3>
								</div>
								<div class="container p-l-0 p-r-0">
									<div class="row m-l-0 m-r-0 m-t-1">
										<div class="col-12">
											<div class="p-b-1">
												<h4 th:text="${ventaActiva.cliente.nombre} + ' ' + ${ventaActiva.cliente.apellido}" class="tit-view-gene" style="color:#11437e;"></h4>
											</div>
		
											<div class="row justify-content-center">
												<div class="col-lg-5 col-md-4 col-sm-4 col-8">
													 <img th:if="${ventaActiva.cliente.imagen == null || #strings.length(ventaActiva.cliente.imagen) == 0 }" id="image"
														class="img-responsive img-detail-user"
														th:src="@{/images/imagenNoDisponible.png}"
														style="height: auto; border-radius: 11px;">
													<img th:unless="${ventaActiva.cliente.imagen == null || #strings.length(ventaActiva.cliente.imagen) == 0 }" id="image"
														class="img-responsive img-detail-user"
														th:src="@{'/tpv_images/clientes/' + ${ventaActiva.cliente.imagen}}"
														style="height: auto; border-radius: 11px;">		
												</div>
		
												<div class="col-lg-7 col-md-8 col-sm-8 col-12 p-l-2 p-r-2" style="font-size: 15px;">
													<div class="container">
														<div class="row">
															<div class="col-sm-4 col-4">
																<span class="">Nro Cliente:</span>
															</div>
															<div class="col-sm-8 col-8">
																<span id="nroSocioCliente" th:text="${ventaActiva.cliente.nro_cliente}"></span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4 col-4">
																<span class="">Nombre:</span>
															</div>
															<div class="col-sm-8 col-8">
																<span th:text="${ventaActiva.cliente.nombre}"></span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4 col-4">
																<span class="">Apellido:</span>
															</div>
															<div class="col-sm-8 col-8">
																<span th:text="${ventaActiva.cliente.apellido}"></span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4 col-4">
																<span class="">Documento:</span>
															</div>
															<div class="col-sm-8 col-8">
																<span th:if="${ventaActiva.cliente.tipo_documento} != null" th:text="${ventaActiva.cliente.tipo_documento.nombre}"></span>
																<span> - </span>
																<span th:if="${ventaActiva.cliente.documento} != null" th:text="${ventaActiva.cliente.documento}"></span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4 col-4">
																<span class="">Email:</span>
															</div>
															<div class="col-sm-8 col-8">
																<span th:text="${ventaActiva.cliente.email}"></span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4 col-4">
																<span class="">Teléfono:</span>
															</div>
															<div class="col-sm-8 col-8">
																<span th:text="${ventaActiva.cliente.telefono}"></span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4 col-4">
																<span class="">Teléfono Alternativo:</span>
															</div>
															<div class="col-sm-8 col-8">
																<span th:text="${ventaActiva.cliente.telefono2}"></span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4 col-4">
																<span class="">Sexo:</span>
															</div>
															<div class="col-sm-8 col-8">
																<span th:if="${ventaActiva.cliente.tipo_sexo} != null" th:text="${ventaActiva.cliente.tipo_sexo.nombre}"></span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4 col-4">
																<span class="">F. Nacimiento:</span>
															</div>
															<div class="col-sm-8 col-8">
																<span th:if="${ventaActiva.cliente.fecha_nacimiento} != null" th:text="${#dates.format(ventaActiva.cliente.fecha_nacimiento, 'dd/MM/yyyy')}"></span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4 col-4">
																<span class="">Dirección:</span>
															</div>
															<div class="col-sm-8 col-8">
																<span th:if="${ventaActiva.cliente.direccion} != null" th:text="${ventaActiva.cliente.direccion}"></span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4 col-4">
																<span class="">País:</span>
															</div>
															<div class="col-sm-8 col-8">
																<span th:if="${ventaActiva.cliente.pais} != null" th:text="${ventaActiva.cliente.pais.nombre}"></span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4 col-4">
																<span class="">Provincia:</span>
															</div>
															<div class="col-sm-8 col-8">
																<span th:if="${ventaActiva.cliente.provincia} != null" th:text="${ventaActiva.cliente.provincia.nombre}"></span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4 col-4">
																<span class="">Población:</span>
															</div>
															<div class="col-sm-8 col-8">
																<span th:if="${ventaActiva.cliente.poblacion} != null" th:text="${ventaActiva.cliente.poblacion.nombre}"></span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4 col-4">
																<span class="">Código postal:</span>
															</div>
															<div class="col-sm-8 col-8">
																<span th:if="${ventaActiva.cliente.cpostal} != null" th:text="${ventaActiva.cliente.cpostal}"></span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4 col-4">
																<span class="">Obs.:</span>
															</div>
															<div class="col-sm-8 col-8">
																<span id="ficha-cliente-observaciones" th:if="${ventaActiva.cliente.observaciones} != null" th:text="${ventaActiva.cliente.observaciones}"></span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4 col-4">
																<span class="">Descuento:</span>
															</div>
															<div class="col-sm-8 col-8">
																<span th:if="${ventaActiva.cliente.descuento} != null" th:text="${#numbers.formatDecimal(ventaActiva.cliente.descuento, 1, 0)} +'%'"></span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4 col-4">
																<span class="">Últ. Mod.:</span>
															</div>
															<div class="col-sm-8 col-8">
																<span th:if="${ventaActiva.cliente.fecha_modificacion} != null" th:text="${#dates.format(ventaActiva.cliente.fecha_modificacion,'dd/MM/YYYY HH:mm')}"></span>
															</div>
														</div>
													</div>
													
												</div>								
											</div>
										</div>
									</div>
									<br>
									<div class="row justify-content-center">
			                            <div class="m-l-3 m-r-3">
			                                <button class="btn btn-success" data-dismiss="modal">
			                                    <i class="fa fa-btn fa-check"></i> Aceptar
			                                </button>
			                            </div>
			                        </div>
								</div>
								
							</div>
						</div>
		                
		            </div>
		        </div>  
		    </div>
		</div>

		<!-- Modal Devolucion de Venta-->
		<div class="modal fade" id="modalDevolucionVenta" role="dialog">
		    <div class="modal-dialog modal-devolucion">
			    <!-- Modal content-->
			    <div class="modal-content overflow-auto">
			    	<div id="headerModalDevolucionVenta" class="modal-header justify-content-center" th:if="${ventaActiva != null}">
			    		<h5 th:text="'N° Venta: ' + ${ventaActiva.tipo} + ${ventaActiva.id_corto_ticket}" style="color:#11437e;"></h5>
			    	</div>
			        <div id="bodyModalDevolucionVenta" class="modal-body" style="height:380px;">
			            
			        </div>
			        <div id="footerModalDevolucionVenta" class="modal-footer">
			        	<div class="container">
			        		<div class="row">
			        			<div class="col-6">
			        				<button onclick="quieroDevolverTodo()" class="green-button btn btn-primary gray-button" style="min-width:120px;">
										Devolver todo
									</button>
									<button onclick="disponibleDevolverTodo()" class="green-button btn btn-primary text-left gray-button" style="min-width:120px;">
										Recuperar todo
									</button>
			        			</div>
			        			<div class="col-6" style="text-align:right;">
			        				<button id="btn-confirmacion-devolucion" class="btn btn-success" onclick="mostrarConfirmacionDevolucion()" disabled>
										<i class="fa fa-btn fa-check"></i> Confirmar
									</button>
									<button class="btn btn-danger" data-dismiss="modal">
										<i class="fa fa-btn fa-times"></i> Cancelar
									</button>
			        			</div>
			        		</div>
			        	</div>
			        </div>
			    </div>  
			</div>
		</div>
		
		<!-- Modal Confirmacion de Devolucion-->
		<div class="modal fade" id="modalConfirmacionDevolucionVenta" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row justify-content-center">
		                    <div class="col-xs-12" >
		                    <h3>Confirmar Devolución</h3>
		                    </div>
		                </div>
		                <br>
		                <div class="row justify-content-center">
		                    <div class="cont-recup-text" >
		                        <p style="text-align:center;">¿Está usted seguro de realizar la devolución?
		                    </div>
		                </div>
		                <br>
                    	<div class="row justify-content-center">
                        	<div class="m-l-3 m-r-3" >
                                <a href="/tpv/ventas/devolucion/procesar" class="btn btn-success">
                                    <i class="fa fa-btn fa-check"></i> Confirmar
                                </a>
                            </div>
                            <div class="m-l-3 m-r-3">
                                <button class="btn btn-danger" data-dismiss="modal">
                                    <i class="fa fa-btn fa-times"></i> Cancelar
                                </button>
                            </div>
                        </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		
		<!-- Modal cantidad de devolucion-->
		<div class="modal fade" id="modalCantidadDevolucion" role="dialog">
		    <div class="modal-dialog modal-sm modal-cantidad-devolucion">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row justify-content-center">
		                    <div class="col-12" style="text-align:center;" >
		                    	<h5>Cantidad a Devolver/Recuperar</h5>
		                    </div>
		                </div>
		                <br>
		                <div class="container">
		                	<div class="row justify-content-center">
								 <div class="col-8">
										<input type="number" min="1" id="cantidad-devolver" name="cantidad-devolver" class="form-control borde-input-visible" style="text-align:center;"></input> 
										<small class="form-text text-danger" id="error-cantidad-devolver" ></small>
								 </div>
			                </div>
			                <br>
			                <div class="row justify-content-center">
	                        	<div class="m-l-3 m-r-3" >
	                                <button onclick="procesarUnidadesADevolver()" class="btn btn-success">
	                                    <i class="fa fa-btn fa-check"></i> Aceptar
	                                </button>
	                            </div>
	                            <div class="m-l-3 m-r-3">
	                                <button class="btn btn-danger" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		                </div>
		            </div>
		        </div>  
		    </div>
		</div>
		
		<!-- Modal para seleccionar el tipo de acción que se quieren hacer con un vale-->
		<div class="modal fade" id="modalOpcionVale" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row justify-content-center">
		                    <div class="col-12" style="text-align:center;" >
		                    	<h5>Vale</h5>
		                    </div>
		                </div>
		                <br>
		                <div class="container">
		                	<div class="row justify-content-center">
	                        	<div class="m-l-1 m-r-1" >
	                                <button class="green-button btn btn-primary btn-block text-left gray-button" style="font-weight: bold; padding: 6px;" onclick="abrirModalIngresarMontoVale()">
	                                    <img width="20px" alt="vale" th:src="@{/images/iconos/oscuros/editar.png}"> Generar Vale
	                                </button>
	                            </div>
	                            <div class="m-l-1 m-r-1">
	                                <button class="green-button btn btn-primary btn-block text-left gray-button" style="font-weight: bold; padding: 6px;" onclick="abrirModalIngresarCodigoVale()">
	                                    <img width="20px" alt="vale" th:src="@{/images/iconos/oscuros/editar.png}"> Ingresar Vale
	                                </button>
	                            </div>
	                            <div class="m-l-1 m-r-1">
	                            	<button class="btn btn-danger" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		                </div>
		            </div>
		        </div>  
		    </div>
		</div>
		
		<!-- Modal Ingresar código Vale-->
		<div class="modal fade" id="modalIngresarMontoVale" role="dialog">
		    <div class="modal-dialog modal-sm ">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row justify-content-center">
		                    <div class="col-12" style="text-align:center;" >
		                    	<h5>Ingresar importe del Vale </h5>
		                    </div>
		                </div>
		                <br>
		                <div class="container">
		                	<form id="form-monto-vale" th:action="@{/tpv/ventas/vale/generar}"  method="post" enctype="multipart/form-data" class="form-label-left" >
			                	<div class="row justify-content-center">
									 <div class="col-8">
											<input th:if="${ventaActiva!=null && ventaActiva.total >= 0}" type="number" min="0.01" step="0.01" id="monto-vale" name="monto-vale" th:value="${#numbers.formatDecimal(ventaActiva.saldo, 0, 'COMMA', 2, 'POINT')} " class="form-control borde-input-visible" style="text-align:center;" required></input> 
											<input th:if="${ventaActiva!=null && ventaActiva.total < 0}" type="number" min="0.01" step="0.01" id="monto-vale" name="monto-vale" th:value="${#numbers.formatDecimal(ventaActiva.saldo * (-1) , 0, 'COMMA', 2, 'POINT')} " class="form-control borde-input-visible" style="text-align:center;" required></input>
											<input th:if="${ventaActiva==null}" type="number" min="0.01" step="0.01" id="monto-vale" name="monto-vale" th:value="${'0.00'} " class="form-control borde-input-visible" style="text-align:center;" required></input>
											<small class="form-text text-danger" id="error-monto-vale" ></small>
											<input id="id-vendedor-generar-vale" name="id-vendedor-generar-vale" type="text" required style="display:none;"></input>
									 </div>
				                </div>
				                <br>
				                <div class="row justify-content-center">
		                        	<div class="m-l-3 m-r-3" >
		                                <a id="btn-form-monto-vale" class="btn btn-success" style="color:white;">
		                                    <i class="fa fa-btn fa-check"></i> Aceptar
		                                </a>
		                            </div>
		                            <div class="m-l-3 m-r-3">
		                                <a class="btn btn-danger" data-dismiss="modal" style="color:white;">
		                                    <i class="fa fa-btn fa-times"></i> Cancelar
		                                </a>
		                            </div>
		                        </div>
	                        </form>
		                </div>
		            </div>
		        </div>  
		    </div>
		</div>
		
		<!-- Modal Ingresar código Vale-->
		<div class="modal fade" id="modalIngresarCodigoVale" role="dialog">
		    <div class="modal-dialog modal-sm ">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row justify-content-center">
		                    <div class="col-12" style="text-align:center;" >
		                    	<h5>Ingresar código del Vale</h5>
		                    </div>
		                </div>
		                <br>
		                <div class="container">
		                	<form id="form-id-vale" th:action="@{/tpv/ventas/vale/procesar}"  method="post" enctype="multipart/form-data" class="form-label-left">
			                	<div class="row justify-content-center">
									 <div class="col-8">
											<input type="text" id="id-vale" name="id-vale" class="form-control borde-input-visible" style="text-align:center;" required></input> 
											<small class="form-text text-danger" id="error-id-vale" ></small>
									 		<input id="id-vendedor-ingresar-vale" name="id-vendedor-ingresar-vale" type="text" required style="display:none"></input>
									 </div>
				                </div>
				                <br>
				                <div class="row justify-content-center">
		                            <div class="m-l-3 m-r-3" >
		                                <a id="btn-form-id-vale" class="btn btn-success" style="color:white;">
		                                    <i class="fa fa-btn fa-check"></i> Aceptar
		                                </a>
		                            </div>
		                            <div class="m-l-3 m-r-3">
		                                <a class="btn btn-danger" data-dismiss="modal" style="color:white;">
		                                    <i class="fa fa-btn fa-times"></i> Cancelar
		                                </a>
		                            </div>
		                        </div>
	                        </form>
		                </div>
		            </div>
		        </div>  
		    </div>
		</div>

		<!-- Modal De Vendedores utilizado al generar o procesar un vale-->
		<div id="modalVendedoresVale" class="modal fade m-t-2" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" style="margin: 0 auto;">Vendedor</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row p-l-3">
							<input type="hidden" id="origenModalVendedores" value="">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<ul class="nav">
									<li class='nav-item tam' th:each="empleado: ${empleados}">
										<div class='block'>
											<div th:if="${empleado.foto == null || #strings.length(empleado.foto) == 0}" class='circle'
											style='cursor: pointer;' th:onclick="'seleccionarVendedorEnVale(' + ${empleado.id} + ')'"></div>
											<img th:unless="${empleado.foto == null || #strings.length(empleado.foto) == 0}"class="circle img-responsive img-detail-ventas cursor-pointer"
											th:src="@{'/tpv_images/usuarios/' + ${empleado.foto}}" th:onclick="'seleccionarVendedorEnVale(' + ${empleado.id} + ')'" >
											<h6 style='top: 10px; font-size: 13px;'>
												<a th:onclick="'seleccionarVendedorEnVale(' + ${empleado.id} + ')'"
													class='nav-link nav-link azulOscuro' href='#'
													th:text="${empleado.nombre +' '+empleado.apellido}"></a>
											</h6>
										</div>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Procesar Pago Mayor que Saldo-->
		<div class="modal fade" id="ModalCantidadMayor" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row justify-content-center">
		                    <div class="col-xs-12" >
		                    <h3>Procesar Pago</h3>
		                    </div>
		                </div>
		                <br>
		                <div class="row justify-content-center">
		                    <div class="cont-recup-text" >
		                        <p style="text-align:center;">El importe recibido es mayor que el importe del saldo.
		                        <br> 
		                        ¿Desea procesar el pago?</p>
		                        <br>
		                        <div class="row justify-content-center" style="font-size:18px;">
		                        	<div class="col-4" style="text-align:left;">
		                        		<span th:text="'Saldo: '"></span>
		                        	</div>
		                        	<div class="col-4" style="text-align:right;">
		                        		<span th:id="saldo-modal"></span><span th:if="${empresa.moneda != null}" th:text="${' '+empresa.moneda.simbolo}"></span><span th:if="${empresa.moneda == null}" th:text="' ' + €"></span>
		                        	</div>
		                        </div>
		                        <div class="row justify-content-center" style="font-size:18px;">
		                        	<div class="col-4" style="text-align:left;">
		                        		<span th:text="'Recibido: '"></span>
		                        	</div>
		                        	<div class="col-4" style="text-align:right;">
		                        		<span th:id="recibido-modal"></span><span th:if="${empresa.moneda != null}" th:text="${' '+empresa.moneda.simbolo}"></span><span th:if="${empresa.moneda == null}" th:text="' ' + €"></span>
		                        	</div>
		                        </div>
		                        <div class="row justify-content-center" style="font-size:18px;">
		                        	<div class="col-4" style="text-align:left;">
		                        		<span th:text="'Cambio: '"></span>
		                        	</div>
		                        	<div class="col-4" style="text-align:right;">
		                        		<span th:id="cambio-modal"></span><span th:if="${empresa.moneda != null}" th:text="${' '+empresa.moneda.simbolo}"></span><span th:if="${empresa.moneda == null}" th:text="' ' + €"></span>
		                        	</div>
		                        </div>
		                        
		                    </div>
		                </div>
		                <br>
                    	<div class="row justify-content-center">
                        	<div class="m-l-3 m-r-3" >
                                <button id="btn-procesar-pago-modal" class="btn btn-success">
                                    <i class="fa fa-btn fa-check"></i> Confirmar
                                </button>
                            </div>
                            <div class="m-l-3 m-r-3">
                                <button class="btn btn-danger" data-dismiss="modal">
                                    <i class="fa fa-btn fa-times"></i> Cancelar
                                </button>
                            </div>
                        </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		
		<!-- Modal No Venta Activa-->
		<div class="modal fade" id="modalNoVentaActiva" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row justify-content-center">
		                    <div class="col-xs-12" >
		                    <h3>No se puede procesar pago</h3>
		                    </div>
		                </div>
		                <br>
		                <div class="row justify-content-center">
		                    <div class="cont-recup-text" >
		                        <p style="text-align:center;">No existe una venta activa en estos momentos o no se han agreado servicios a la venta.
		                    </div>
		                </div>
		                <br>
                    	<div class="row justify-content-center">
                        	<div class="m-l-3 m-r-3" >
                                <button id="btn-no-venta-activa" class="btn btn-success">
                                    <i class="fa fa-btn fa-check"></i> Aceptar
                                </button>
                            </div>
                        </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal eliminar-->
		
		
		
		<div th:replace="fragments/fragmentsTPV :: modalRelogin"></div>
		<div th:replace="fragments/fragmentsTPV :: modalYaHayActualVacio"></div>
		<div th:replace="fragments/fragmentsTPV :: modalReusarTicket"></div>
		<div th:replace="fragments/fragmentsTPV :: modalVendedores"></div>
		<div th:replace="fragments/fragmentsTPV :: modalAnulacionesServiciosOrPagos"></div>
		<div th:replace="fragments/fragmentsTPV :: modalObservacionesDeVenta"></div>
		<div th:replace="fragments/fragmentsTPV :: modalObservacionesDeCliente"></div>
		<div th:replace="fragments/fragmentsTPV :: modalEnviarTicketEmail"></div>
		<div th:replace="fragments/fragmentsTPV :: modalVentaConsumoInterno"></div>
	</div>
	<div th:replace="fragments/fragmentsTPV :: scripts"></div>
	<script th:replace="fragments/autocompletarBuscador :: javascript"></script>
	<script type="text/javascript">
	
		//Para rellenar el formulario de la ventana modal de observaciones de cliente	
		if ($("#aux-id-cliente-observaciones").length ) {
			$("#id-cliente-observaciones").val( $("#aux-id-cliente-observaciones").val() );
     		$("#form-observaciones-cliente").val( $("#aux-observaciones-cliente-observaciones").val() );
		}
	
		function imprimirVale(){
			var h = screen.height;
			var w = screen.width;
			var alto = h*0.50;
			var ancho= w*0.50;
			var top= h*0.20;
			var left= (w - ancho)/2;
			w=window.open("/tpv/ventas/vale/generar", "_blank", "toolbar=no,scrollbars=yes,resizable=yes,top="+top+",left="+left+",width="+ancho+",height="+alto);
			w.print();
		}
	
		var altoResumenVenta = $(".resumen-venta").height();
		$(".barra-superior-cliente").css("height", altoResumenVenta+"px");
	
		var altoMenuPrincipal = $(".menu-principal").height();
		var altoMenuModulo = $(".menu-modulo").height();
		var altoBarraSupCliente = $(".barra-superior-cliente").height();
		var altoFormasPago = $(".div-formas-pago").height();
		var altoMenuInferior = $(".menu-principal-inferior").height();
		var altoBotonesPago = $(".botones-pagos").height();
		var altoListadoServicios = window.innerHeight - altoMenuPrincipal - altoMenuModulo - altoBarraSupCliente - altoFormasPago - altoBotonesPago - altoMenuInferior - 45 ;
		$(".listado-servicios").css("height", altoListadoServicios+"px");
		
		var altoTablaServicios = altoListadoServicios - 40; 
		$(".tabla-servicios").css("height", altoTablaServicios+"px");
		
		var altoDetalleModalCliente = window.innerHeight - 80;
		$("#contenidoModalDetalleCliente").css("max-height", altoDetalleModalCliente+"px");
		
		var anchoBarraSuperiorCliente = $(".barra-superior-cliente").width() - 16;
		$(".menu-principal-inferior").width(anchoBarraSuperiorCliente);
		$(".menu-principal-inferior").css("margin-left", $(".barra-superior-cliente").css('padding-left'));
		
		$(window).resize(function(){
			var altoResumenVenta = $(".resumen-venta").height();
			$(".barra-superior-cliente").css("height", altoResumenVenta+"px");
			
			var altoMenuPrincipal = $(".menu-principal").height();
			var altoMenuModulo = $(".menu-modulo").height();
			var altoBarraSupCliente = $(".barra-superior-cliente").height();
			var altoFormasPago = $(".div-formas-pago").height();
			var altoMenuInferior = $(".menu-principal-inferior").height();
			var altoBotonesPago = $(".botones-pagos").height();	
			var altoListadoServicios = window.innerHeight - altoMenuPrincipal - altoMenuModulo - altoBarraSupCliente - altoFormasPago - altoBotonesPago - altoMenuInferior - 48 ;
			$(".listado-servicios").css("height", altoListadoServicios+"px");
			
			var altoTablaServicios = altoListadoServicios - 40; 
			$(".tabla-servicios").css("height", altoTablaServicios+"px");
			
			var altoDetalleModalCliente = window.innerHeight - 80;
			$("#contenidoModalDetalleCliente").css("max-height", altoDetalleModalCliente+"px");
			
			var anchoBarraSuperiorCliente = $(".barra-superior-cliente").width() - 16;
			$(".menu-principal-inferior").width(anchoBarraSuperiorCliente);
			$(".menu-principal-inferior").css("margin-left", $(".barra-superior-cliente").css('padding-left'));
		});
		
		$(".opc-forma-pago").click(function(){
			$(".pago-option").css('background-color','white');
			$(".pago-option").css('color','#c5c3c3');
			
			$("#formaPagoSeleccionada").val(this.id);
			$(".pago-option-"+this.id).css('background-color','#11437e');
			$(".pago-option-"+this.id).css('color','#e9ecef');
			
			if( $("#flag-procesar-pago").hasClass( "permitido-pago-normal" )){
				
				if( $("#seleccionarFormaPagoForm").hasClass( "error-form" ) == false ){
					
					var montoPago = $("#montoPago").val();
					montoPago = montoPago.replace(",", ".");
					montoPago = parseFloat(montoPago).toFixed(2);
					
					var textoMontoPago = montoPago.toString();
					textoMontoPago = textoMontoPago.replace(".", ",");
					$("#recibido-modal").text(textoMontoPago);
					
					var montoSaldo = $("#monto-saldo").val();
					$("#saldo-modal").text(montoSaldo);
					montoSaldo = montoSaldo.replace(",", ".");
					montoSaldo = parseFloat(montoSaldo);
					
					if(montoPago > montoSaldo){

						var cambio = montoPago - montoSaldo;
						cambio = cambio.toFixed(2);
						cambio = cambio.toString();
						cambio = cambio.replace(".", ",");
						$("#cambio-modal").text(cambio);
						$("#txt-cambio-monto").val(cambio);
						
						$('#ModalCantidadMayor').modal('show'); 
					}else{

						//Se verifica si el candado está cerrado
						var candado = sessionStorage.getItem("candadoCalculadora");
						
						if(candado == 0){
							//Se recupera el id del empleado seleccionado anteriormente
							var idEmpleado = sessionStorage.getItem("idEmpleado");
							procesarPagoFinal(idEmpleado);
							
						}else{
							$('#modalVendedoresPagar').modal('show');	
						}
						
					}
				}
			}else{
				
				if( $("#flag-procesar-pago").hasClass( "permitido-pago-cero" )){
					
					//Se verifica si el candado está cerrado
					var candado = sessionStorage.getItem("candadoCalculadora");
					
					if(candado == 0){
						//Se recupera el id del empleado seleccionado anteriormente
						var idEmpleado = sessionStorage.getItem("idEmpleado");
						procesarPagoFinal(idEmpleado);
						
					}else{
						$('#modalVendedoresPagar').modal('show');
					}
					
				}else{
				
					$('#modalNoVentaActiva').modal('show');
				}
			}
		});
		
		function errorMonto(error){
			$('.error-monto-pago').popover('show');
			$('.popover-body').addClass("popover-error");
			$('.popover-body').text(error);
			setTimeout(function () {
		        $('.popover').popover('hide');
		    }, 1500);
		}
		
		$("#montoPago").bind('input', function() { 
			var decimal=  /^-?[0-9]+([,\.][0-9]*)?$/;
			var montoPago = $("#montoPago").val();
			
			if( montoPago != ""){
				if( montoPago.match(decimal) ){
					montoPago = montoPago.replace(",", ".");
					montoPago = parseFloat(montoPago).toFixed(2);
					//$("#montoPago").val(montoPago.toString().replace(".", ","));
					
					if(montoPago != 0){
						$("#montoPago").css("border-color","#00000026");
						$("#seleccionarFormaPagoForm").removeClass( "error-form" )
						
						var montoSaldo = $("#monto-saldo").val();
						montoSaldo = montoSaldo.replace(",", ".");
						montoSaldo = parseFloat(montoSaldo);
						
						if(montoPago > montoSaldo){
							var cambio = montoPago - montoSaldo;
							cambio = cambio.toFixed(2);
							cambio = cambio.toString();
							cambio = cambio.replace(".", ",");
							$("#txt-cambio-monto").val(cambio);
						}else{
							$("#txt-cambio-monto").val("0,00");
						}
						
					}else{
						$("#montoPago").css("border-color","#dc3545");
						 errorMonto("Monto igual a cero");
						$("#seleccionarFormaPagoForm").addClass( "error-form" )
					}
				}else{
					$("#montoPago").css("border-color","#dc3545");
					errorMonto("Formato del monto no es válido");
					$("#seleccionarFormaPagoForm").addClass( "error-form" )
				}
				
			}else{
				$("#montoPago").css("border-color","#dc3545");
				errorMonto("Debe ingresar un monto");
				$("#seleccionarFormaPagoForm").addClass( "error-form" )
			}
		});
		
		$( "#montoPago" ).blur(function() {
			var decimal=  /^-?[0-9]+([,\.][0-9]*)?$/;
			var montoPago = $("#montoPago").val();
			
			if( montoPago != ""){
				if( montoPago.match(decimal) ){
					montoPago = montoPago.replace(",", ".");
					montoPago = parseFloat(montoPago).toFixed(2);
					$("#montoPago").val(montoPago.toString().replace(".", ","));
				}else{
					$("#montoPago").css("border-color","#dc3545");
					errorMonto("Formato del monto no es válido");
					$("#seleccionarFormaPagoForm").addClass( "error-form" )
				}
			}

		});
		
		$("#btn-procesar-pago-modal").click(function(){
			$('#ModalCantidadMayor').modal('toggle');
			
			//Se verifica si el candado está cerrado
			var candado = sessionStorage.getItem("candadoCalculadora");
			
			if(candado == 0){
				//Se recupera el id del empleado seleccionado anteriormente
				var idEmpleado = sessionStorage.getItem("idEmpleado");
				procesarPagoFinal(idEmpleado);
				
			}else{
				$('#modalVendedoresPagar').modal('show');	
			}
			
		});
		
		$("#btn-no-venta-activa").click(function(){
			$('#modalNoVentaActiva').modal('toggle');
		});
		
		$(".ficha-cliente").click(function(){
			$('#ModalDetalleCliente').modal('show');	
		});
		
		function valeNoPosible(){
			$( "body" ).append( '<div class="alert alert-tpv alert-tpv-danger"> <div class="tit-alert" > <button type="button" class="close" data-dismiss="alert">&times;</button>  <i class="fa fa-exclamation-circle"></i> Error </div> 	<small>No se puede generar ni ingresar vale</small> </div>' );
			$('.alert-tpv-danger').fadeOut(3500);
		}
		
		function devolucionNoPosible(){
			$( "body" ).append( '<div class="alert alert-tpv alert-tpv-danger"> <div class="tit-alert" > <button type="button" class="close" data-dismiss="alert">&times;</button>  <i class="fa fa-exclamation-circle"></i> Error </div> 	<small>La devolución aplica sólo a ventas finalizadas</small> </div>' );
			$('.alert-tpv-danger').fadeOut(3500);
		}
		
		function comprobarSiServiciosADevolver(){
			//Si se ha seleccionado servicios para devolver se debe habilitar el boton para procesar la devolucion
			if ( $('#devolucion-disp-devolver').children().length > 0 ) {
			     $("#btn-confirmacion-devolucion").removeAttr("disabled");
			}else{
				$("#btn-confirmacion-devolucion").attr("disabled","disabled");
			}
		}
		
		function crearDevolucion(){
			$.ajax({
		   		type : 'GET',
		   		url : '/tpv/ventas/devolucion/crear/ajax',
		   		success:function(data){
		   			
		   			//Para mostrar los datos de la devolucion
					$.ajax({
				   		type : 'GET',
				   		url : '/tpv/ventas/devolucion/mostrar/ajax',
				   		success:function(data){
							
				   			$("#bodyModalDevolucionVenta").html( data );
							comprobarSiServiciosADevolver();
		          		}
		          	});
          		}
          	});
		}
		
		//Para validar el input donde se coloca la cantidad que se desea devolver
		function procesarUnidadesADevolver(){
			cantidadServicio = $('#cantidad-servicio').val();
			cantidadDevolver = $('#cantidad-devolver').val();
			servicioDevolver = $('#servicio-devolver').val();
			urlDevolucion = $('#url-devolucion').val();
			
			
			
			
			if(cantidadDevolver==''){
				$('#cantidad-devolver').addClass("alert-danger");
				$('#error-cantidad-devolver').text("Debe indicar cantidad");
			}else{
				if(cantidadDevolver <= 0){
					$('#cantidad-devolver').addClass("alert-danger");
					$('#error-cantidad-devolver').text("La cantidad debe ser mayor o igual que uno (1)");
				}else{
					if(Number(cantidadDevolver) > Number(cantidadServicio)){
						$('#cantidad-devolver').addClass("alert-danger");
						$('#error-cantidad-devolver').text("Cantidad no puede ser mayor a las unidades del servicio");
					}else{
						$.ajax({
					   		type : 'GET',
					   		url : '/tpv/ventas/devolucion/'+urlDevolucion+'/'+servicioDevolver+'/unidades/'+cantidadDevolver+'/ajax',
					   		success:function(data){
					   			
					   			$('#modalCantidadDevolucion').modal('hide');
					   			
					   			//Para mostrar los datos de la devolucion
								$.ajax({
							   		type : 'GET',
							   		url : '/tpv/ventas/devolucion/mostrar/ajax',
							   		success:function(data){
										
							   			$("#bodyModalDevolucionVenta").html( data );
										comprobarSiServiciosADevolver();
					          		}
					          	});
			          		}
			          	});
					}
				}
			}
		}
		
		//Para limpiar el formulario de la cantidad a devolver/recuperar de un servicio
		$('#modalCantidadDevolucion').on('hidden.bs.modal', function () {
			$('#cantidad-devolver').val('');
			$('#servicio-devolver').val('');
			$('#cantidad-devolver').removeClass("alert-danger");
			$('#error-cantidad-devolver').text("");
		})
		
		function quieroDevolver(idServicio,unidades){
			if( unidades > 1){
				$('#'+idServicio).attr('unidades',unidades);
				$('#cantidad-servicio').val(unidades);
				$('#servicio-devolver').val(idServicio);
				$('#url-devolucion').val("quieroDevolver");
				$('#modalCantidadDevolucion').modal('show');
			}else{
				$.ajax({
			   		type : 'GET',
			   		url : '/tpv/ventas/devolucion/quieroDevolver/'+idServicio+'/unidades/1/ajax',
			   		success:function(data){
			   			
			   			//Para mostrar los datos de la devolucion
						$.ajax({
					   		type : 'GET',
					   		url : '/tpv/ventas/devolucion/mostrar/ajax',
					   		success:function(data){
								
					   			$("#bodyModalDevolucionVenta").html( data );
								comprobarSiServiciosADevolver();
			          		}
			          	});
	          		}
	          	});
			}
		}
		
		function disponibleDevolver(idServicio,unidades){
			if( unidades > 1){
				$('#'+idServicio).attr('unidades',unidades);
				$('#cantidad-servicio').val(unidades);
				$('#servicio-devolver').val(idServicio);
				$('#url-devolucion').val("disponibleDevolver");
				$('#modalCantidadDevolucion').modal('show');
			}else{
				$.ajax({
			   		type : 'GET',
			   		url : '/tpv/ventas/devolucion/disponibleDevolver/'+idServicio+'/unidades/1/ajax',
			   		success:function(data){
			   			
			   			//Para mostrar los datos de la devolucion
						$.ajax({
					   		type : 'GET',
					   		url : '/tpv/ventas/devolucion/mostrar/ajax',
					   		success:function(data){
								
					   			$("#bodyModalDevolucionVenta").html( data );
								comprobarSiServiciosADevolver();
			          		}
			          	});
	          		}

	          	});
			}
			
		}
		
		function quieroDevolverTodo(){
			$.ajax({
		   		type : 'GET',
		   		url : '/tpv/ventas/devolucion/quieroDevolverTodo/ajax',
		   		success:function(data){
		   			
		   			//Para mostrar los datos de la devolucion
					$.ajax({
				   		type : 'GET',
				   		url : '/tpv/ventas/devolucion/mostrar/ajax',
				   		success:function(data){
							
				   			$("#bodyModalDevolucionVenta").html( data );
							comprobarSiServiciosADevolver();
		          		}
		          	});
          		}

          	});
		}
		
		function disponibleDevolverTodo(){
			$.ajax({
		   		type : 'GET',
		   		url : '/tpv/ventas/devolucion/disponibleDevolverTodo/ajax',
		   		success:function(data){
		   			//Para mostrar los datos de la devolucion
					$.ajax({
				   		type : 'GET',
				   		url : '/tpv/ventas/devolucion/mostrar/ajax',
				   		success:function(data){
							
				   			$("#bodyModalDevolucionVenta").html( data );
							comprobarSiServiciosADevolver();
		          		}
		          	});
          		}

          	});
		}
		
		function mostrarConfirmacionDevolucion(){
			$('#modalDevolucionVenta').modal('hide');
			$('#modalConfirmacionDevolucionVenta').modal('show');
		}
		
		function abrirModalIngresarMontoVale(){
			$('#modalOpcionVale').modal('hide');
			$('#modalIngresarMontoVale').modal('show');
		}
		
		function abrirModalIngresarCodigoVale(){
			$('#modalOpcionVale').modal('hide');
			$('#modalIngresarCodigoVale').modal('show');
		}
		
		function refrescarPagina() {
		    location.reload();
		 }
		
		//Para indicar que se debe refrescar la pagina al generar un vale
		var flagRefrescar=true;
		
		//Para indentificar si se está generando o ingresando un vale
		var modalVale="";
		
		$( "#btn-form-monto-vale" ).click(function() {
			flagError = false;
			montoVale = $("#monto-vale").val();
			  
			  if(montoVale == null || montoVale==""){
				$('#monto-vale').addClass("alert-danger");
				$('#error-monto-vale').text("Debe ingresar un monto para generar el vale");
				flagError = true;
				flagRefrescar=false;
			  }else{
				  if( Number(montoVale) <= 0 ){
					  $('#monto-vale').addClass("alert-danger");
					  $('#error-monto-vale').text("Monto del vale debe ser positivo");
					  flagError=true;
					  flagRefrescar=false;
				  }
			  }
			 
			//Si no hay error en el formulario del monto de vale
			if( flagError == false ){
				
				flagRefrescar=true;
				
				//Se verifica si el candado está cerrado
				candado = sessionStorage.getItem("candadoCalculadora");
				
				if(candado == 0){
					idEmpleado = sessionStorage.getItem("idEmpleado");
					$("#id-vendedor-generar-vale").val(idEmpleado);
					$( "#form-monto-vale" ).submit();
					if( flagRefrescar==true){
						setTimeout(refrescarPagina, 1000);	
					}
				}else{
					modalVale="generar-vale";
					$('#modalIngresarMontoVale').modal('hide');
					$('#modalVendedoresVale').modal('show');
				}
			}
		});
		
		function seleccionarVendedorEnVale(idEmpleado){
			if(modalVale=="generar-vale"){
				$("#id-vendedor-generar-vale").val(idEmpleado);
				$( "#form-monto-vale" ).submit();
				
				if( flagRefrescar==true){
					setTimeout(refrescarPagina, 1000);	
				}
			}
			if(modalVale=="ingresar-vale"){
				$("#id-vendedor-ingresar-vale").val(idEmpleado);
				$( "#form-id-vale" ).submit();
				
			}
		}
		
		function refrescarPagina() {
		    location.reload();
		 }
		
		
		//Para enviar el formulario por Ajax y nos retorne el identificador del vale generado.
		//Con ese identificador se redirige a otra vista para mostrar el vale
		$('#form-monto-vale').submit(function(e){			
		    $.ajax({
		           type: "POST",
		           url: "/tpv/ventas/vale/generar",
		           data: $("#form-monto-vale").serialize(), // serializa los elementos del formulario.
		           success: function(idVale){
		    			var h = screen.height;
			   			var w = screen.width;
			   			var alto = h*0.50;
			   			var ancho= w*0.50;
			   			var top= h*0.20;
			   			var left= (w - ancho)/2;
			   		
			   			w=window.open("/tpv/ventas/vale/"+idVale, "_blank", "toolbar=no,scrollbars=yes,resizable=yes,top="+top+",left="+left+",width="+ancho+",height="+alto);
			   			w.print();
		           }
		         });

		    e.preventDefault(); //evitar ejecutar el envío real del formulario.
		});
					 
		
		$( "#btn-form-id-vale" ).click(function() {
			
			//Se verifica si el candado está cerrado
			candado = sessionStorage.getItem("candadoCalculadora");
			
			if(candado == 0){
				idEmpleado = sessionStorage.getItem("idEmpleado");
				$("#id-vendedor-ingresar-vale").val(idEmpleado);
				$( "#form-id-vale" ).submit();
			}else{
				modalVale="ingresar-vale";
				$('#modalIngresarCodigoVale').modal('hide');
				$('#modalVendedoresVale').modal('show');
			}
		});
		
		$(document).ready(function() 
		    { 
		        $("#tabla-servicios-venta").tablesorter({

        			cssAsc: 'headerSortUpPagos',
        			cssDesc: 'headerSortDownPagos'


        		});
		    } 
		);
	</script>
</body>
</html>