<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragmentsTPV :: head"></head>
<body class="nav-md" >
	<div class=" body" style="overflow: hidden;">
		<div >
			<th:block th:replace="fragments/fragmentsTPV :: mensajesNotificaciones"></th:block>
			<div th:replace="fragments/fragmentsTPV :: barraSuperior"></div>

			<!-- Page content -->
			<div class="menu-modulo" >
				<div class="row">
					<div class="col-lg-9 col-md-8 col-sm-7 col-7">									
						 <div class="text-center text-bold">
				            <ul class="nav fondoGris">
								<li  class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/ventas}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px; padding-right: 30px;padding-left: 30px;" >Cliente</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/ventas/familia}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Familia</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/ventas/productos}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Productos</a>
							  	</li>
							  	<li class="nav-item " th:if="${ventaActiva != null}">
							    	<a class="nav-link" th:href="@{/tpv/ventas/pagos}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Pagos</a>
							  	</li>
							  	<li class="nav-item " th:if="${ventaActiva == null}" >
							    	<a  class="nav-link" href="#" style="color:#d4d6d6;border-bottom-color: #d4d6d6; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Pagos</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link" th:href="@{/tpv/ventas/pendientes}" style="border-bottom-color: #2fccae; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Pendientes</a>
							  	</li>
							</ul>				
				        </div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-5 col-5  fondoGris" >
						<input type="text" class="form-control borde-input-visible popOverinfo p-b-1 p-t-1 m-t-1"  placeholder="Buscar venta" name="buscadorVenta" id="buscadorVenta"
						data-toggle="popover" data-placement="left" data-title="Buscar " data-delay="400"
						data-content="Al hacer clic en una de las opciones, te lleva a ver el detalle de la venta" style="width:95%; border-color: #7e92a7;border-radius: 20px;">
						<i class="fa fa-search pull-right lupa-buscador-tpv"></i>
						<input type="hidden" id="urlBuscadorVenta" value="/tpv/ventas/buscar/ajax/">	
					</div>
				</div>
			</div>
			
			<div class="fondoGrisClaro p-b-2">
				<div class="container" style="max-width:100%">
					<div class="row justify-content-center row-global">
						<div class="contenido-modulo col-lg-9 col-lg-offset-0 col-md-8 col-md-offset-0 col-sm-8 col-sm-offset-0 col-xs-12 col-xs-offset-0">
							<div class="row" style="width: 100%;margin: 0;margin-top: 5px; padding-left:10px;padding-right:10px;">
								<div class="title_left titulo1">
									<h3 style="color: #5e646b;">Pendientes de hoy</h3>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 estilo-tarjeta listado-clientes" style="margin-top: 10px;">
									<div class="content-client custom-overflow">
										<table id="tabla-pendientes-hoy" class="table table-bordered table-responsive table-hover tabla-pendientes-hoy table-resizable tablesorter">
											<thead>
												<tr>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="id-ticket-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="id-ticket-down"></i> Cod.Ticket</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="fecha-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="fecha-down"></i> Fecha</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="hora-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="hora-down"></i> Hora</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="empleado-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="empleado-down"></i> Empleado</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="nro-cliente-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="nro-cliente-down"></i> N° Cliente</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="nombre-cliente-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="nombre-cliente-down"></i> Cliente</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-down"></i> Importe</th>
	
												</tr>
											</thead>
											
											<tbody th:if="${#lists.contains(funcionalidadesPermisos, '61')} " >
												<tr th:each="pendienteshoy: ${pendienteshoy}" th:id="${pendienteshoy.id}" class="venta-sel" >
													<td th:text="${pendienteshoy.tipo + pendienteshoy.id_corto_ticket}" th:title="${pendienteshoy.tipo + pendienteshoy.id_corto_ticket}" class="td-tabla"></td>
													<td th:text="${#dates.format(pendienteshoy.fecha, 'dd/MM/yyyy')}" th:title="${#dates.format(pendienteshoy.fecha, 'dd/MM/yyyy')}" class="td-tabla"></td>
													 <td th:text="${#dates.format(pendienteshoy.hora, 'hh:mm')}" th:title="${#dates.format(pendienteshoy.hora, 'hh:mm')}" class="td-tabla"></td>
													<td th:text="${pendienteshoy.empleado.nombre}" th:title="${pendienteshoy.empleado.nombre}" class="td-tabla"></td>
													<th:block th:if="${pendienteshoy.cliente!=null}">
														<td  th:text="${pendienteshoy.cliente.nro_cliente}" th:title="${pendienteshoy.cliente.nro_cliente}" class="td-tabla"></td>
														<td th:text="${pendienteshoy.cliente.nombre+' '+pendienteshoy.cliente.apellido}" th:title="${pendienteshoy.cliente.nombre+' '+pendienteshoy.cliente.apellido}"  class="td-tabla"></td>
													</th:block>
													<th:block th:if="${pendienteshoy.cliente==null}">
														<td  class="td-tabla"></td>
														<td  class="td-tabla"></td>
													</th:block>
													
													<td th:text="${#numbers.formatDecimal(pendienteshoy.total, 1, 2)}" th:title="${#numbers.formatDecimal(pendienteshoy.total, 1, 2)}" class="td-tabla"></td> 
												</tr>
											</tbody>
										</table>
										
									</div>
								
								</div>
							</div>
							<div class="row" style="width: 100%;margin: 0;margin-top: 5px; padding-left:10px;padding-right:10px;">
								<div class="title_left titulo1">
									<h3 style="color: #5e646b;">Pendientes Anteriores</h3>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 listado-clientes2 estilo-tarjeta" style="margin-top:  10px;">
									<div class="content-client custom-overflow">
										<table id="tabla-pendientes-siempre" class="table table-bordered table-responsive table-hover tabla-pendientes-siempre table-resizable tablesorter">
											<thead>
												<tr>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="id-ticket-ant-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="id-ticket-ant-down"></i> Cod.Ticket</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="fecha-ant-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="fecha-ant-down"></i> Fecha</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="hora-ant-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="hora-ant-down"></i> Hora</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="empleado-ant-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="empleado-ant-down"></i> Empleado</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="nro-cliente-ant-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="nro-cliente-ant-down"></i> N° Cliente</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="nombre-cliente-ant-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="nombre-cliente-ant-down"></i> Cliente</th>
													<th class="td-tabla ord-cli tam-th" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar"><i class="fa fa-long-arrow-up  arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-ant-up"></i><i class="fa fa-long-arrow-down ord-cli arrow-false" aria-hidden="true" style="font-size: 10px;" id="importe-ant-down"></i> Importe</th>
												</tr>
											</thead>
											<tbody th:if="${#lists.contains(funcionalidadesPermisos, '61')}" >
												<tr th:each="pendientesant: ${pendientesant}" th:id="${pendientesant.id}" class="venta-sel" >
													<td th:text="${ pendientesant.tipo + pendientesant.id_corto_ticket}" th:title="${ pendientesant.tipo + pendientesant.id_corto_ticket}" class="td-tabla"></td>
													<td th:text="${#dates.format(pendientesant.fecha, 'dd/MM/yyyy')}"  th:title="${#dates.format(pendientesant.fecha, 'dd/MM/yyyy')}" class="td-tabla" ></td>
													<td th:text="${#dates.format(pendientesant.hora, 'hh:mm')}" th:title="${#dates.format(pendientesant.hora, 'hh:mm')}" class="td-tabla"></td>
													<td th:text="${pendientesant.empleado.nombre}" th:title="${pendientesant.empleado.nombre}" class="td-tabla"></td>
													<th:block th:if="${pendientesant.cliente!=null}">
														<td  th:text="${pendientesant.cliente.nro_cliente}" th:title="${pendientesant.cliente.nro_cliente}" class="td-tabla"></td>
														<td th:text="${pendientesant.cliente.nombre+' '+pendientesant.cliente.apellido}" th:title="${pendientesant.cliente.nombre+' '+pendientesant.cliente.apellido}"  class="td-tabla"></td>
													</th:block>
													<th:block th:if="${pendientesant.cliente==null}">
														<td  class="td-tabla"></td>
														<td  class="td-tabla"></td>
													</th:block>
													<td th:text="${#numbers.formatDecimal(pendientesant.total, 1, 2)}" th:title="${#numbers.formatDecimal(pendientesant.total, 1, 2)}" class="td-tabla"></td> 
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="row botones-clientes" style="width: 100%;margin: 0;margin-top: 5px; padding-left:10px;padding-right:10px;">
								<div class="col-12 estilo-tarjeta pull-right p-t-1 p-l-1 p-b-1 p-r-2" >
									<div class="col-lg-10 col-md-9 col-8">
									</div>
									
									<div class="col-lg-2 col-md-3 col-4 pull-right" >
										<a class="green-button btn btn-primary btn-block text-left gray-button" style="font-size:14px; font-weight: bold;" href="#" href="#" onclick="IrAVenta();" >Ir a la Venta<img class="right-0 pos-absolute m-r-10" width="20px" alt="nuevo" th:src="@{/images/iconos/oscuros/editar.png}"></a>
									</div>
								</div>
							</div>
							
							<div th:replace="fragments/fragmentsTPV :: menuPrincipalInferior"></div>
							
						</div>
						<div class=" col-lg-3 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 p-r-0 p-b-2 espacio-reservado-calculadora">
							<!--/* Para simular el espacio que ocupa el panel derecho*/-->
						</div>
						<div th:replace="fragments/fragmentsTPV :: panelDerechoVentas">
								
						</div>
						
					</div>
				</div>
			</div>
		</div>

		<!-- Modal eliminar-->
		<div class="modal fade" id="ModalEliminar" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12" style="text-align:center">
		                    <h3>Eliminar cliente</h3>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="cont-recup-text" >
		                        <p style="text-align:center;">¿Usted está seguro de eliminar el cliente seleccionado?</p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row">
	                        	<div class="col-sm-5  col-sm-offset-1 col-xs-8" style="text-align:right">
	                                <button id="btn-eliminar" class="btn btn-success" onclick="eliminarSeleccionado('/tpv/clientes/');">
	                                    <i class="fa fa-btn fa-check"></i> Confirmar
	                                </button>
	                            </div>
	                            
	                            <div class="col-sm-5 col-xs-8">
	                                <button class="btn btn-danger" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal eliminar-->
		
		<!-- Modal de opcion no seleccionada-->
		<div class="modal fade" id="modalSinSeleccionPendiente" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row justify-content-center">
		                    <div class="col-xs-12" style="text-align:center">
		                    <h3>Seleccionar una Venta</h3>
		                    </div>
		                </div>
		                <div class="row justify-content-center">
		                    <div class="cont-recup-text" >
		                        <p style="text-align:center;">Para continuar, debe seleccionar una venta pendiente</p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row ">
	                        	<div class="col-sm-8 col-sm-offset-1 col-xs-10 m-l-15 m-t-2" style="text-align:center">
	                                <button class="btn btn-danger" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal de opcion no seleccionada-->

		<div class="modal fade" id="modalSinSeleccionVenta" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12" style="text-align:center">
		                    <h3>No hay venta creada</h3>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="cont-recup-text" >
		                        <p style="text-align:center;">Para continuar, debe seleccionar "Nueva Venta" para generar una venta</p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row">
	                        	<div class="col-sm-8 col-sm-offset-1 col-xs-10" style="text-align:right">
	                                <button class="btn btn-danger m-l-10" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal de opcion no seleccionada-->
		
			<!-- Modal eliminar-->
		<div class="modal fade" id="ModalEliminarVenta" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12" style="text-align:center">
		                    <h3>Venta Activa</h3>
		                    </div>
		                </div>
		                <div class="row">
		                   <div class="cont-recup-text" th:if="${ventaActiva != null}">
		                        <p style="text-align:center;" th:text="'Tiene una venta activa (Ticket n°:'+${ventaActiva.id}+'), ¿desea eliminarla o conservarla?'"></p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row">
	                        	<div class="col-sm-5  col-sm-offset-1 col-xs-8" style="text-align:right">
	                                <button id="btn-eliminar" class="btn btn-success" onclick="eliminarVenta();">
	                                    <i class="fa fa-btn fa-check"></i> Eliminar
	                                </button>
	                            </div>
	                            
	                            <div class="col-sm-5 col-xs-8">
	                                <button class="btn btn-danger" onclick="EnviarSeleccionado('/tpv/ventas/');">
	                                    <i class="fa fa-btn fa-times"></i> Enviar a Pendientes
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal de opcion no seleccionada-->
		<div th:replace="fragments/fragmentsTPV :: modalRelogin"></div>
		<div th:replace="fragments/fragmentsTPV :: modalYaHayActualVacio"></div>
		<div th:replace="fragments/fragmentsTPV :: modalReusarTicket"></div>
		<div th:replace="fragments/fragmentsTPV :: modalVendedores"></div>
		<div th:replace="fragments/fragmentsTPV :: modalAnulacionesServiciosOrPagos"></div>
		<div th:replace="fragments/fragmentsTPV :: modalObservacionesDeVenta"></div>
		<div th:replace="fragments/fragmentsTPV :: modalEnviarTicketEmail"></div>
		<div th:replace="fragments/fragmentsTPV :: modalVentaConsumoInterno"></div>
	</div>
	<div th:replace="fragments/fragmentsTPV :: scripts"></div>
	<script th:replace="fragments/autocompletarBuscador :: javascript"></script>
	<script type="text/javascript">
	var altoMenuPrincipal = $(".menu-principal").height();
	var altoMenuModulo = $(".menu-modulo").height();	
	var altoMenuInferior = $(".menu-principal-inferior").height();
	var altoBuscador = $(".buscador").height();
	var altoBotonesCliente = $(".botones-clientes").height();
	
	var altoListadoPendientes = window.innerHeight - altoMenuPrincipal - altoMenuModulo  - altoBuscador - altoBotonesCliente - altoMenuInferior - 115;
	var altoDivsPendientes = parseFloat(altoListadoPendientes) / 2;
	
	$(".listado-clientes").css("height", altoDivsPendientes.toString()+"px");
	$(".listado-clientes2").css("height", altoDivsPendientes.toString()+"px");
	
	var altoTablaPendientes = altoDivsPendientes - 5; 
	$(".content-client").css("height", altoTablaPendientes+"px");
	
	var anchoBotonesClientes = $(".botones-clientes").width()  - 16;
	$(".menu-principal-inferior").width(anchoBotonesClientes);
	$(".menu-principal-inferior").css("margin-left", $(".botones-clientes").css('padding-left'));
	
	$(window).resize(function(){
		var altoMenuPrincipal = $(".menu-principal").height();
		var altoMenuModulo = $(".menu-modulo").height();	
		var altoMenuInferior = $(".menu-principal-inferior").height();
		var altoBuscador = $(".buscador").height();
		var altoBotonesCliente = $(".botones-clientes").height();
		
		var altoListadoPendientes = window.innerHeight - altoMenuPrincipal - altoMenuModulo  - altoBuscador - altoBotonesCliente - altoMenuInferior - 118;
		var altoDivsPendientes = parseFloat(altoListadoPendientes) / 2;
		
		$(".listado-clientes").css("height", altoDivsPendientes.toString()+"px");
		$(".listado-clientes2").css("height", altoDivsPendientes.toString()+"px");
		
		var altoTablaPendientes = altoDivsPendientes - 5; 
		$(".content-client").css("height", altoTablaPendientes+"px");
		
		var anchoBotonesClientes = $(".botones-clientes").width()  - 16;
		$(".menu-principal-inferior").width(anchoBotonesClientes);
		$(".menu-principal-inferior").css("margin-left", $(".botones-clientes").css('padding-left'));
	});
	
	$(document).ready(function() 
	    { 
	        $("#tabla-pendientes-hoy").tablesorter({
    			cssAsc: 'headerSortUp',
    			cssDesc: 'headerSortDown'
    		});
	        $("#tabla-pendientes-siempre").tablesorter({

    			cssAsc: 'headerSortUp',
    			cssDesc: 'headerSortDown'
    		});
	    } 
	);
	</script>
	
</body>
</html>




<!--  -----------------------------------------------     -->
