<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragmentsTPV :: head"></head>
<body class="nav-md" >
	<div class=" body" style="overflow: hidden;">
		<div >
			<th:block th:replace="fragments/fragmentsTPV :: mensajesNotificaciones"></th:block>
			<div th:replace="fragments/fragmentsTPV :: barraSuperior"></div>
			<div th:replace="fragments/fragmentsTPV :: header"></div>

			<!-- Page content -->
			<div class="menu-modulo" >
				<div class="row">
					<div class="col-lg-9 col-md-8 col-sm-7 col-7">									
						 <div class="text-center text-bold">
				            <ul class="nav fondoGris">
								<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/ventas}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px; padding-right: 30px;padding-left: 30px;" >Cliente</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/ventas/familia}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Familia</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link " th:href="@{/tpv/ventas/productos}" style="border-bottom-color: #2fccae; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Productos</a>
							  	</li>
							  	<li class="nav-item " th:if="${ventaActiva != null}">
							    	<a class="nav-link" th:href="@{/tpv/ventas/pagos}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Pagos</a>
							  	</li>
							  	<li class="nav-item " th:if="${ventaActiva == null}" >
							    	<a  class="nav-link" href="#" style="color:#d4d6d6;border-bottom-color: #d4d6d6; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Pagos</a>
							  	</li>
							  	<li class="nav-item ">
							    	<a class="nav-link" th:href="@{/tpv/ventas/pendientes}" style="border-bottom-color: #c8cccb; border-bottom-style: solid;border-bottom-right-radius: 4px;padding-right: 30px;padding-left: 30px;">Pendientes</a>
							  	</li>
							</ul>				
				        </div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-5 col-5  fondoGris" >
						<input type="text" class="form-control borde-input-visible popOverinfo p-b-1 p-t-1 m-t-1"  placeholder="Buscar productos" name="buscadorProducto" id="buscadorProducto"
						data-toggle="popover" data-placement="left" data-title="Buscar " data-delay="400"
						data-content="Al escribir se irá filtrando los productos" style="width:95%; border-color: #7e92a7;border-radius: 20px;">
						<i class="fa fa-search pull-right lupa-buscador-tpv"></i>
						<input type="hidden" id="urlBuscadorProducto" value="/tpv/ventas/productos/buscar/nombre/ajax/">	
					</div>
				</div>
			</div>
			
			<div class="fondoGrisClaro p-b-2">
				<div class="container" style="max-width:100%">
					<div class="row justify-content-center row-global">
						<div class="contenido-modulo col-lg-9 col-lg-offset-0 col-md-8 col-md-offset-0 col-sm-8 col-sm-offset-0 col-xs-12 col-xs-offset-0">
							<div class="listado-productos row" style="width: 100%;margin: 0;margin-top: 10px; padding-left:10px;padding-right:10px;">
								<div class="col-12 estilo-tarjeta-sin-relleno overflow-auto">
									<div th:if="${#lists.contains(funcionalidadesPermisos, '63')}" class="p-l-1 p-r-1 p-t-1 p-b-1">
									<div class="containermen">
										<div class="contentmen ">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sustituible-ajax" >
										 		<ul class="nav" >
													<li class="nav-item tam"  th:each="catalogo: ${catalogos}">
														<div class="block" >
															<div style="padding-left:77%;" >
																<div class="triangulo" th:if="${catalogo.favoritos==false}" th:id="${'false'+catalogo.id}" th:onclick="'marcarFavorito(this.id)'">
																	<i class="fa fa-star star-position" aria-hidden="true" th:id="${'no'+catalogo.id}" ></i>
																</div>
																<div class="triangulo" th:if="${catalogo.favoritos==true}" th:id="${'true'+catalogo.id}" th:onclick="'marcarFavorito(this.id)'">
																	<i class="fa fa-star star-fav" aria-hidden="true" th:id="${'yes'+catalogo.id}" ></i>
																</div>
															</div>
															<div th:if="${catalogo.articulo.imagen == null || #strings.length(catalogo.articulo.imagen) == 0}" th:id="${catalogo.id}" class="A circle" th:classappend="${catalogo.generico == true} ? articulo-generico : ''" style="cursor: pointer;" th:onclick="'seleccionarProducto(' + ${catalogo.id} + ')'"> </div>
															<img th:unless="${catalogo.articulo.imagen == null || #strings.length(catalogo.articulo.imagen) == 0}" th:id="${catalogo.id}" class="A circle img-responsive img-detail-ventas cursor-pointer" th:classappend="${catalogo.generico == true} ? articulo-generico : ''"
															th:src="@{'/tpv_images/articulos/' + ${catalogo.articulo.imagen}}" th:onclick="'seleccionarProducto(' + ${catalogo.id} + ')'">
															<h6 style="top:10px;font-size:14px;height:45px;overflow:hidden;">       
																<a class="nav-link nav-link azulOscuro p-0" href="#" th:id="${'nombre-producto-'+catalogo.id}" th:text="${catalogo.articulo.nombre}" th:title="${catalogo.articulo.nombre}" th:onclick="'seleccionarProducto(' + ${catalogo.id} + ')'"></a>
															</h6>
															<p th:if="${catalogo.coleccion.nombre_mostrar != null && catalogo.coleccion.nombre_mostrar != ''}" style="margin-top:5px;font-size:13px;height:30px;overflow:hidden;">       
																<a  class="nav-link nav-link" href="#"  th:text="${catalogo.coleccion.nombre_mostrar}" style="color:#2fccae;padding:0px; line-height:14px;"></a>
															</p>
														    <h6 style="margin-top:5px;font-size:13px;">       
																<a  class="nav-link nav-link" href="#" th:id="${'precio-producto-'+catalogo.id}" th:text="${#numbers.formatDecimal( catalogo.precio, 1, 2) + ' €'}" style="color:#2fccae; padding:0px; padding-top:3px"></a>
															</h6>
														</div>
												  	</li>											  
												</ul>	
											</div>
										</div>
									</div>											
								</div>
								</div>
							</div>
							<div th:replace="fragments/fragmentsTPV :: menuPrincipalInferior"></div>
						</div>
						<div class=" col-lg-3 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 p-r-0 p-b-2 espacio-reservado-calculadora">
							<!--/* Para simular el espacio que ocupa el panel derecho */-->
						</div>
						<div th:replace="fragments/fragmentsTPV :: panelDerechoVentas">
									
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Modal de editar articulo generico-->
		<div class="modal fade" id="modalEditarProductoGenerico" role="dialog">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row justify-content-center">
		                    <div class="col-12" style="text-align:center;" >
		                    	<h3>Editar Producto Genérico</h3>
		                    </div>
		                </div>
		                <br>
		                <div class="container">
		                	<div class="row justify-content-center">
			                    <form id="form-editar-producto-generico" th:action="@{/tpv/ventas/editar/productoGenerico/ajax}" method="post" enctype="multipart/form-data" class="form-label-left" style="width:80%;">
									<div class="form-group row">
									    <div class="col-sm-9 col-12">
											<input type="hidden" id="id-producto-generico" name="id-producto-generico" class="form-control borde-input-visible observaciones-venta"></input>
										</div>
									 </div>
									<div class="form-group row">
									    <label class="col-form-label col-sm-3 col-12"
											for="nombre-producto-generico">Nombre
										</label>
									    <div class="col-sm-9 col-12">
											<input type="text" id="nombre-producto-generico" name="nombre-producto-generico" class="form-control borde-input-visible observaciones-venta"></input>
										</div>
									 </div>
									 <div class="form-group row">
									    <label class="col-form-label col-sm-3 col-12"
											for="precio-producto-generico">Precio
										</label>
									    <div class="col-sm-9 col-12">
											<input type="number" min="0.01" step="0.01" id="precio-producto-generico" name="precio-producto-generico" class="form-control borde-input-visible observaciones-venta"></input>
											<small class="form-text text-danger" id="error-precio-producto-generico" ></small>
										</div>
									 </div>
									<div class="row justify-content-center">
			                        	<div class="m-l-3 m-r-3" >
			                                <button type="submit" class="btn btn-success">
			                                    <i class="fa fa-btn fa-check"></i> Aceptar
			                                </button>
			                            </div>
			                            <div class="m-l-3 m-r-3">
			                                <button class="btn btn-danger" data-dismiss="modal">
			                                    <i class="fa fa-btn fa-times"></i> Cancelar
			                                </button>
			                            </div>
			                        </div>	
								</form>
			                </div>
		                </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal de editar articulo generico-->
		
		
			<!-- Modal eliminar-->
		<div class="modal fade" id="ModalEliminar" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12" style="text-align:center">
		                    <h3>Eliminar cliente</h3>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="cont-recup-text" >
		                        <p style="text-align:center;">¿Usted está seguro de eliminar el cliente seleccionado?</p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row">
	                        	<div class="col-sm-5  col-sm-offset-1 col-xs-8" style="text-align:right">
	                                <button id="btn-eliminar" class="btn btn-success" onclick="eliminarSeleccionado('/tpv/clientes/');">
	                                    <i class="fa fa-btn fa-check"></i> Confirmar
	                                </button>
	                            </div>
	                            
	                            <div class="col-sm-5 col-xs-8">
	                                <button class="btn btn-danger" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal eliminar-->
		
		<!-- Modal de opcion no seleccionada-->
		<div class="modal fade" id="modalSinSeleccion" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12" style="text-align:center">
		                    <h3>Seleccionar una Venta</h3>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="cont-recup-text" >
		                        <p style="text-align:center;">Para continuar, debe seleccionar una venta pendiente</p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row">
	                        	<div class="col-sm-8 col-sm-offset-1 col-xs-10" style="text-align:right">
	                                <button class="btn btn-danger m-l-10" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal de opcion no seleccionada-->

		<div class="modal fade" id="modalSinSeleccionVenta" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12 m-l-20" style="text-align:center">
		                    <h3>No hay venta creada</h3>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="cont-recup-text m-l-3 m-r-3 m-t-2" >
		                        <p style="text-align:center;">Para continuar, debe seleccionar "Nueva Venta" para generar una venta</p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row">
	                        	<div class="col-sm-8 col-sm-offset-1 col-xs-10" style="text-align:center">
	                                <button class="btn btn-danger m-l-45 m-t-5" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cerrar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal de opcion no seleccionada-->
		
			<!-- Modal eliminar-->
		<div class="modal fade" id="ModalEliminarVenta" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12" style="text-align:center">
		                    <h3>Venta Activa</h3>
		                    </div>
		                </div>
		                <div class="row">
		                   <div class="cont-recup-text" th:if="${ventaActiva != null}">
		                        <p style="text-align:center;" th:text="'Tiene una venta activa (Ticket n°:'+${ventaActiva.id}+'), ¿desea eliminarla o conservarla?'"></p>
		                    </div>
		                </div>
		                
						<div class="form-group">
	                    	<div class="row">
	                        	<div class="col-sm-5  col-sm-offset-1 col-xs-8" style="text-align:right">
	                                <button id="btn-eliminar" class="btn btn-success" onclick="eliminarVenta();">
	                                    <i class="fa fa-btn fa-check"></i> Eliminar
	                                </button>
	                            </div>
	                            
	                            <div class="col-sm-5 col-xs-8">
	                                <button class="btn btn-danger" onclick="EnviarSeleccionado('/tpv/ventas/');">
	                                    <i class="fa fa-btn fa-times"></i> Enviar a Pendientes
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal de opcion no seleccionada-->
		<div th:replace="fragments/fragmentsTPV :: modalRelogin"></div>
		<div th:replace="fragments/fragmentsTPV :: modalYaHayActualVacio"></div>
		<div th:replace="fragments/fragmentsTPV :: modalReusarTicket"></div>
		<div th:replace="fragments/fragmentsTPV :: modalVendedores"></div>
		<div th:replace="fragments/fragmentsTPV :: modalSinSeleccionVenta"></div>
		<div th:replace="fragments/fragmentsTPV :: modalAnulacionesServiciosOrPagos"></div>
		<div th:replace="fragments/fragmentsTPV :: modalObservacionesDeVenta"></div>
		<div th:replace="fragments/fragmentsTPV :: modalEnviarTicketEmail"></div>
		<div th:replace="fragments/fragmentsTPV :: modalVentaConsumoInterno"></div>
	</div>
	<div th:replace="fragments/fragmentsTPV :: scripts"></div>
	<script th:replace="fragments/autocompletarBuscador :: javascript"></script>
	<script type="text/javascript">
		var altoMenuPrincipal = $(".menu-principal").height();
		var altoMenuModulo = $(".menu-modulo").height();	
		var altoMenuInferior = $(".menu-principal-inferior").height();
		
		var altoListadoProductos = window.innerHeight - altoMenuPrincipal - altoMenuModulo -  altoMenuInferior - 30;
		$(".listado-productos").css("height", altoListadoProductos+"px");
	
		var anchoBotonesClientes = $(".listado-productos").width() - 16;
		$(".menu-principal-inferior").width(anchoBotonesClientes);
		$(".menu-principal-inferior").css("margin-left", $(".listado-productos").css('padding-left'));
		
		$(window).resize(function(){
			var altoMenuPrincipal = $(".menu-principal").height();
			var altoMenuModulo = $(".menu-modulo").height();	
			var altoMenuInferior = $(".menu-principal-inferior").height();
			
			var altoListadoProductos = window.innerHeight - altoMenuPrincipal - altoMenuModulo -  altoMenuInferior - 33;
			$(".listado-productos").css("height", altoListadoProductos+"px");
			
			var anchoBotonesClientes = $(".listado-productos").width() - 16;
			$(".menu-principal-inferior").width(anchoBotonesClientes);
			$(".menu-principal-inferior").css("margin-left", $(".listado-productos").css('padding-left'));
		});
		
		$('#buscadorProducto').on('keyup',function(){
			urlBuscadorProducto = $('#urlBuscadorProducto').val();
			value=$(this).val();
          	if (value === "") {
          	   value = "todos-productos";
          	}
          	$.ajax({
		   		type : 'GET',
		   		url : urlBuscadorProducto +  value,
		   		success:function(data){
					$(".sustituible-ajax").html( data );
					
          		}

          	});
		});
		
	</script>
</body>
</html>