<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div class="clearfix"></div>

<div  class="col-lg-6 col-md-12 col-sm-6 col-8 " th:if="${fechainf==true}" > 
<div class="form-group row" style="margin:0px;margin-right: -15%;">
		<div class="col-lg-1 col-1 col-xs-1 col-md-5 col-form-label col-form-label-sm" style="padding-top:5px;margin-right: -5%;">
			<input  class="check-list" type="checkbox"  value="Desde,Hasta" style="text-align: left;" id="date-paker" onclick="CheckValue(this.id);" />
		</div>
		
	  <div class="col-lg-5 col-xs-1 col-md-5 col-form-label col-form-label-sm" style="text-align: left;display:flex;" >
	    <label class="col-lg-5 col-md-5 col-form-label col-form-label-sm "  style="text-align: left;font-weight: 600;font-size: 14px;color:#11437e;">
	    	Fecha Desde:
	    </label>
	    
	      <input id="filtroFechaDesde" type="text"  class="form-control form-control-sm col-lg-6 col-md-5 datepicker"  placeholder="..." style="text-align:center;"   >
	    
	  
		</div>
		<div class="col-lg-5 col-xs-1 col-md-5 col-form-label col-form-label-sm" style="text-align: left;display:flex;" >
		    <label class="col-lg-5 col-md-5 col-form-label col-form-label-sm "  style="text-align: left;font-weight: 600;font-size: 14px;color:#11437e;">
		    	Fecha Hasta:
		    </label>
		    
		      <input id="filtroFechaHasta" type="text"  class="form-control form-control-sm col-lg-6 col-md-5 datepicker"  placeholder="..." style="text-align:center;"   >
		    
		</div>

   
</div>
</div>

<div class="col-lg-4 col-md-12 col-sm-6 col-8 selects" th:if="${checkbox} != null" th:each="campocheck,iterc: ${checkbox}" style="margin-right: -8%;">
	
	<div class="form-group row " style="margin:0px;">
		
		<div class="col-lg-4 col-xs-1 col-md-5  col-form-label col-form-label-sm check-inputs" style="text-align: left;margin-right:-12%">
			<input  class="check-list p-t-1" type="checkbox"   style="text-align: left;" th:id="${iterc.count}" th:value="${checkbox[__${iterc.index}__]}" onclick="CheckValue(this.id);"/>
			<label class="col-lg-3 col-md-5 col-form-label col-form-label-sm" style="text-align: center;font-weight: 600;font-size: 14px;padding-right: 3px;color:#11437e;" th:text="${checkbox[__${iterc.index}__]+':'}">
		    	
		    </label>
		</div>
		
		<div class="col-lg-4 col-md-6 " th:if="${checkbox[__${iterc.index}__]=='Marca'  and marcas!=null}">
		     <select  th:id="${'filtrocheck'+iterc.count}" class="form-control form-control-sm checkselect" style="text-align:center;"  disabled>
			  <option class="col-md-6" value="0"></option>
			  <option class="col-md-6"
			      th:each="marcau: ${marcas}"
			      th:value="${marcau.id}"
			      th:text="${marcau.id+': '+marcau.nombre}" ></option>
			</select>
		</div>	
		<div class="col-lg-6 col-md-6 " th:if="${checkbox[__${iterc.index}__]=='Empresa' and empresas!=null}">
		     <select  th:id="${'filtrocheck'+iterc.count}" class="form-control form-control-sm checkselect" style="text-align:center;" disabled>
			  <option class="col-md-6" value="0"></option>
			  <option class="col-md-6"
			      th:each="empresa: ${empresas}"
			      th:value="${empresa.empresa.id}"
			      th:text="${empresa.empresa.nombre}" ></option>
			</select>
		</div>	
		<div class="col-lg-6 col-md-6 " th:if="${checkbox[__${iterc.index}__]=='Cliente' }">
		    <div class="col-lg-7">
		      <input type="text"  th:id="${'filtrocheck'+iterc.count}"  class="form-control form-control-sm checkselect cliente" placeholder="..." style="text-align:center;" disabled>
		    </div>
		</div>	
		<div class="col-lg-6 col-md-6 " th:if="${checkbox[__${iterc.index}__]=='Sucursal' and sucursales!=null}">
		     <select  th:id="${'filtrocheck'+iterc.count}" class="form-control form-control-sm checkselect" style="text-align:center;"  disabled>
			  <option  class="col-md-6" value="0"></option>
			  <option class="col-md-6"
			      th:each="sucursalus: ${sucursales}"
			      th:value="${sucursalus.id}"
			      th:text="${sucursalus.id+': '+sucursalus.nombre}" ></option>
			</select>
		</div>	
		<div class="col-lg-6 col-md-6 " th:if="${checkbox[__${iterc.index}__]=='Agente'}">
		     <div class="col-lg-7">
		      <input type="text"  th:id="${'filtrocheck'+iterc.count}" class="form-control form-control-sm checkselect agente" placeholder="..." style="text-align:center;" disabled>
		    </div>
		</div>
		<div class="col-lg-6 col-md-6 " th:if="${checkbox[__${iterc.index}__]=='Familia' }">
		     
			<div class="col-lg-7">
		      <input type="text"  th:id="${'filtrocheck'+iterc.count}" class="form-control form-control-sm checkselect familia" placeholder="..." style="text-align:center;" disabled>
		    </div>
		</div>
		<div class="col-lg-6 col-md-6 " th:if="${checkbox[__${iterc.index}__]=='Coleccion' }">
		    <input type="text"  th:id="${'filtrocheck'+iterc.count}" class="form-control form-control-sm checkselect coleccion" placeholder="..." style="text-align:center;" disabled>
		</div>
		<div class="col-lg-6 col-md-6 " th:if="${checkbox[__${iterc.index}__]=='Tpago' and agentes!=null}">
		     <select  th:id="${'filtrocheck'+iterc.count}" class="form-control form-control-sm checkselect" style="text-align:center;"  disabled>
			  <option value="0"></option>
			  <option value="T"></option>
			  <option value="V"></option>
			</select>
		</div>
		<div class="col-lg-6 col-md-6 " th:if="${checkbox[__${iterc.index}__]=='Producto' and agentes!=null}">
		    <div class="col-lg-7">
		      <input type="text"  th:id="${'filtrocheck'+iterc.count}" class="form-control form-control-sm checkselect producto" placeholder="..." style="text-align:center;" disabled>
		    </div>
		</div>
	</div>
</div>

