<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragmentsTPV :: head"></head>
<body class="nav-md">
	<div class="body" style="overflow: hidden;">
		<div>
			<th:block th:replace="fragments/fragmentsTPV :: mensajesNotificaciones"></th:block>
			<div th:replace="fragments/fragmentsTPV :: barraSuperior"></div>

			<!-- Page content -->
			<div class="fondoGrisClaro p-b-2">
				<div class="container " style="max-width:100%">
					<div class="row justify-content-center">
						<div class="contenido-modulo col-12">
						<div class="barra-superior-listas row" style="width: 100%;margin: 0;margin-top: 10px;padding-left:10px;padding-right:10px;">
								<div class=" col-lg-12 col-md-12 col-sm-12 col-12 ">
									<div class="container">
										<div class="row"  style="padding-top: 10px;padding-bottom: 10px;display:flex;">
											
											<div class="col-lg-6 col-md-6 col-sm-6 col-8">
												<div class="form-group row" style="margin:0px;">
												    <label class="col-lg-4 col-md-7 col-form-label col-form-label-sm" style="text-align: left;font-weight: 600;font-size: 14px;top: 4px;padding-right: 3px;color:#11437e;">
												    	Seleccione Grupo de Listado: 
												    </label>
												    
												    <div class="col-lg-6 col-md-5">
												       <select id="filtroGrupoListadoQuery" class="form-control form-control-sm" style="text-align:center;" onchange="listadoGgrupo();">
														  <option value="0"></option>
														  <option 
														  		th:if="${listafiltro!=null}"
														      th:each="listado: ${listafiltro}"
														      th:value="${listado.id}"
														      th:text="${listado.nombre}" ></option>
														</select>
												    </div>
												 </div>
											</div>
											
												<div class="col-lg-6 col-md-6 col-sm-6 col-8" >
												<div class="form-group row" style="margin:0px;">
												    <label class="col-lg-3 col-md-5 col-form-label col-form-label-sm" style="text-align: right;font-weight: 600;font-size: 14px;top: 4px;padding-right: 5px;color:#11437e;">
												    	Seleccione Listado: 
												    </label>
												    
												    <div class="col-lg-6 col-md-5">
												       <select id="filtroListadoQuery" class="form-control form-control-sm" style="text-align:center;" onchange="listado();">
														  <option value="0"></option>
														  
														</select>
												    </div>
												 </div>
											</div>
											
											
											
										</div>
										
									</div>
									
									
								</div>
								
							</div>
							<div class="barra-inferior-opciones row" style="width: 100%;margin: 0;margin-top: 10px;padding-left:10px;padding-right:10px;display:none;" >
								<div class=" col-lg-12 col-md-12 col-sm-12 col-12 estilo-tarjeta">
									<div class="container">
										<div class="row"  style="padding-top: 10px;padding-bottom: 10px;">
											
											<div class="col-lg-12 col-xs-1 col-md-5 col-form-label col-form-label-sm listas-boton" style="margin:0px;" style="display:none;" id="barra-inf">
												 <div class="col-lg-12 col-xs-1 col-md-12 m-t-1 col-form-label col-form-label-sm vista-check" style="text-align: left;display:flex;" >
														
												</div>
												<div class="col-1 col-lg-1 pull-right p-t-1 p-l-1 p-b-1 p-r-2 boton-info" style="display:none;">
													<div class="col-lg-4 col-md-9 col-8">
													</div>
													
													<div class="col-lg-12 col-md-3 col-4 pull-right" >
														<a class="green-button btn btn-primary btn-block text-left gray-button" style="font-size:14px; font-weight: bold;" href="#"  onclick="GenerarLista();" >Filtrar</a>
													</div>
												</div>
											</div>
											
											
										</div>
										
									</div>
									
									
								</div>
								
							</div>
							
							
							<div class="row p-b-3 m-r-0 m-l-0 justify-content-center contenido-listado" style="margin-top:10px;padding-left:10px;padding-right:10px;">
								
								<!-- AQUI EMPIEZA EL CONTENIDO -->
								<div class="col-12 panelBlanco listado-clientes overflow-auto">
								<div class="x_panel">	
									<div th:fragment="x_content">
										<div style="overflow-x:auto;" class="vista-informes" id="tabla-informes-div">								
											
										</div>
									</div>
								</div>
								</div>
								
							</div>			
						</div>
					</div>
				</div>
				<div th:replace="fragments/fragmentsTPV :: menuPrincipalInferiorInformes"></div>
			</div>		
			<!-- Modal Compartir-->
		<div class="modal fade" id="ModalCompartirInforme" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12 col-lg-12" style="text-align:center">
		                    <h3>Seleccionar formato</h3>
		                    </div>
		                </div>
		                <div class="row p-t-2">
		                    <div class="cont-recup-text col-lg-12" >
		                        <p style="text-align:center;">Por favor, elija el formato</p>
		                    </div>
		                </div>
		                
						<div class="form-group p-t-1">
	                    	<div class="row p-t-1">
	                        	<div class="col-sm-5 col-lg-6 col-sm-offset-1 col-xs-8 p-l-1 p-r-1" style="text-align:right">
	                                <button class="btn btn-success" id="compartir-csv" onclick="Compartir(this.id);">
	                                    <i class="fa fa-btn "></i> CSV
	                                </button>
	                            </div>
	                            
	                            <div class="col-sm-5 col-lg-6 col-xs-8 p-l-1 p-r-1" >
	                                <button class="btn btn-danger" id="compartir-pdf" onclick="Compartir(this.id);">
	                                    <i class="fa fa-btn "></i> PDF
	                                </button>
	                            </div>
	                            <div class="col-sm-5 col-lg-12 col-sm-offset-1 col-xs-8 p-l-1 p-r-1 p-t-2" style="text-align:center">
	                                <button class="btn btn-danger" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal Compartir-->		
			<!-- Modal CompartirTipoDoc-->
		<div class="modal fade" id="ModalCompartirInformeMetodo" role="dialog">
		    <div class="modal-dialog">
		        <!-- Modal content-->
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="row">
		                    <div class="col-xs-12 col-lg-12" style="text-align:center">
		                    <h3>Seleccionar método</h3>
		                    </div>
		                </div>
		                <div class="row p-t-2">
		                    <div class="cont-recup-text col-lg-12" >
		                        <p style="text-align:center;">Por favor, elija el método con el que desea obtener el documento</p>
		                    </div>
		                </div>
		                
						<div class="form-group p-t-1">
	                    	<div class="row p-t-1">
	                        	<div class="col-sm-5 col-lg-4 col-sm-offset-1 col-xs-8 p-l-4 p-r-1" style="text-align:right">
	                                <button id="btn-eliminar" class="btn btn-primary" id="exportar-salvar" onclick="CompartirDoc(this.id);">
	                                    <i class="fa fa-btn "></i> Exportar y guardar
	                                </button>
	                            </div>
	                            
	                            <div class="col-sm-5 col-lg-4 col-xs-8 col-sm-offset-1 p-l-4 " style="text-align:center">
	                                <button class="btn btn-info" id="imprimir" onclick="CompartirDoc(this.id);">
	                                    <i class="fa fa-btn "></i> Imprimir
	                                </button>
	                            </div>
	                            
	                            <div class="col-sm-5 col-lg-4 col-sm-offset-1 col-xs-8 p-l-1 p-r-5" style="text-align:right">
	                                <button id="btn-eliminar" class="btn btn-success" data-toggle="modal" data-target="#modalEnviarDocEmail" id="enviar-email" onclick="CompartirDoc(this.id);">
	                                    <i class="fa fa-btn "></i> Enviar por email
	                                </button>
	                            </div>
	                            <div class="col-sm-5 col-lg-12 col-sm-offset-1 col-xs-8 p-l-1 p-r-1 p-t-3" style="text-align:center">
	                                <button class="btn btn-danger" data-dismiss="modal">
	                                    <i class="fa fa-btn fa-times"></i> Cancelar
	                                </button>
	                            </div>
	                        </div>
		               </div>
		                
		            </div>
		        </div>  
		    </div>
		</div>
		<!-- Modal TipoDeDoc-->	
		<!-- Modal de enviar por email el documento-->
			<div th:fragment="modalEnviarDocEmail">
			
					<div class="modal fade" id="modalEnviarDocEmail" role="dialog">
					    <div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-body">
					                <div class="row justify-content-center">
					                    <div class="col-12" style="text-align:center;" >
					                    	<h3>Enviar documento por email</h3>
					                    </div>
					                </div>
					                <br>
					                <div class="container p-t-4">
					                	<div class="row justify-content-center">
						                    <form   method="post" enctype="multipart/form-data" th:action="@{/tpv/enviaremail}" class="form-label-left" style="width:80%;">
												<div class="form-group row">
												    <label class="col-form-label col-sm-3 col-12"
														for="email-compartir">Email
													</label>
												    <div class="col-sm-9 col-12">
														<input 
														type="text" id="email-informe" name="email-informe" class="form-control borde-input-visible " 
														 placeholder="ejemplo1@ejemplo1.com;ejemplo2@ejemplo2.com;" required></input> 
														<small class="form-text text-danger" id="error-email-compartir" ></small>
													</div>
												 </div>
												<div class="row justify-content-center p-b-4">
						                        	<div class="m-l-3 m-r-3" >
						                                <button type="submit" class="btn btn-success" >
						                                    <i class="fa fa-btn fa-check"></i> Aceptar
						                                </button>
						                            </div>
						                            <div class="m-l-3 m-r-3">
						                                <button class="btn btn-danger" data-dismiss="modal">
						                                    <i class="fa fa-btn fa-times"></i> Cancelar
						                                </button>
						                            </div>
						                        </div>	
											</form>
						                </div>
					                </div>
					            </div>
					        </div>  
					    </div>
					</div>
				
			</div>
			<!-- Modal de enviar por email el documento-->
		</div>

	
		
		
		
	</div>
	<div th:replace="fragments/fragmentsTPV :: modalRelogin"></div>
	<div th:replace="fragments/fragmentsTPV :: scripts"></div>
	
	<script>

	$(document).ready(function() {
		
		 cargarCamposDeFiltrosInf();
	});

	 function InformesSortt() 
		{ 
			 $("#tabla-informes").tablesorter({
			  		cssAsc: 'headerSortUp',
			  		cssDesc: 'headerSortDown'
			  	});
		}; 
		
			
		
		
	function CheckValue(e){
	
		var valuecheck=$('#'+e).val();
		var variable= "#filtrocheck"+e;
		
		$(variable).autocomplete({
			source : function(request, response) {
				var busqueda=$("#filtrocheck"+e ).val();
				var urlInf="";
				if ($(variable).hasClass("cliente")) {
					urlInf="/tpv/litados/buscar/cliente/ajax";
		          	}
				if ($(variable).hasClass("agente")) {
					urlInf="/tpv/litados/buscar/agente/ajax";
		          	}
				if ($(variable).hasClass("producto")) {
					urlInf="/tpv/litados/buscar/producto/ajax";
		          	}
				if ($(variable).hasClass("familia")) {
					urlInf="/tpv/litados/buscar/familia/ajax";
		          	}
				
				$.ajax({
			   		type : 'GET',
			   		url : urlInf,
			   		contentType: "application/json",
			   		data:{busqueda:busqueda},
			   		success:function(data){
			   			
			   			var jsonConDuplicados = JSON.parse(data);
						var nameArray = [];
						
						//Para eliminar los registros duplicados que vienen del servidor
						var idsArticulos = [],
					    json = [];

						$.each(jsonConDuplicados, function (index, value) {
						    if ($.inArray(value[0], idsArticulos) == -1) {
						        idsArticulos.push(value[0]);
						       
						        json.push(value);
						    }
						});
						//------------------------------------------------------------
						
						
						if(Object.keys(json).length == 0){
							nameArray.push({value:"0", label:"No se encontraron resultados"});
						}else{
							for(var i in json) {
								if ($(variable).hasClass("cliente") || $(variable).hasClass("agente")  ) {
									nameArray.push({value:json[i][0], label: json[i][1]+" "+json[i][2]});
								}
								if ($(variable).hasClass("producto") || $(variable).hasClass("familia")) {
									nameArray.push({value:json[i][0], label: json[i][1]});
								}
													        	  
					        }
						}
												
				        response(nameArray);	
	
					},
				});
			},
			select : function(event, ui) {
				
				var id = ui.item.value;
			
				$(variable).val(ui.item.label);
				$(variable).attr("value",id);
				return false;				
				
			}
		});
		sessionStorage.setItem("IdInforme",e);
		//sessionStorage.setItem("IdInforme",$('div.check-nro'+e).next().children().find("input[type=text]").attr("id"));
		$("#boton-filtro").css("cursor","pointer");
		$("#div-filtro").css("cursor","pointer");
		var filtro = $("#filtroListadoQuery").val();
		if($('#'+e).prop('checked') == true){
				if(e=='date-paker'){
					$('#filtroFechaDesde').prop('disabled', false);
					$('#filtroFechaHasta').prop('disabled', false);
				}else{
					$('#filtrocheck'+e).prop('disabled', false);
				}
				
		}else{
			if(e=='date-paker'){
				$('#filtroFechaDesde').prop('disabled', 'disabled');
				$('#filtroFechaDesde').val("");
				$('#filtroFechaHasta').prop('disabled', 'disabled');
				$('#filtroFechaHasta').val("");
			}else{
				$('#filtrocheck'+e).prop('disabled', 'disabled');
			}
		}
		
	}
	
		function cargarCamposDeFiltrosInf(){
			
			var filtroFechaDesde =  sessionStorage.getItem("filtroFechaDesdeInformes");
			var filtroFechaHasta =  sessionStorage.getItem("filtroFechaHastaInformes");
			
			
			
			//si es diferente de null  y vacio
			if(filtroFechaDesde!='undefined' && filtroFechaDesde!=null){
				$("#filtroFechaDesde").val(filtroFechaDesde);
			
			}else{
			//else, coloco la fecha actual y la guardo en las variables de sesión
				
				$("#filtroFechaDesde").datepicker().datepicker("setDate", new Date());
				sessionStorage.setItem("filtroFechaDesdeInformes", $('#filtroFechaDesde').val());
			}
			
			if(filtroFechaHasta!='undefined' && filtroFechaHasta!=null){
				$("#filtroFechaHasta").val(filtroFechaHasta);
				
			}else{
				
				$("#filtroFechaHasta").datepicker().datepicker("setDate", new Date());
				sessionStorage.setItem("filtroFechaHastaInformes", $('#filtroFechaHasta').val());
			}
			
			
			
		}
		
		

		// funcion de filtro 
		function GenerarLista(){
			
			sessionStorage.setItem("filtroFechaDesdeInformes", $('#filtroFechaDesde').val());
			sessionStorage.setItem("filtroFechaHastaInformes", $('#filtroFechaHasta').val());
			
			var valores="";
			var criterios="";
			 var  arr = $.map
			
			      (
			    		  
			         $('.selects').find('.checkselect option:selected'), function(n)
			 
			          {
			        	 
			               return n.value;
							
			           }
			 
			       );
			 var arr = new Array();
			 $('.checkselect').each(function(){
				    arr.push($(this).attr("value"));
				})
				
			 if($("#filtroFechaDesde").prop('disabled')==false && $("#filtroFechaHasta").prop('disabled')==false ){
				 var inputDesde = $("#filtroFechaDesde").datepicker("getDate");
					var inputHasta = $("#filtroFechaHasta").datepicker("getDate");
			
					var fechaDesde = $.datepicker.formatDate("yy-mm-dd", inputDesde);
					var fechaHasta = $.datepicker.formatDate("yy-mm-dd", inputHasta);
					fechasValidas();
					if(fechaDesde!="" && fechaHasta!="" && $('#date-paker').prop('checked')){
						 
						 valores=fechaDesde+","+fechaHasta;
					 }
					
					if(arr.join(",")!=0 && arr.join(",")!="" && valores!=""){
						 valores+=','+arr.join(",");
					 }
					if(arr.join(",")!=0 && arr.join(",")!="" && valores==""){
						 valores+=arr.join(",");
					 }
			 }else{
				 if(arr.join(",")!=0 && arr.join(",")!=""){
					 valores+=arr.join(",");
				 }
			 }
			
			 console.log(valores);
			 var checkedVals = $('.check-list:checkbox:checked').map(function() {
				    return this.value;
				}).get();
			 criterios=checkedVals.join(",");
			 if(criterios!="" && valores!="" && valores.split().length==criterios.split().length){
					sessionStorage.setItem("valores",valores.split());
					sessionStorage.setItem("criterios",criterios.split());
					
				 $.ajax({
				        type: "POST",
				        url: "/tpv/checkinformes/ajax/"+valores.split()+"/"+criterios.split(),
				        success: function(data)
				        {
				        	sessionStorage.setItem("Data",data);
				        	
				        
				        	$(".vista-informes").html( data ); 
				        	
				        	$.datepicker.regional['es'] = {
				        			closeText: 'Cerrar',
				        			prevText: '< Ant',
				        			nextText: 'Sig >',
				        			currentText: 'Hoy',
				        			monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
				        			monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
				        			dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
				        			dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
				        			dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
				        			weekHeader: 'Sm',
				        			dateFormat: 'dd/mm/yy',
				        			firstDay: 1,
				        			isRTL: false,
				        			showMonthAfterYear: false,
				        			yearSuffix: ''
				        		};
				        		$.datepicker.setDefaults($.datepicker.regional['es']);
				        		
				        		$('.datepicker').datepicker({
				        		    format: 'dd/mm/yy',
				        		    changeYear: true,
				        		    changeMonth: true,
				        		    autoclose: true
				        		});
				        		$(".table-resizable").colResizable({
				    				liveDrag:true, 
				    		        draggingClass:"dragging", 
				    		        resizeMode:'fit',
				    		        postbackSafe:true,
				    		        partialRefresh:true
				    			    
				    			});
				        		$('.colum-informes').css('width','');
				        		$('.colum-informes').width(15);
				        			  cargarCamposDeFiltrosInf();
				        			 
				        			  if( $( "#tabla-informes" ).length){
				        					 
				        		        		$("#compartir-boton").css("cursor","pointer");
				        		        		$("#div-modal-comp").attr("data-toggle","modal");
				        		        		$("#div-modal-comp").attr("data-target","#ModalCompartirInforme");
				        		        		
				        		        	}else{
				        		        		$("#compartir-boton").css("cursor","default");
				        		        		$("#div-modal-comp").attr("data-toggle","");
				        		        		$("#div-modal-comp").attr("data-target","");
				        		        	}	
				        			 
				        					
				        }
				      });
					
			 }
			
			
			
		};
		//termina función de filtro
	//listado informes
		
	        				/*	$(variable).on('keyup',function(){
	        						urlBuscadorCliente = $(variable).val();
	        						value=$(this).val();
	        			          console.log(value);
	        					});*/
	function listado(){ 
		
		var filtro = $("#filtroListadoQuery").val();
		
		document.getElementById ("tabla-informes-div"). innerHTML = "";
		if(filtro!=0){
			$('.barra-inferior-opciones').css('display','block');
			$.ajax({
		        type: "POST",
		        url: '/tpv/check/ajax/'+filtro,
		        success: function(data)
		        {
		        	
		        	$(".vista-check").html( data );
		        	
		        	$.datepicker.regional['es'] = {
		        			closeText: 'Cerrar',
		        			prevText: '< Ant',
		        			nextText: 'Sig >',
		        			currentText: 'Hoy',
		        			monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		        			monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		        			dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		        			dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		        			dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		        			weekHeader: 'Sm',
		        			dateFormat: 'dd/mm/yy',
		        			firstDay: 1,
		        			isRTL: false,
		        			showMonthAfterYear: false,
		        			yearSuffix: ''
		        		};
		        		$.datepicker.setDefaults($.datepicker.regional['es']);
		        		
		        		$('.datepicker').datepicker({
		        		    format: 'dd/mm/yy',
		        		    changeYear: true,
		        		    changeMonth: true,
		        		    autoclose: true
		        		});
		        		
		        		cargarCamposDeFiltrosInf();
		        			  var altoBarraSupInformes = $(".barra-superior-listas").height();
		        				var altoBarraInfOpciones = $(".barra-inferior-opciones").height();
		        				var altoMenuPrincipal = $(".menu-principal").height();
		        				var altoMenuInferior = $(".menu-principal-inferior").height();
		        				var altoListadoClientes = window.innerHeight - altoMenuPrincipal - altoBarraInfOpciones - altoBarraSupInformes - altoMenuInferior -55;
		        				$(".listado-clientes").css("height", altoListadoClientes+"px");
		        				
		        				
		        				var anchoFormularioCliente = $(".contenido-listado").width()-16;
		        				$(".menu-principal-inferior").width(anchoFormularioCliente);
		        				$(".menu-principal-inferior").css("margin-left", $(".contenido-listado").css('padding-left'));
		        				var idinf= sessionStorage.getItem("IdInforme");
	        					var variable= "#filtrocheck"+idinf;
	        					
		        			
		        						
		        }
		      });
			
		
		}else{
			
		}
		
	}
	function listadoGgrupo(){ 
		
		document.getElementById ("tabla-informes-div"). innerHTML = "";
		 cargarCamposDeFiltrosInf();
		var filtro = $("#filtroGrupoListadoQuery").val();
		/*if(filtro==0){
			$(".vista-informes").empty();
			*/
			$("#boton-filtro").css("cursor","default");
			$("#div-filtro").css("cursor","default");
		$.ajax({
	        type: "GET",
	        url: "/tpv/grupoinformes/ajax/"+filtro,
	        success: function(data)
	        {
	        	var count=0;
	        	var rows="";
	        	while (count<data.length) {
	        		 rows += '<option value='+data[count] +'>'+data[count+1]+'</option>';
	        		count=count+2;
	        	}
	        	$("#filtroListadoQuery").empty();
	        	$("#filtroListadoQuery").html('');
	        	$("#filtroListadoQuery").html(rows);
	        	$(".listas-boton").css('display','flex');
	        	//$(".boton-info").css('display','block');
	        	listado();
	        	
	        		var idinf= sessionStorage.getItem("IdInforme");
	        		var variable= "#filtrocheck"+idinf;
	        		
	        		$(variable).autocomplete({
	        			source : function(request, response) {
	        				var busqueda=$("#filtrocheck"+idinf ).val();
	        				var urlInf="";
	        				if ($(variable).hasClass("cliente")) {
	        					urlInf="/tpv/litados/buscar/cliente/ajax";
	        		          	}
	        				if ($(variable).hasClass("agente")) {
	        					urlInf="/tpv/litados/buscar/agente/ajax";
	        		          	}
	        				if ($(variable).hasClass("producto")) {
	        					urlInf="/tpv/litados/buscar/producto/ajax";
	        		          	}
	        				if ($(variable).hasClass("familia")) {
	        					urlInf="/tpv/litados/buscar/familia/ajax";
	        		          	}
	        				
	        				$.ajax({
	        			   		type : 'GET',
	        			   		url : urlInf,
	        			   		contentType: "application/json",
	        			   		data:{busqueda:busqueda},
	        			   		success:function(data){
	        			   			
	        			   			var jsonConDuplicado = JSON.parse(data);
	        						var nameArray = [];
	        						
	        						//Para eliminar los registros duplicados que vienen del servidor
	        						var idsArticulos = [],
	        					    json = [];

	        						$.each(jsonConDuplicado, function (index, value) {
	        						    if ($.inArray(value[0], idsArticulos) == -1) {
	        						        idsArticulos.push(value[0]);
	        						       
	        						        json.push(value);
	        						    }
	        						});
	        						//------------------------------------------------------------
	        						
	        						
	        						if(Object.keys(json).length == 0){
	        							nameArray.push({value:"0", label:"No se encontraron resultados"});
	        						}else{
	        							for(var i in json) {
	        								//if ($(variable).hasClass("cliente") || $(variable).hasClass("agente")  ) {
	        									nameArray.push({value:json[i][0], label: json[i][1]+" "+json[i][2]});
	        								/*}
	        								if ($(variable).hasClass("producto") || $(variable).hasClass("familia")) {
	        									nameArray.push({value:json[i][0], label: json[i][1]});
	        								}*/
	        													        	  
	        					        }
	        						}
	        												
	        				        response(nameArray);	
	        	
	        					},
	        				});
	        			},
	        			select : function(event, ui) {
	        				
	        				var id = ui.item.value;
	        			
	        				$(variable).val(ui.item.label);
	        				$(variable).attr("value",id);
	        				return false;				
	        				
	        			}
	        		});

	        		
	        	
	        }
	      });
		
	}

	var altoBarraSupInformes = $(".barra-superior-listas").height();
	var altoBarraInfOpciones = $(".barra-inferior-opciones").height();
	var altoMenuPrincipal = $(".menu-principal").height();
	var altoMenuInferior = $(".menu-principal-inferior").height();
	var altoListadoClientes = window.innerHeight - altoMenuPrincipal - altoBarraInfOpciones - altoBarraSupInformes - altoMenuInferior - 25;
	$(".listado-clientes").css("height", altoListadoClientes+"px");
	$(".div-listar-botones").css("height", altoListadoClientes+"px");
	
	var anchoFormularioCliente = $(".contenido-listado").width()-16;
	$(".menu-principal-inferior").width(anchoFormularioCliente);
	$(".menu-principal-inferior").css("margin-left", $(".contenido-listado").css('padding-left'));
	
	$(window).resize(function(){
		var altoBarraSupInformes = $(".barra-superior-listas").height();
		var altoBarraInfOpciones = $(".barra-inferior-opciones").height();
		var altoMenuPrincipal = $(".menu-principal").height();
		var altoMenuInferior = $(".menu-principal-inferior").height();
		if($(".barra-inferior-opciones").css('display')=='block'){
			var altoListadoClientes = window.innerHeight - altoMenuPrincipal - altoBarraInfOpciones - altoBarraSupInformes - altoMenuInferior - 55;
		}else{ 
			var altoListadoClientes = window.innerHeight - altoMenuPrincipal - altoBarraInfOpciones - altoBarraSupInformes - altoMenuInferior - 25;
		}
		
		$(".listado-clientes").css("height", altoListadoClientes+"px");
		$(".div-listar-botones").css("height", altoListadoClientes+"px");
		
		var anchoFormularioCliente = $(".contenido-listado").width()-16;
		$(".menu-principal-inferior").width(anchoFormularioCliente);
	
		$(".menu-principal-inferior").css("margin-left", $(".contenido-listado").css('padding-left'));
	});
	

    $.datepicker.regional['es'] = {
			closeText: 'Cerrar',
			prevText: '< Ant',
			nextText: 'Sig >',
			currentText: 'Hoy',
			monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
			monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
			dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
			dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
			dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
			weekHeader: 'Sm',
			dateFormat: 'dd/mm/yy',
			firstDay: 1,
			isRTL: false,
			showMonthAfterYear: false,
			yearSuffix: ''
		};
		$.datepicker.setDefaults($.datepicker.regional['es']);
		
		$('.datepicker').datepicker({
		    format: 'dd/mm/yy',
		    changeYear: true,
		    changeMonth: true,
		    autoclose: true
		});	
		
	</script>
	
</body>
</html>