<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


	<div class="x_content" th:if="${listado!=null}">
	
		<table id="tabla-informes" class="table table-responsive table-hover separadorInfTabla tablesorter table-bordered table-resizable " >
			<thead>
				<tr >
					<th:block th:if="${cabecera} != null" th:each="header,iter: ${cabecera}">
						<th class="td-tabla ord-cli tam-th-pag colum-informes col-lg-3" style="text-align: center;" data-placement="top" data-toggle="tooltip" title="Dar clic en el campo para ordenar" th:text="${cabecera[__${iter.index}__]}" onclick="InformesSortt();"> </th>
					</th:block>
						
						
				</tr>
			</thead>
			<tbody>												
				<tr  th:if="${listado} != null" th:each="listadol,iterl: ${listado}">
					<th:block th:if="${cabecera} != null" th:each="registroxcamp,iterc: ${cabecera}">
						<td class="td-tabla td-tabla-text-oculto" th:text="${listado[__${iterl.index}__][__${iterc.index}__]}"></td>
					</th:block>
				</tr>											
			</tbody>
		</table>
	

</div>